#

# START ZOOKEPER SERVICE
### RUN THIS COMMAND IN A TERMINAL
```
/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties

```
# START KAFKA BROKERS
### RUN THIS COMMAND ON A DIFFERENT TERMINAL FOR EACH LINE
```
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server1.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server2.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server3.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server4.properties
```
# LIST AVALABLE BROKERS
```
/usr/local/kafka/bin/zookeeper-shell.sh localhost:2181 ls /brokers/ids
```

# CREATE GROUPS AND TOPICS AVALABLE GROUPS
```
/usr/local/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --group jorge-cardona-kafka-batch --topic animals-topic-batch
/usr/local/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --group jorge-cardona-kafka-streaming --topic animals-topic-streaming
```

# LIST AVALABLE GROUPS
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --list
```

# LISTS TOPICS
```
/usr/local/kafka/bin/kafka-topics.sh --list --bootstrap-server localhost:9092
```

# LISTS CONSUMERS ASOCIATE TO GROUPS
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --describe --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --describe --group jorge-cardona-kafka-streaming
```

# DELETE CONSUMER GROUP
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-streaming
```

# DELETE TOPICS
```
# all topics at same time
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch,animals-topic-streaming

# or one by one topic
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-streaming
```

# DELETE TOPICS
```
# all groups at same time
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch,jorge-cardona-kafka-streaming


/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-streaming

# <center> PYTHON LIBRARY

# PRODUCE MESSAGES CLASIC WAY
### COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING READING

```python
from confluent_kafka import Producer
import json
from time import sleep
from datetime import datetime
import pytz
import random

def get_dataset():
    # Create a sample list with animal data
    dataset = [("lion", "mammal"), ("elephant", "mammal"), ("tiger", "feline"), ("whale", "mammal"), ("penguin", "bird"), ("gorilla", "primate"), ("leopard", "feline"), ("crocodile", "reptile"), ("rhinoceros", "mammal"), 
            ("zebra", "mammal"), ("hippopotamus", "mammal"), ("eagle", "bird"), ("orangutan", "primate"), ("grizzly bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), ("python", "reptile"), ("hawk", "bird"), 
            ("wolf", "mammal"), ("tortoise", "reptile"), ("swan", "bird"), ("cheetah", "feline"), ("seagull", "bird"), ("giraffe", "mammal"), ("deer", "mammal"), ("giraffe", "mammal"), ("lizard", "reptile"), ("flamingo", "bird"),
            ("chimp", "primate"), ("buffalo", "mammal"), ("vulture", "bird"), ("bear", "mammal"), ("anaconda", "reptile"), ("pigeon", "bird"), ("coyote", "mammal"), ("chameleon", "reptile"), ("ostrich", "bird"), ("jaguar", "feline"), 
            ("owl", "bird"), ("beetle", "insect"), ("snail", "invertebrate"), ("octopus", "cephalopod"), ("lobster", "crustacean"), ("koala", "marsupial"), ("crane", "bird"), ("iguana", "reptile"), ("lemur", "primate"), ("sloth", "mammal"), 
            ("gazelle", "mammal"), ("wombat", "marsupial"), ("hummingbird", "bird"), ("porcupine", "mammal"), ("macaw", "bird"), ("hyena", "mammal"), ("dolphin", "mammal"), ("seahorse", "fish"), ("orca", "mammal"), ("kangaroo", "marsupial"), 
            ("shark", "fish"), ("beaver", "mammal"), ("platypus", "mammal"), ("armadillo", "mammal"), ("rabbit", "mammal"), ("camel", "mammal"), ("squirrel", "mammal"), ("peacock", "bird"), ("crow", "bird"), ("frog", "amphibian"), 
            ("toad", "amphibian"), ("newt", "amphibian"), ("axolotl", "amphibian"), ("butterfly", "insect"), ("dragonfly", "insect"), ("grasshopper", "insect"), ("mantis", "insect"), ("beetle", "insect"), ("ant", "insect"), ("termite", "insect"),
            ("spider", "arachnid"), ("scorpion", "arachnid"), ("tick", "arachnid"), ("bee", "insect"), ("wasp", "insect"), ("hornet", "insect"), ("fly", "insect"), ("mosquito", "insect"), ("cockroach", "insect"), ("ladybug", "insect"), 
            ("firefly", "insect"), ("millipede", "arthropod"), ("centipede", "arthropod"), ("crab", "crustacean"), ("shrimp", "crustacean"), ("barnacle", "crustacean"), ("clam", "mollusk"), ("oyster", "mollusk"), ("mussel", "mollusk"), 
            ("snail", "mollusk"), ("slug", "mollusk"), ("squid", "cephalopod"), ("cuttlefish", "cephalopod"), ("nautilus", "cephalopod"), ("jellyfish", "cnidarian"), ("coral", "cnidarian"), ("hydra", "cnidarian"), ("anemone", "cnidarian"), 
            ("sponge", "porifera"), ("sea cucumber", "echinoderm"), ("starfish", "echinoderm"), ("sand dollar", "echinoderm"), ("sea urchin", "echinoderm"), ("brittle star", "echinoderm"), ("sea star", "echinoderm"), ("sea lily", "echinoderm"), 
            ("feather star", "echinoderm"), ("black widow", "arachnid"), ("brown recluse", "arachnid"), ("tarantula", "arachnid"), ("daddy longlegs", "arachnid"), ("wolf spider", "arachnid"), ("jumping spider", "arachnid"), 
            ("huntsman spider", "arachnid"), ("tarantula hawk", "insect"), ("assassin bug", "insect"), ("lacewing", "insect"), ("stink bug", "insect"), ("cicada", "insect"), ("walking stick", "insect"), ("scorpionfly", "insect"), 
            ("flower mantis", "insect"), ("praying mantis", "insect"), ("earwig", "insect"), ("flea", "insect"), ("leaf insect", "insect"), ("planthopper", "insect"), ("scale insect", "insect"), ("aphid", "insect"), ("mealybug", "insect"), 
            ("thrips", "insect"), ("whitefly", "insect"), ("beetle", "insect"), ("antlion", "insect"), ("snakefly", "insect"), ("dobsonfly", "insect"), ("webspinner", "insect"), ("mayfly", "insect"), ("stonefly", "insect"), 
            ("silverfish", "insect"), ("firebrat", "insect"), ("bristletail", "insect"), ("thysanuran", "insect"), ("dragonfly", "insect"), ("damselfly", "insect"), ("bluet", "insect"), ("darner", "insect"), ("adder", "insect"), 
            ("basker", "insect"), ("biter", "insect"), ("blister beetle", "insect"), ("bomber", "insect"), ("bristle beetle", "insect"), ("burrower", "insect"), ("carrier", "insect"), ("caterpillar", "insect"), ("chafers", "insect"), 
            ("chewer", "insect"), ("click beetle", "insect"), ("cobblers", "insect"), ("cobweb spider", "arachnid"), ("cockroaches", "insect"), ("coil worm", "insect"), ("creeper", "insect"), ("cuckoo wasp", "insect"), ("cutworm", "insect"), 
            ("digger", "insect"), ("dor beetle", "insect"), ("earthworms", "insect"), ("eggfly", "insect"), ("elaters", "insect"), ("emperor", "insect"), ("gadfly", "insect"), ("gnat", "insect"), ("grasshopper", "insect"), ("grazer", "insect"), 
            ("ground beetle", "insect"), ("harvester", "insect"), ("hornet", "insect"), ("hornworm", "insect"), ("humblebee", "insect"), ("humpbacked fly", "insect"), ("hoverfly", "insect"), ("hunter", "insect"), ("jumper", "insect"), 
            ("katydid", "insect"), ("lacewing", "insect"), ("leafcutter", "insect"), ("leafhopper", "insect"), ("leafroller", "insect"), ("louse", "insect"), ("maggot", "insect"), ("mantisfly", "insect"), ("marsh fly", "insect"), 
            ("marsh beetle", "insect"), ("mason wasp", "insect"), ("mealybug", "insect"), ("miner", "insect"), ("mite", "insect"), ("mole cricket", "insect"), ("moth", "insect"), ("nemesis", "insect"), ("net-winged insect", "insect"), 
            ("nightcrawler", "insect"), ("nit", "insect"), ("nymph", "insect"), ("odorous ant", "insect"), ("oracle", "insect"), ("orb weaver", "arachnid"), ("orcus", "insect"), ("ostracod", "insect"), ("outlaw", "insect"), 
            ("peacock butterfly", "insect"), ("pharaoh ant", "insect"), ("pillbug", "insect"), ("plankton", "insect"), ("pollinator", "insect"), ("potter wasp", "insect"), ("praying mantis", "insect"), ("predator", "insect"),
            ("proboscis", "insect"), ("prophet", "insect"), ("pruner", "insect"), ("pseudoscorpion", "arachnid"), ("psycho", "insect"), ("psycho fly", "insect"), ("psychodid", "insect"), ("pupa", "insect"), ("purple martin", "insect"), 
            ("putter", "insect"), ("ranger", "insect"), ("recluse", "insect"), ("reducer", "insect"), ("repeater", "insect"), ("riffle bug", "insect"), ("robber fly", "insect"), ("rootworm", "insect"), ("rover", "insect"), ("saber wasp", "insect"),
            ("sawfly", "insect"), ("scarab", "insect"), ("scorpionfly", "insect"), ("scourge", "insect"), ("scout", "insect"), ("scuttle fly", "insect"), ("silk spinner", "insect"), ("silverfish", "insect"), ("skipper butterfly", "insect"), 
            ("snout butterfly", "insect"), ("snout beetle", "insect"), ("snout moth", "insect"), ("sow bug", "insect"),("spider mite", "insect"), ("spider wasp", "insect"), ("sphinx moth", "insect"), ("spider", "arachnid"), ("spinner", "insect"),
            ("spittlebug", "insect"), ("spook", "insect"), ("springtail", "insect"), ("stag beetle", "insect"), ("stealer", "insect"), ("stinger", "insect"), ("stink bug", "insect"), ("stinging ant", "insect"), ("stonefly", "insect"), 
            ("strangler", "insect"), ("sucking louse", "insect"), ("sweat bee", "insect"), ("tailor", "insect"), ("tanglefoot", "insect"), ("tarantula", "arachnid"), ("tarantula hawk", "insect"), ("tick", "arachnid"), ("tiger beetle", "insect"), 
            ("tiger moth", "insect"), ("tiphiid wasp", "insect"), ("titan beetle", "insect"), ("toad bug", "insect"), ("torchbearer", "insect"), ("torpedo bug", "insect"), ("tortoise beetle", "insect"), ("trapper", "insect"), 
            ("tree cricket", "insect"), ("trilobite beetle", "insect"), ("trogonoptera", "insect"), ("twig borer", "insect"), ("vampire", "insect"), ("victorious", "insect"), ("vinegar fly", "insect"), ("vine (weevil", "insect"), 
            ("wanderer", "insect"), ("wasps", "insect"), ("weaver", "insect"), ("webworm moth", "insect"), ("weta", "insect"), ("whirligig beetle", "insect"), ("whisperer", "insect"), ("whitefly", "insect"), ("widow spider", "arachnid"),
            ("willow fly", "insect"), ("winged ant", "insect"), ("wood wasp", "insect"), ("woodworm", "insect"), ("woolly bear", "insect"), ("worm", "insect"),("wrestler", "insect"), ("yucca moth", "insect"), ("zebra butterfly", "insect"),("zebra", "mammal"), 
            ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"),("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"),
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"),("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    return dataset
    
def produce_messages(kafka_bootstrap_servers, topic, dataset, iterations=1, empty=0, random_sample=20):
    """
    Generate sample animal data and write it to a Kafka topic.

    Args:
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        topic (str): Kafka topic to which the data will be written.
        iterations (int, optional): Number of iterations to write data. Defaults to 1.
        empty (int, optional): Flag to indicate whether to write empty data. Defaults to 0.
    """
 
    # Kafka Producer configuration
    conf = {
        'bootstrap.servers': kafka_bootstrap_servers,
    }

    # Create Kafka Producer
    producer = Producer(conf)

    try:
        for iteration in range(iterations):
            # Select random elements from the data list
            selected_data = random.sample(dataset, random_sample)
            
            # Write data to Kafka
            local_timezone = pytz.timezone('America/New_York')  # Set the local timezone
            date_created = datetime.now(local_timezone).strftime('%Y-%m-%d %H:%M:%S %Z')  # Get current timestamp in the desired format
            for name, animal_type in selected_data:
                animal_data = {'name': name, 'type': animal_type, 'iteration': iteration + 1, 'date_created': date_created}
                producer.produce(topic, key='Animal', value=json.dumps(animal_data))  # Eliminé .encode('utf-8')
            # Print a message indicating that the data has been written to the Kafka topic
            print(f"Iteration {iteration + 1} , Data written to Kafka topic ({topic}).")    
            # delaying seconds for next batch
            sleep(iteration + 1)  # Fixed iteration + 1 seconds wait between iterations
            
        # Flush any remaining messages
        producer.flush()

    except Exception as e:
        print(f"Error: {e}")
    finally:
        # Close the producer
        producer.flush()  # Flush any remaining messages before closing
        producer.poll(0)  # Poll to handle any message delivery callbacks
        del producer

# Example usage:
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"
dataset = get_dataset()
produce_messages(kafka_bootstrap_servers=kafka_bootstrap_servers, dataset=dataset, topic=topic, iterations=5, random_sample = 25)
```

# CONSUME MESSAGES CLASIC WAY

In [9]:
from confluent_kafka import Consumer, KafkaError
import json
import pandas as pd
import time
from datetime import datetime
pd.set_option('display.max_colwidth', None)

def consume_messages(kafka_bootstrap_servers, topic, batch_size=20):
    """
    Consume messages from a Kafka topic in batches and return them as a pandas DataFrame.
    
    Args:
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        topic (str): Kafka topic from which to consume messages.
        batch_size (int): Size of each batch of messages to return as a DataFrame. Defaults to 20.
    
    Yields:
        pandas.DataFrame: DataFrame containing the consumed batch of messages.
    """
    # Consumer configuration
    conf = {
        'bootstrap.servers': kafka_bootstrap_servers,
        'group.id': 'my_consumer_group',
        'auto.offset.reset': 'earliest'
    }

    # Create consumer
    consumer = Consumer(conf)

    # Subscribe to the topic
    consumer.subscribe([topic])

    messages = []

    last_message_time = time.time()

    try:
        while True:
            # Wait for messages
            msg = consumer.poll(1.0)

            if msg is None:
                # Check if the time limit has passed without new messages
                if time.time() - last_message_time > 5:
                    print("No new messages received in the last 10 seconds. Stopping the consumer.")
                    break
                continue
            if msg.error():
                if msg.error().code() == KafkaError._PARTITION_EOF:
                    # End of partition (EOF), continue with the next one
                    continue
                else:
                    # Error
                    print(f"Error receiving message: {msg.error()}")
                    break

            # Update the time of the last received message
            last_message_time = time.time()

            # Decode the received value as JSON
            try:
                message = {
                    'Key': msg.key().decode('utf-8'),
                    'Value': msg.value().decode('utf-8'),
                    'Topic': msg.topic(),
                    'Partition': msg.partition(),
                    'Offset': msg.offset(),
                    'Timestamp': datetime.utcfromtimestamp(msg.timestamp()[1] / 1000).strftime('%Y-%m-%d %H:%M:%S')
                }
                messages.append(message)
            except Exception as e:
                print(f"Error processing message: {e}")

            # Check if the batch size has been reached
            if len(messages) == batch_size:
                # Convert the list of messages into a pandas DataFrame
                df = pd.DataFrame(messages)
                # Yield the DataFrame
                yield df
                # Clear the messages list for the next batch
                messages = []

    except KeyboardInterrupt:
        print("Stopping the consumer...")

    finally:
        # Close the consumer
        consumer.close()

        
# Example usage:
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"

for index, batch_df in enumerate(consume_messages(kafka_bootstrap_servers, topic, batch_size=15)):
    print(f'Batch index:', index)
    display(batch_df)  # Display the batch DataFrame
    # Perform operations on the batch DataFrame
    print(f'End Preprocessing batch {index}')
    print()

Batch index: 0

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""toad bug"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,125,2024-04-29 04:22:58
1,Animal,"{""name"":""odorous ant"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,126,2024-04-29 04:22:58
2,Animal,"{""name"":""vampire"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,127,2024-04-29 04:22:58
3,Animal,"{""name"":""cobweb spider"",""animal_type"":""arachnid"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,128,2024-04-29 04:22:58
4,Animal,"{""name"":""nautilus"",""animal_type"":""cephalopod"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,129,2024-04-29 04:22:58
5,Animal,"{""name"":""scourge"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,130,2024-04-29 04:22:58
6,Animal,"{""name"":""mason wasp"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,131,2024-04-29 04:22:58
7,Animal,"{""name"":""silverfish"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,132,2024-04-29 04:22:58
8,Animal,"{""name"":""bristletail"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,133,2024-04-29 04:22:58
9,Animal,"{""name"":""miner"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,134,2024-04-29 04:22:58
10,Animal,"{""name"":""woodworm"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,135,2024-04-29 04:22:58
11,Animal,"{""name"":""slug"",""animal_type"":""mollusk"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,136,2024-04-29 04:22:58
12,Animal,"{""name"":""whale"",""animal_type"":""mammal"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,137,2024-04-29 04:22:58
13,Animal,"{""name"":""newt"",""animal_type"":""amphibian"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,138,2024-04-29 04:22:58
14,Animal,"{""name"":""gazelle"",""animal_type"":""mammal"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,139,2024-04-29 04:22:58

End Preprocessing batch 0

Batch index: 1

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""victorious"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,140,2024-04-29 04:22:58
1,Animal,"{""name"":""snout moth"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,141,2024-04-29 04:22:58
2,Animal,"{""name"":""cuckoo wasp"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,142,2024-04-29 04:22:58
3,Animal,"{""name"":""nemesis"",""animal_type"":""insect"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,143,2024-04-29 04:22:58
4,Animal,"{""name"":""turtle"",""animal_type"":""reptile"",""iteration"":1,""date_created"":""2024-04-29 00:22:54 EDT""}",animals-topic-batch,0,144,2024-04-29 04:22:58
5,Animal,"{""name"":""sphinx moth"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,145,2024-04-29 04:22:58
6,Animal,"{""name"":""kangaroo"",""animal_type"":""marsupial"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,146,2024-04-29 04:22:58
7,Animal,"{""name"":""sawfly"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,147,2024-04-29 04:22:58
8,Animal,"{""name"":""toad"",""animal_type"":""amphibian"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,148,2024-04-29 04:22:58
9,Animal,"{""name"":""scout"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,149,2024-04-29 04:22:58
10,Animal,"{""name"":""orca"",""animal_type"":""mammal"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,150,2024-04-29 04:22:58
11,Animal,"{""name"":""tarantula"",""animal_type"":""arachnid"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,151,2024-04-29 04:22:58
12,Animal,"{""name"":""scorpionfly"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,152,2024-04-29 04:22:58
13,Animal,"{""name"":""gazelle"",""animal_type"":""mammal"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,153,2024-04-29 04:22:58
14,Animal,"{""name"":""lizard"",""animal_type"":""reptile"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,154,2024-04-29 04:22:58

End Preprocessing batch 1

Batch index: 2

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""hippopotamus"",""animal_type"":""mammal"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,155,2024-04-29 04:22:58
1,Animal,"{""name"":""swan"",""animal_type"":""bird"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,156,2024-04-29 04:22:58
2,Animal,"{""name"":""chafers"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,157,2024-04-29 04:22:58
3,Animal,"{""name"":""leafcutter"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,158,2024-04-29 04:22:58
4,Animal,"{""name"":""beetle"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,159,2024-04-29 04:22:58
5,Animal,"{""name"":""bristle beetle"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,160,2024-04-29 04:22:58
6,Animal,"{""name"":""sea cucumber"",""animal_type"":""echinoderm"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,161,2024-04-29 04:22:58
7,Animal,"{""name"":""oracle"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,162,2024-04-29 04:22:58
8,Animal,"{""name"":""cutworm"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,163,2024-04-29 04:22:58
9,Animal,"{""name"":""weta"",""animal_type"":""insect"",""iteration"":2,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,164,2024-04-29 04:22:58
10,Animal,"{""name"":""clam"",""animal_type"":""mollusk"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,165,2024-04-29 04:22:59
11,Animal,"{""name"":""ranger"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,166,2024-04-29 04:22:59
12,Animal,"{""name"":""digger"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,167,2024-04-29 04:22:59
13,Animal,"{""name"":""damselfly"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,168,2024-04-29 04:22:59
14,Animal,"{""name"":""strangler"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,169,2024-04-29 04:22:59

End Preprocessing batch 2

Batch index: 3

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""dolphin"",""animal_type"":""mammal"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,170,2024-04-29 04:22:59
1,Animal,"{""name"":""scarab"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,171,2024-04-29 04:22:59
2,Animal,"{""name"":""woodworm"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,172,2024-04-29 04:22:59
3,Animal,"{""name"":""torchbearer"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,173,2024-04-29 04:22:59
4,Animal,"{""name"":""carrier"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,174,2024-04-29 04:22:59
5,Animal,"{""name"":""gorilla"",""animal_type"":""primate"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,175,2024-04-29 04:22:59
6,Animal,"{""name"":""lacewing"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,176,2024-04-29 04:22:59
7,Animal,"{""name"":""chimp"",""animal_type"":""primate"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,177,2024-04-29 04:22:59
8,Animal,"{""name"":""planthopper"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,178,2024-04-29 04:22:59
9,Animal,"{""name"":""hunter"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,179,2024-04-29 04:22:59
10,Animal,"{""name"":""cicada"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,180,2024-04-29 04:22:59
11,Animal,"{""name"":""koala"",""animal_type"":""marsupial"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,181,2024-04-29 04:22:59
12,Animal,"{""name"":""deer"",""animal_type"":""mammal"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,182,2024-04-29 04:22:59
13,Animal,"{""name"":""owl"",""animal_type"":""bird"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,183,2024-04-29 04:22:59
14,Animal,"{""name"":""mosquito"",""animal_type"":""insect"",""iteration"":3,""date_created"":""2024-04-29 00:22:58 EDT""}",animals-topic-batch,0,184,2024-04-29 04:22:59

End Preprocessing batch 3

Batch index: 4

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""beetle"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,185,2024-04-29 04:22:59
1,Animal,"{""name"":""clam"",""animal_type"":""mollusk"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,186,2024-04-29 04:22:59
2,Animal,"{""name"":""rover"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,187,2024-04-29 04:22:59
3,Animal,"{""name"":""shark"",""animal_type"":""fish"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,188,2024-04-29 04:22:59
4,Animal,"{""name"":""penguin"",""animal_type"":""bird"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,189,2024-04-29 04:22:59
5,Animal,"{""name"":""sea lily"",""animal_type"":""echinoderm"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,190,2024-04-29 04:22:59
6,Animal,"{""name"":""parrot"",""animal_type"":""bird"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,191,2024-04-29 04:22:59
7,Animal,"{""name"":""firefly"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,192,2024-04-29 04:22:59
8,Animal,"{""name"":""pillbug"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,193,2024-04-29 04:22:59
9,Animal,"{""name"":""gnat"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,194,2024-04-29 04:22:59
10,Animal,"{""name"":""squid"",""animal_type"":""cephalopod"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,195,2024-04-29 04:22:59
11,Animal,"{""name"":""starfish"",""animal_type"":""echinoderm"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,196,2024-04-29 04:22:59
12,Animal,"{""name"":""willow fly"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,197,2024-04-29 04:22:59
13,Animal,"{""name"":""giraffe"",""animal_type"":""mammal"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,198,2024-04-29 04:22:59
14,Animal,"{""name"":""peacock"",""animal_type"":""bird"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,199,2024-04-29 04:22:59

End Preprocessing batch 4

Batch index: 5

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""shrimp"",""animal_type"":""crustacean"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,200,2024-04-29 04:22:59
1,Animal,"{""name"":""hippo"",""animal_type"":""mammal"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,201,2024-04-29 04:22:59
2,Animal,"{""name"":""sloth"",""animal_type"":""mammal"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,202,2024-04-29 04:22:59
3,Animal,"{""name"":""python"",""animal_type"":""reptile"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,203,2024-04-29 04:22:59
4,Animal,"{""name"":""flower mantis"",""animal_type"":""insect"",""iteration"":4,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,204,2024-04-29 04:22:59
5,Animal,"{""name"":""lion"",""animal_type"":""mammal"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,205,2024-04-29 04:22:59
6,Animal,"{""name"":""weta"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,206,2024-04-29 04:22:59
7,Animal,"{""name"":""orangutan"",""animal_type"":""primate"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,207,2024-04-29 04:22:59
8,Animal,"{""name"":""scarab"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,208,2024-04-29 04:22:59
9,Animal,"{""name"":""eggfly"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,209,2024-04-29 04:22:59
10,Animal,"{""name"":""firebrat"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,210,2024-04-29 04:22:59
11,Animal,"{""name"":""skipper butterfly"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,211,2024-04-29 04:22:59
12,Animal,"{""name"":""orcus"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,212,2024-04-29 04:22:59
13,Animal,"{""name"":""torchbearer"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,213,2024-04-29 04:22:59
14,Animal,"{""name"":""fly"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,214,2024-04-29 04:22:59

End Preprocessing batch 5

Batch index: 6

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"":""panther"",""animal_type"":""feline"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,215,2024-04-29 04:22:59
1,Animal,"{""name"":""squirrel"",""animal_type"":""mammal"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,216,2024-04-29 04:22:59
2,Animal,"{""name"":""brittle star"",""animal_type"":""echinoderm"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,217,2024-04-29 04:22:59
3,Animal,"{""name"":""giraffe"",""animal_type"":""mammal"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,218,2024-04-29 04:22:59
4,Animal,"{""name"":""snake"",""animal_type"":""reptile"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,219,2024-04-29 04:22:59
5,Animal,"{""name"":""cockroach"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,220,2024-04-29 04:22:59
6,Animal,"{""name"":""gazelle"",""animal_type"":""mammal"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,221,2024-04-29 04:22:59
7,Animal,"{""name"":""digger"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,222,2024-04-29 04:22:59
8,Animal,"{""name"":""robber fly"",""animal_type"":""insect"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,223,2024-04-29 04:22:59
9,Animal,"{""name"":""chimpanzee"",""animal_type"":""primate"",""iteration"":5,""date_created"":""2024-04-29 00:22:59 EDT""}",animals-topic-batch,0,224,2024-04-29 04:22:59
10,Animal,"{""name"": ""dragonfly"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,225,2024-04-29 04:25:22
11,Animal,"{""name"": ""praying mantis"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,226,2024-04-29 04:25:22
12,Animal,"{""name"": ""nightcrawler"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,227,2024-04-29 04:25:22
13,Animal,"{""name"": ""creeper"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,228,2024-04-29 04:25:22
14,Animal,"{""name"": ""cobblers"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,229,2024-04-29 04:25:22

End Preprocessing batch 6

Batch index: 7

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""eggfly"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,230,2024-04-29 04:25:22
1,Animal,"{""name"": ""plankton"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,231,2024-04-29 04:25:22
2,Animal,"{""name"": ""chimpanzee"", ""type"": ""primate"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,232,2024-04-29 04:25:22
3,Animal,"{""name"": ""crab"", ""type"": ""crustacean"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,233,2024-04-29 04:25:22
4,Animal,"{""name"": ""sand dollar"", ""type"": ""echinoderm"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,234,2024-04-29 04:25:22
5,Animal,"{""name"": ""fox"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,235,2024-04-29 04:25:22
6,Animal,"{""name"": ""whitefly"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,236,2024-04-29 04:25:22
7,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,237,2024-04-29 04:25:22
8,Animal,"{""name"": ""giraffe"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,238,2024-04-29 04:25:22
9,Animal,"{""name"": ""orangutan"", ""type"": ""primate"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,239,2024-04-29 04:25:22
10,Animal,"{""name"": ""crocodile"", ""type"": ""reptile"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,240,2024-04-29 04:25:22
11,Animal,"{""name"": ""putter"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,241,2024-04-29 04:25:22
12,Animal,"{""name"": ""louse"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,242,2024-04-29 04:25:22
13,Animal,"{""name"": ""hydra"", ""type"": ""cnidarian"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,243,2024-04-29 04:25:22
14,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,244,2024-04-29 04:25:22

End Preprocessing batch 7

Batch index: 8

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""flea"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,245,2024-04-29 04:25:22
1,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,246,2024-04-29 04:25:22
2,Animal,"{""name"": ""cheetah"", ""type"": ""feline"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,247,2024-04-29 04:25:22
3,Animal,"{""name"": ""sloth"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,248,2024-04-29 04:25:22
4,Animal,"{""name"": ""nemesis"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-04-29 00:25:22 EDT""}",animals-topic-batch,0,249,2024-04-29 04:25:22
5,Animal,"{""name"": ""leafroller"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,250,2024-04-29 04:25:23
6,Animal,"{""name"": ""leafcutter"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,251,2024-04-29 04:25:23
7,Animal,"{""name"": ""firefly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,252,2024-04-29 04:25:23
8,Animal,"{""name"": ""widow spider"", ""type"": ""arachnid"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,253,2024-04-29 04:25:23
9,Animal,"{""name"": ""stealer"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,254,2024-04-29 04:25:23
10,Animal,"{""name"": ""crow"", ""type"": ""bird"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,255,2024-04-29 04:25:23
11,Animal,"{""name"": ""trogonoptera"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,256,2024-04-29 04:25:23
12,Animal,"{""name"": ""cuckoo wasp"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,257,2024-04-29 04:25:23
13,Animal,"{""name"": ""walking stick"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,258,2024-04-29 04:25:23
14,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,259,2024-04-29 04:25:23

End Preprocessing batch 8

Batch index: 9

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,260,2024-04-29 04:25:23
1,Animal,"{""name"": ""lobster"", ""type"": ""crustacean"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,261,2024-04-29 04:25:23
2,Animal,"{""name"": ""wrestler"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,262,2024-04-29 04:25:23
3,Animal,"{""name"": ""assassin bug"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,263,2024-04-29 04:25:23
4,Animal,"{""name"": ""platypus"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,264,2024-04-29 04:25:23
5,Animal,"{""name"": ""putter"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,265,2024-04-29 04:25:23
6,Animal,"{""name"": ""tarantula hawk"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,266,2024-04-29 04:25:23
7,Animal,"{""name"": ""mealybug"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,267,2024-04-29 04:25:23
8,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,268,2024-04-29 04:25:23
9,Animal,"{""name"": ""leaf insect"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,269,2024-04-29 04:25:23
10,Animal,"{""name"": ""titan beetle"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,270,2024-04-29 04:25:23
11,Animal,"{""name"": ""newt"", ""type"": ""amphibian"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,271,2024-04-29 04:25:23
12,Animal,"{""name"": ""jaguar"", ""type"": ""feline"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,272,2024-04-29 04:25:23
13,Animal,"{""name"": ""millipede"", ""type"": ""arthropod"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,273,2024-04-29 04:25:23
14,Animal,"{""name"": ""squid"", ""type"": ""cephalopod"", ""iteration"": 2, ""date_created"": ""2024-04-29 00:25:23 EDT""}",animals-topic-batch,0,274,2024-04-29 04:25:23

End Preprocessing batch 9

-------------------------------------------
Batch: 1
-------------------------------------------
+------+--------------------+
|   key|               value|
+------+--------------------+
|Animal|{"NAME": "DRAGONF...|
|Animal|{"NAME": "PRAYING...|
|Animal|{"NAME": "NIGHTCR...|
|Animal|{"NAME": "CREEPER...|
|Animal|{"NAME": "COBBLER...|
|Animal|{"NAME": "EGGFLY"...|
|Animal|{"NAME": "PLANKTO...|
|Animal|{"NAME": "CHIMPAN...|
|Animal|{"NAME": "CRAB", ...|
|Animal|{"NAME": "SAND DO...|
|Animal|{"NAME": "FOX", "...|
|Animal|{"NAME": "WHITEFL...|
|Animal|{"NAME": "SPIDER"...|
|Animal|{"NAME": "GIRAFFE...|
|Animal|{"NAME": "ORANGUT...|
|Animal|{"NAME": "CROCODI...|
|Animal|{"NAME": "PUTTER"...|
|Animal|{"NAME": "LOUSE",...|
|Animal|{"NAME": "HYDRA",...|
|Animal|{"NAME": "IGUANA"...|
+------+--------------------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+------+--------------------+
|   key|               value|
+------+--------------------+
|Animal|{"NAME": "LEAFROL...|
|Animal|{"NAME": "LEAFCUT...|
|Animal|{"NAME": "FIREFLY...|
|Animal|{"NAME": "WIDOW S...|
|Animal|{"NAME": "STEALER...|
|Animal|{"NAME": "CROW", ...|
|Animal|{"NAME": "TROGONO...|
|Animal|{"NAME": "CUCKOO ...|
|Animal|{"NAME": "WALKING...|
|Animal|{"NAME": "SPIDER"...|
|Animal|{"NAME": "ZEBRA",...|
|Animal|{"NAME": "LOBSTER...|
|Animal|{"NAME": "WRESTLE...|
|Animal|{"NAME": "ASSASSI...|
|Animal|{"NAME": "PLATYPU...|
|Animal|{"NAME": "PUTTER"...|
|Animal|{"NAME": "TARANTU...|
|Animal|{"NAME": "MEALYBU...|
|Animal|{"NAME": "ZEBRA",...|
|Animal|{"NAME": "LEAF IN...|
+------+--------------------+
only showing top 20 rows

Batch index: 10

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""nit"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,275,2024-04-29 04:25:25
1,Animal,"{""name"": ""carrier"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,276,2024-04-29 04:25:25
2,Animal,"{""name"": ""gadfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,277,2024-04-29 04:25:25
3,Animal,"{""name"": ""psycho"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,278,2024-04-29 04:25:25
4,Animal,"{""name"": ""thysanuran"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,279,2024-04-29 04:25:25
5,Animal,"{""name"": ""widow spider"", ""type"": ""arachnid"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,280,2024-04-29 04:25:25
6,Animal,"{""name"": ""anaconda"", ""type"": ""reptile"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,281,2024-04-29 04:25:25
7,Animal,"{""name"": ""toad bug"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,282,2024-04-29 04:25:25
8,Animal,"{""name"": ""stinging ant"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,283,2024-04-29 04:25:25
9,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,284,2024-04-29 04:25:25
10,Animal,"{""name"": ""crow"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,285,2024-04-29 04:25:25
11,Animal,"{""name"": ""vulture"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,286,2024-04-29 04:25:25
12,Animal,"{""name"": ""snail"", ""type"": ""mollusk"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,287,2024-04-29 04:25:25
13,Animal,"{""name"": ""hunter"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,288,2024-04-29 04:25:25
14,Animal,"{""name"": ""swan"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,289,2024-04-29 04:25:25

End Preprocessing batch 10

-------------------------------------------
Batch: 3
-------------------------------------------
+------+--------------------+
|   key|               value|
+------+--------------------+
|Animal|{"NAME": "NIT", "...|
|Animal|{"NAME": "CARRIER...|
|Animal|{"NAME": "GADFLY"...|
|Animal|{"NAME": "PSYCHO"...|
|Animal|{"NAME": "THYSANU...|
|Animal|{"NAME": "WIDOW S...|
|Animal|{"NAME": "ANACOND...|
|Animal|{"NAME": "TOAD BU...|
|Animal|{"NAME": "STINGIN...|
|Animal|{"NAME": "IGUANA"...|
|Animal|{"NAME": "CROW", ...|
|Animal|{"NAME": "VULTURE...|
|Animal|{"NAME": "SNAIL",...|
|Animal|{"NAME": "HUNTER"...|
|Animal|{"NAME": "SWAN", ...|
|Animal|{"NAME": "FIREFLY...|
|Animal|{"NAME": "GIRAFFE...|
|Animal|{"NAME": "SUCKING...|
|Animal|{"NAME": "SWAN", ...|
|Animal|{"NAME": "SNOUT B...|
+------+--------------------+
only showing top 20 rows

Batch index: 11

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""firefly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,290,2024-04-29 04:25:25
1,Animal,"{""name"": ""giraffe"", ""type"": ""mammal"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,291,2024-04-29 04:25:25
2,Animal,"{""name"": ""sucking louse"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,292,2024-04-29 04:25:25
3,Animal,"{""name"": ""swan"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,293,2024-04-29 04:25:25
4,Animal,"{""name"": ""snout butterfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,294,2024-04-29 04:25:25
5,Animal,"{""name"": ""mealybug"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,295,2024-04-29 04:25:25
6,Animal,"{""name"": ""black widow"", ""type"": ""arachnid"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,296,2024-04-29 04:25:25
7,Animal,"{""name"": ""blister beetle"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,297,2024-04-29 04:25:25
8,Animal,"{""name"": ""scale insect"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,298,2024-04-29 04:25:25
9,Animal,"{""name"": ""tarantula hawk"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-04-29 00:25:25 EDT""}",animals-topic-batch,0,299,2024-04-29 04:25:25
10,Animal,"{""name"": ""tree cricket"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,300,2024-04-29 04:25:28
11,Animal,"{""name"": ""chameleon"", ""type"": ""reptile"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,301,2024-04-29 04:25:28
12,Animal,"{""name"": ""eggfly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,302,2024-04-29 04:25:28
13,Animal,"{""name"": ""scourge"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,303,2024-04-29 04:25:28
14,Animal,"{""name"": ""gazelle"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,304,2024-04-29 04:25:28

End Preprocessing batch 11

Batch index: 12

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""silverfish"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,305,2024-04-29 04:25:28
1,Animal,"{""name"": ""orb weaver"", ""type"": ""arachnid"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,306,2024-04-29 04:25:28
2,Animal,"{""name"": ""frog"", ""type"": ""amphibian"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,307,2024-04-29 04:25:28
3,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,308,2024-04-29 04:25:28
4,Animal,"{""name"": ""earwig"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,309,2024-04-29 04:25:28
5,Animal,"{""name"": ""peacock"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,310,2024-04-29 04:25:28
6,Animal,"{""name"": ""jumper"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,311,2024-04-29 04:25:28
7,Animal,"{""name"": ""nightcrawler"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,312,2024-04-29 04:25:28
8,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,313,2024-04-29 04:25:28
9,Animal,"{""name"": ""koala"", ""type"": ""marsupial"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,314,2024-04-29 04:25:28
10,Animal,"{""name"": ""fly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,315,2024-04-29 04:25:28
11,Animal,"{""name"": ""coral"", ""type"": ""cnidarian"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,316,2024-04-29 04:25:28
12,Animal,"{""name"": ""hydra"", ""type"": ""cnidarian"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,317,2024-04-29 04:25:28
13,Animal,"{""name"": ""potter wasp"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,318,2024-04-29 04:25:28
14,Animal,"{""name"": ""weta"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,319,2024-04-29 04:25:28

End Preprocessing batch 12

-------------------------------------------
Batch: 4
-------------------------------------------
+------+--------------------+
|   key|               value|
+------+--------------------+
|Animal|{"NAME": "TREE CR...|
|Animal|{"NAME": "CHAMELE...|
|Animal|{"NAME": "EGGFLY"...|
|Animal|{"NAME": "SCOURGE...|
|Animal|{"NAME": "GAZELLE...|
|Animal|{"NAME": "SILVERF...|
|Animal|{"NAME": "ORB WEA...|
|Animal|{"NAME": "FROG", ...|
|Animal|{"NAME": "ZEBRA",...|
|Animal|{"NAME": "EARWIG"...|
|Animal|{"NAME": "PEACOCK...|
|Animal|{"NAME": "JUMPER"...|
|Animal|{"NAME": "NIGHTCR...|
|Animal|{"NAME": "SEAGULL...|
|Animal|{"NAME": "KOALA",...|
|Animal|{"NAME": "FLY", "...|
|Animal|{"NAME": "CORAL",...|
|Animal|{"NAME": "HYDRA",...|
|Animal|{"NAME": "POTTER ...|
|Animal|{"NAME": "WETA", ...|
+------+--------------------+
only showing top 20 rows

Batch index: 13

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""pillbug"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,320,2024-04-29 04:25:28
1,Animal,"{""name"": ""willow fly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,321,2024-04-29 04:25:28
2,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,322,2024-04-29 04:25:28
3,Animal,"{""name"": ""wolf"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,323,2024-04-29 04:25:28
4,Animal,"{""name"": ""nautilus"", ""type"": ""cephalopod"", ""iteration"": 4, ""date_created"": ""2024-04-29 00:25:28 EDT""}",animals-topic-batch,0,324,2024-04-29 04:25:28
5,Animal,"{""name"": ""camel"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,325,2024-04-29 04:25:32
6,Animal,"{""name"": ""elaters"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,326,2024-04-29 04:25:32
7,Animal,"{""name"": ""tailor"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,327,2024-04-29 04:25:32
8,Animal,"{""name"": ""praying mantis"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,328,2024-04-29 04:25:32
9,Animal,"{""name"": ""centipede"", ""type"": ""arthropod"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,329,2024-04-29 04:25:32
10,Animal,"{""name"": ""plankton"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,330,2024-04-29 04:25:32
11,Animal,"{""name"": ""hummingbird"", ""type"": ""bird"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,331,2024-04-29 04:25:32
12,Animal,"{""name"": ""jaguar"", ""type"": ""feline"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,332,2024-04-29 04:25:32
13,Animal,"{""name"": ""parrot"", ""type"": ""bird"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,333,2024-04-29 04:25:32
14,Animal,"{""name"": ""trapper"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,334,2024-04-29 04:25:32

End Preprocessing batch 13

Batch index: 14

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""crab"", ""type"": ""crustacean"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,335,2024-04-29 04:25:32
1,Animal,"{""name"": ""bomber"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,336,2024-04-29 04:25:32
2,Animal,"{""name"": ""koala"", ""type"": ""marsupial"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,337,2024-04-29 04:25:32
3,Animal,"{""name"": ""crocodile"", ""type"": ""reptile"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,338,2024-04-29 04:25:32
4,Animal,"{""name"": ""ladybug"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,339,2024-04-29 04:25:32
5,Animal,"{""name"": ""katydid"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,340,2024-04-29 04:25:32
6,Animal,"{""name"": ""trogonoptera"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,341,2024-04-29 04:25:32
7,Animal,"{""name"": ""tarantula"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,342,2024-04-29 04:25:32
8,Animal,"{""name"": ""prophet"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,343,2024-04-29 04:25:32
9,Animal,"{""name"": ""grasshopper"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,344,2024-04-29 04:25:32
10,Animal,"{""name"": ""robber fly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,345,2024-04-29 04:25:32
11,Animal,"{""name"": ""wolf spider"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,346,2024-04-29 04:25:32
12,Animal,"{""name"": ""marsh beetle"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,347,2024-04-29 04:25:32
13,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,348,2024-04-29 04:25:32
14,Animal,"{""name"": ""millipede"", ""type"": ""arthropod"", ""iteration"": 5, ""date_created"": ""2024-04-29 00:25:32 EDT""}",animals-topic-batch,0,349,2024-04-29 04:25:32

End Preprocessing batch 14

-------------------------------------------
Batch: 5
-------------------------------------------
+------+--------------------+
|   key|               value|
+------+--------------------+
|Animal|{"NAME": "CAMEL",...|
|Animal|{"NAME": "ELATERS...|
|Animal|{"NAME": "TAILOR"...|
|Animal|{"NAME": "PRAYING...|
|Animal|{"NAME": "CENTIPE...|
|Animal|{"NAME": "PLANKTO...|
|Animal|{"NAME": "HUMMING...|
|Animal|{"NAME": "JAGUAR"...|
|Animal|{"NAME": "PARROT"...|
|Animal|{"NAME": "TRAPPER...|
|Animal|{"NAME": "CRAB", ...|
|Animal|{"NAME": "BOMBER"...|
|Animal|{"NAME": "KOALA",...|
|Animal|{"NAME": "CROCODI...|
|Animal|{"NAME": "LADYBUG...|
|Animal|{"NAME": "KATYDID...|
|Animal|{"NAME": "TROGONO...|
|Animal|{"NAME": "TARANTU...|
|Animal|{"NAME": "PROPHET...|
|Animal|{"NAME": "GRASSHO...|
+------+--------------------+
only showing top 20 rows

No new messages received in the last 10 seconds. Stopping the consumer.

# <center> SPARK

# ANIMALS DATASET

In [2]:
def get_dataset():
    # Create a sample list with animal data
    dataset = [("lion", "mammal"), ("elephant", "mammal"), ("tiger", "feline"), ("whale", "mammal"), ("penguin", "bird"), ("gorilla", "primate"), ("leopard", "feline"), ("crocodile", "reptile"), ("rhinoceros", "mammal"), 
            ("zebra", "mammal"), ("hippopotamus", "mammal"), ("eagle", "bird"), ("orangutan", "primate"), ("grizzly bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), ("python", "reptile"), ("hawk", "bird"), 
            ("wolf", "mammal"), ("tortoise", "reptile"), ("swan", "bird"), ("cheetah", "feline"), ("seagull", "bird"), ("giraffe", "mammal"), ("deer", "mammal"), ("giraffe", "mammal"), ("lizard", "reptile"), ("flamingo", "bird"),
            ("chimp", "primate"), ("buffalo", "mammal"), ("vulture", "bird"), ("bear", "mammal"), ("anaconda", "reptile"), ("pigeon", "bird"), ("coyote", "mammal"), ("chameleon", "reptile"), ("ostrich", "bird"), ("jaguar", "feline"), 
            ("owl", "bird"), ("beetle", "insect"), ("snail", "invertebrate"), ("octopus", "cephalopod"), ("lobster", "crustacean"), ("koala", "marsupial"), ("crane", "bird"), ("iguana", "reptile"), ("lemur", "primate"), ("sloth", "mammal"), 
            ("gazelle", "mammal"), ("wombat", "marsupial"), ("hummingbird", "bird"), ("porcupine", "mammal"), ("macaw", "bird"), ("hyena", "mammal"), ("dolphin", "mammal"), ("seahorse", "fish"), ("orca", "mammal"), ("kangaroo", "marsupial"), 
            ("shark", "fish"), ("beaver", "mammal"), ("platypus", "mammal"), ("armadillo", "mammal"), ("rabbit", "mammal"), ("camel", "mammal"), ("squirrel", "mammal"), ("peacock", "bird"), ("crow", "bird"), ("frog", "amphibian"), 
            ("toad", "amphibian"), ("newt", "amphibian"), ("axolotl", "amphibian"), ("butterfly", "insect"), ("dragonfly", "insect"), ("grasshopper", "insect"), ("mantis", "insect"), ("beetle", "insect"), ("ant", "insect"), ("termite", "insect"),
            ("spider", "arachnid"), ("scorpion", "arachnid"), ("tick", "arachnid"), ("bee", "insect"), ("wasp", "insect"), ("hornet", "insect"), ("fly", "insect"), ("mosquito", "insect"), ("cockroach", "insect"), ("ladybug", "insect"), 
            ("firefly", "insect"), ("millipede", "arthropod"), ("centipede", "arthropod"), ("crab", "crustacean"), ("shrimp", "crustacean"), ("barnacle", "crustacean"), ("clam", "mollusk"), ("oyster", "mollusk"), ("mussel", "mollusk"), 
            ("snail", "mollusk"), ("slug", "mollusk"), ("squid", "cephalopod"), ("cuttlefish", "cephalopod"), ("nautilus", "cephalopod"), ("jellyfish", "cnidarian"), ("coral", "cnidarian"), ("hydra", "cnidarian"), ("anemone", "cnidarian"), 
            ("sponge", "porifera"), ("sea cucumber", "echinoderm"), ("starfish", "echinoderm"), ("sand dollar", "echinoderm"), ("sea urchin", "echinoderm"), ("brittle star", "echinoderm"), ("sea star", "echinoderm"), ("sea lily", "echinoderm"), 
            ("feather star", "echinoderm"), ("black widow", "arachnid"), ("brown recluse", "arachnid"), ("tarantula", "arachnid"), ("daddy longlegs", "arachnid"), ("wolf spider", "arachnid"), ("jumping spider", "arachnid"), 
            ("huntsman spider", "arachnid"), ("tarantula hawk", "insect"), ("assassin bug", "insect"), ("lacewing", "insect"), ("stink bug", "insect"), ("cicada", "insect"), ("walking stick", "insect"), ("scorpionfly", "insect"), 
            ("flower mantis", "insect"), ("praying mantis", "insect"), ("earwig", "insect"), ("flea", "insect"), ("leaf insect", "insect"), ("planthopper", "insect"), ("scale insect", "insect"), ("aphid", "insect"), ("mealybug", "insect"), 
            ("thrips", "insect"), ("whitefly", "insect"), ("beetle", "insect"), ("antlion", "insect"), ("snakefly", "insect"), ("dobsonfly", "insect"), ("webspinner", "insect"), ("mayfly", "insect"), ("stonefly", "insect"), 
            ("silverfish", "insect"), ("firebrat", "insect"), ("bristletail", "insect"), ("thysanuran", "insect"), ("dragonfly", "insect"), ("damselfly", "insect"), ("bluet", "insect"), ("darner", "insect"), ("adder", "insect"), 
            ("basker", "insect"), ("biter", "insect"), ("blister beetle", "insect"), ("bomber", "insect"), ("bristle beetle", "insect"), ("burrower", "insect"), ("carrier", "insect"), ("caterpillar", "insect"), ("chafers", "insect"), 
            ("chewer", "insect"), ("click beetle", "insect"), ("cobblers", "insect"), ("cobweb spider", "arachnid"), ("cockroaches", "insect"), ("coil worm", "insect"), ("creeper", "insect"), ("cuckoo wasp", "insect"), ("cutworm", "insect"), 
            ("digger", "insect"), ("dor beetle", "insect"), ("earthworms", "insect"), ("eggfly", "insect"), ("elaters", "insect"), ("emperor", "insect"), ("gadfly", "insect"), ("gnat", "insect"), ("grasshopper", "insect"), ("grazer", "insect"), 
            ("ground beetle", "insect"), ("harvester", "insect"), ("hornet", "insect"), ("hornworm", "insect"), ("humblebee", "insect"), ("humpbacked fly", "insect"), ("hoverfly", "insect"), ("hunter", "insect"), ("jumper", "insect"), 
            ("katydid", "insect"), ("lacewing", "insect"), ("leafcutter", "insect"), ("leafhopper", "insect"), ("leafroller", "insect"), ("louse", "insect"), ("maggot", "insect"), ("mantisfly", "insect"), ("marsh fly", "insect"), 
            ("marsh beetle", "insect"), ("mason wasp", "insect"), ("mealybug", "insect"), ("miner", "insect"), ("mite", "insect"), ("mole cricket", "insect"), ("moth", "insect"), ("nemesis", "insect"), ("net-winged insect", "insect"), 
            ("nightcrawler", "insect"), ("nit", "insect"), ("nymph", "insect"), ("odorous ant", "insect"), ("oracle", "insect"), ("orb weaver", "arachnid"), ("orcus", "insect"), ("ostracod", "insect"), ("outlaw", "insect"), 
            ("peacock butterfly", "insect"), ("pharaoh ant", "insect"), ("pillbug", "insect"), ("plankton", "insect"), ("pollinator", "insect"), ("potter wasp", "insect"), ("praying mantis", "insect"), ("predator", "insect"),
            ("proboscis", "insect"), ("prophet", "insect"), ("pruner", "insect"), ("pseudoscorpion", "arachnid"), ("psycho", "insect"), ("psycho fly", "insect"), ("psychodid", "insect"), ("pupa", "insect"), ("purple martin", "insect"), 
            ("putter", "insect"), ("ranger", "insect"), ("recluse", "insect"), ("reducer", "insect"), ("repeater", "insect"), ("riffle bug", "insect"), ("robber fly", "insect"), ("rootworm", "insect"), ("rover", "insect"), ("saber wasp", "insect"),
            ("sawfly", "insect"), ("scarab", "insect"), ("scorpionfly", "insect"), ("scourge", "insect"), ("scout", "insect"), ("scuttle fly", "insect"), ("silk spinner", "insect"), ("silverfish", "insect"), ("skipper butterfly", "insect"), 
            ("snout butterfly", "insect"), ("snout beetle", "insect"), ("snout moth", "insect"), ("sow bug", "insect"),("spider mite", "insect"), ("spider wasp", "insect"), ("sphinx moth", "insect"), ("spider", "arachnid"), ("spinner", "insect"),
            ("spittlebug", "insect"), ("spook", "insect"), ("springtail", "insect"), ("stag beetle", "insect"), ("stealer", "insect"), ("stinger", "insect"), ("stink bug", "insect"), ("stinging ant", "insect"), ("stonefly", "insect"), 
            ("strangler", "insect"), ("sucking louse", "insect"), ("sweat bee", "insect"), ("tailor", "insect"), ("tanglefoot", "insect"), ("tarantula", "arachnid"), ("tarantula hawk", "insect"), ("tick", "arachnid"), ("tiger beetle", "insect"), 
            ("tiger moth", "insect"), ("tiphiid wasp", "insect"), ("titan beetle", "insect"), ("toad bug", "insect"), ("torchbearer", "insect"), ("torpedo bug", "insect"), ("tortoise beetle", "insect"), ("trapper", "insect"), 
            ("tree cricket", "insect"), ("trilobite beetle", "insect"), ("trogonoptera", "insect"), ("twig borer", "insect"), ("vampire", "insect"), ("victorious", "insect"), ("vinegar fly", "insect"), ("vine (weevil", "insect"), 
            ("wanderer", "insect"), ("wasps", "insect"), ("weaver", "insect"), ("webworm moth", "insect"), ("weta", "insect"), ("whirligig beetle", "insect"), ("whisperer", "insect"), ("whitefly", "insect"), ("widow spider", "arachnid"),
            ("willow fly", "insect"), ("winged ant", "insect"), ("wood wasp", "insect"), ("woodworm", "insect"), ("woolly bear", "insect"), ("worm", "insect"),("wrestler", "insect"), ("yucca moth", "insect"), ("zebra butterfly", "insect"),("zebra", "mammal"), 
            ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"),("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"),
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"),("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    return dataset

# DEPENDENCIES

In [3]:
import os
from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.12.0.jar",
    "kafka-clients-3.7.0.jar",
    "spark-sql-kafka-0-10_2.12-3.4.3.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.3.jar"
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"

# Create Spark session and add JARs
spark_session = SparkSession.builder \
    .appName("WriteKafkaAnimals") \
    .config("spark.jars", dependencies) \
    .getOrCreate()

24/04/29 04:22:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# BATCH WRITING

In [4]:
from time import sleep
from datetime import datetime
import pytz
import random

# Function to save batch data to a Kafka topic
def save_batch_data(spark_session, kafka_bootstrap_servers, dataset, topic, iterations=1, empty=0, random_sample=20):
    """
    Save batch data to a Kafka topic.

    Args:
        spark_session (SparkSession): Spark session object.
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        dataset (list): List of tuples containing data to be written to Kafka.
        topic (str): Kafka topic to which the data will be written.
        iterations (int, optional): Number of iterations to run. Defaults to 1.
        empty (int, optional): Placeholder for future use. Defaults to 0.
        random_sample (int, optional): Number of random samples to select from the dataset for each iteration. Defaults to 20.
    """
    # Define the columns for the DataFrame
    columns = ["topic_name", "name", "animal_type", "iteration", "date_created"]

    # Iterate through the specified number of iterations
    for iteration in range(iterations):
        # Select random elements from the dataset
        selected_data = random.sample(dataset, random_sample)
        
        # Write data to Kafka
        local_timezone = pytz.timezone('America/New_York')  # Set the local timezone
        date_created = datetime.now(local_timezone).strftime('%Y-%m-%d %H:%M:%S %Z')  # Get the current timestamp in the desired format

        values =  list()
        
        # Create a list of tuples with animal data and other metadata
        for name, animal_type in selected_data:
            animal_data = ('Animal', name, animal_type, iteration + 1, date_created)
            values.append(animal_data)

        # Create a Spark DataFrame from the values and columns
        df_animals = spark_session.createDataFrame(values, columns)
        
        # Write the DataFrame to the Kafka topic
        df_animals.selectExpr("topic_name as key", "to_json(struct(name, animal_type, iteration, date_created)) as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
    
        # Print a message indicating that the data has been written to the Kafka topic
        print(f"Iteration {iteration + 1} , Data written to Kafka topic ({topic}).")
        
# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"
dataset = get_dataset()
save_batch_data(spark_session=spark_session, kafka_bootstrap_servers=kafka_bootstrap_servers, dataset=dataset, topic=topic, iterations=5)

Iteration 1 , Data written to Kafka topic (animals-topic-batch).
Iteration 2 , Data written to Kafka topic (animals-topic-batch).
Iteration 3 , Data written to Kafka topic (animals-topic-batch).
Iteration 4 , Data written to Kafka topic (animals-topic-batch).
Iteration 5 , Data written to Kafka topic (animals-topic-batch).

# BATCH READING

In [5]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Define the hexadecimal decoding function
@udf(returnType=StringType())
def decode_hex(value):
    try:
        if isinstance(value, str):
            return bytes.fromhex(value).decode('utf-8')
        elif isinstance(value, bytearray):
            return bytes(value).decode('utf-8')
        else:
            return str(value)
    except (ValueError, UnicodeDecodeError):
        return str(value)
            
def read_batch_data(spark_session, kafka_bootstrap_servers, topic):

    # Try to read data from Kafka
    try:
        # Read data from Kafka
        df_kafka = spark_session \
            .read \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("subscribe", topic) \
            .load()
    
        # Decode hexadecimal values
        df_decoded = df_kafka \
            .withColumn('key', decode_hex('key')) \
            .withColumn('value', decode_hex('value'))
    
        # Show the DataFrame with decoded data
        df_decoded.show(truncate=False)
    
    except Exception as e:
        if "UnknownTopicOrPartitionException" in str(e):
            print(f"The topic '{topic}' does not exist in the Kafka cluster.")
        else:
            print(f"Unexpected error: {e}")
    
    finally:
        # Stop the Spark session
        None

topic = "animals-topic-batch"
read_batch_data(spark_session, kafka_bootstrap_servers, topic)

24/04/29 04:23:00 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894

+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
|key   |value                                                                                                     |topic              |partition|offset|timestamp              |timestampType|
+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
|Animal|{"name": "huntsman spider", "type": "arachnid", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}|animals-topic-batch|0        |0     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "stinger", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}          |animals-topic-batch|0        |1     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "lemur", "type": "primate", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}           |animals-topic-batch|0        |2     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "flower mantis", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}    |animals-topic-batch|0        |3     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "cockroach", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}        |animals-topic-batch|0        |4     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "vine (weevil", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}     |animals-topic-batch|0        |5     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "aphid", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}            |animals-topic-batch|0        |6     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "mason wasp", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}       |animals-topic-batch|0        |7     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "trogonoptera", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}     |animals-topic-batch|0        |8     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "mole cricket", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}     |animals-topic-batch|0        |9     |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "barnacle", "type": "crustacean", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}     |animals-topic-batch|0        |10    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "orangutan", "type": "primate", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}       |animals-topic-batch|0        |11    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "stag beetle", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}      |animals-topic-batch|0        |12    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "sphinx moth", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}      |animals-topic-batch|0        |13    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "tick", "type": "arachnid", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}           |animals-topic-batch|0        |14    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "ostrich", "type": "bird", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}            |animals-topic-batch|0        |15    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "giraffe", "type": "mammal", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}          |animals-topic-batch|0        |16    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "potter wasp", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}      |animals-topic-batch|0        |17    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "mantisfly", "type": "insect", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}        |animals-topic-batch|0        |18    |2024-04-29 04:21:29.605|0            |
|Animal|{"name": "polar bear", "type": "mammal", "iteration": 1, "date_created": "2024-04-29 00:21:29 EDT"}       |animals-topic-batch|0        |19    |2024-04-29 04:21:29.605|0            |
+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
only showing top 20 rows

24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/04/29 04:23:01 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894

# STREAMING WRITING
## IT WILL BE LISTENING TO THE "animals-topic-batch" TOPIC
## WHEN NEW DATA ARRIVES, IT READS AND STORES THEM IN THE "animals-topic-streaming" TOPIC
## MAKE THE TRANSFORMATIONS

In [12]:
def save_streaming_data(spark_session, kafka_bootstrap_servers, topic, iterations=1, empty=0):

    # Create a sample DataFrame with animal data
    data = [("zebra", "mammal"), ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),
            ("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"), 
            ("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"), 
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), 
            ("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), 
            ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]

    values =  data if empty == 0 else [('', '')]
    
    columns = ["name", "type"]
    
    df_animals = spark_session.createDataFrame(values, columns)

    for iteration in range(iterations):
        # Write the DataFrame to Kafka topic
        df_animals.selectExpr("name as key", "type as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
    
    # Print a message indicating that the data has been written to the Kafka topic
    print(f"{iterations} Iterations, Data written to Kafka topic ({topic}).")

topic = "animals-topic-streaming"
save_streaming_data(spark_session=spark_session, kafka_bootstrap_servers=kafka_bootstrap_servers, topic=topic, iterations=7, empty=1)

-------------------------------------------
Batch: 19
-------------------------------------------
+---+-----+
|key|value|
+---+-----+
|   |     |
+---+-----+

-------------------------------------------
Batch: 20
-------------------------------------------
+---+-----+
|key|value|
+---+-----+
|   |     |
|   |     |
+---+-----+

-------------------------------------------
Batch: 21
-------------------------------------------
+---+-----+
|key|value|
+---+-----+
|   |     |
|   |     |
+---+-----+

7 Iterations, Data written to Kafka topic (animals-topic-streaming).
-------------------------------------------
Batch: 22
-------------------------------------------
+---+-----+
|key|value|
+---+-----+
|   |     |
|   |     |
+---+-----+

In [13]:
from pyspark.sql.functions import expr

def read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory):

    #spark_session.sparkContext.setLogLevel("DEBUG")    
    # Read from Kafka in streaming mode
    kafkaStream = spark_session \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", input_topic) \
        .option("startingOffsets", "earliest") \
        .load()
    
    # Perform some transformation on the data (here we are simply renaming the columns and uppercase the values)
    transformedStream = kafkaStream.selectExpr( "CAST(key AS STRING) as key","UPPER(CAST(value AS STRING)) as value")

    # save into parquet file
    query_parquet = transformedStream \
      .writeStream \
      .outputMode("append") \
      .format("parquet") \
      .option("path", files_directory) \
      .option("checkpointLocation", checkpoint_location) \
      .trigger(processingTime="1 minute") \
      .start()

    query = transformedStream \
        .writeStream \
        .option("failOnDataLoss", "false") \
        .outputMode("append") \
        .format("kafka") \
        .option("truncate", "false") \
        .option("checkpointLocation", checkpoint_location) \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("topic", output_topic) \
        .start()

    print('kafkaStream', type(kafkaStream))
    print('transformedStream', type(transformedStream))
    print('query', type(query))

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
input_topic = "animals-topic-batch"
output_topic = "animals-topic-streaming"
# Checkpoint directory within the Kafka directory
checkpoint_location = "/usr/local/kafka/data/checkpoint"
files_directory = "/usr/local/kafka/data/files"

read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory)

kafkaStream <class 'pyspark.sql.dataframe.DataFrame'>
transformedStream <class 'pyspark.sql.dataframe.DataFrame'>
query <class 'pyspark.sql.streaming.query.StreamingQuery'>

24/04/29 04:28:32 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/04/29 04:28:32 WARN StreamingQueryManager: Stopping existing streaming query [id=f24e8552-8375-4b71-8e57-639ec1d4bbd2, runId=d5ef252f-78d3-472c-b484-f4a0cb6207ef], as a new run is being started.
24/04/29 04:28:32 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/04/29 04:28:32 WARN StreamingQueryManager: Stopping existing streaming query [id=f24e8552-8375-4b71-8e57-639ec1d4bbd2, runId=e53344e5-e78b-44fe-bebf-7bddc912929c], as a new run is being started.

-------------------------------------------
Batch: 23
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     zebra|   MAMMAL|
|   dolphin|   MAMMAL|
|     snake|  REPTILE|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|   seagull|     BIRD|
|    turtle|  REPTILE|
|    parrot|     BIRD|
|      hawk|     BIRD|
|     panda|   MAMMAL|
|      swan|     BIRD|
|polar bear|   MAMMAL|
|    jaguar|   FELINE|
|     koala|MARSUPIAL|
|     hippo|   MAMMAL|
| orangutan|  PRIMATE|
|  kangaroo|MARSUPIAL|
|      bear|   MAMMAL|
|     eagle|     BIRD|
|   panther|   FELINE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 24
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    turtle|  REPTILE|
|    jaguar|   FELINE|
|      swan|     BIRD|
| orangutan|  PRIMATE|
|chimpanzee|  PRIMATE|
|     zebra|   MAMMAL|
|     snake|  REPTILE|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|      hawk|     BIRD|
|     hippo|   MAMMAL|
|       fox|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     eagle|     BIRD|
|polar bear|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 25
-------------------------------------------
+--------+---------+
|     key|    value|
+--------+---------+
|kangaroo|MARSUPIAL|
| panther|   FELINE|
| dolphin|   MAMMAL|
+--------+---------+

-------------------------------------------
Batch: 26
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|polar bear|   MAMMAL|
|chimpanzee|  PRIMATE|
|      bear|   MAMMAL|
| orangutan|  PRIMATE|
|       owl|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|     panda|   MAMMAL|
|     hippo|   MAMMAL|
|     zebra|   MAMMAL|
|       fox|   MAMMAL|
|     eagle|     BIRD|
+----------+---------+

## MASSIVE DATA INSERTION TO KAFKA FOR STREAMING READ
### COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDIN

```python
import os
from pyspark.sql import SparkSession
from time import sleep

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.12.0.jar",
    "kafka-clients-3.7.0.jar",
    "spark-sql-kafka-0-10_2.12-3.4.3.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.3.jar"
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"


# Create Spark session and add JARs
spark_session = SparkSession.builder \
    .appName("WriteKafkaAnimals") \
    .config("spark.jars", dependencies) \
    .getOrCreate()


def save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=1):

    # Create a sample DataFrame with animal data
    data = [("zebra", "mammal"), ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),
            ("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"), 
            ("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"), 
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), 
            ("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), 
            ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    
    columns = ["name", "type"]
    
    df_animals = spark_session.createDataFrame(data, columns)

    for iteration in range(iterations):
        sleep(0.2)
        # Write the DataFrame to Kafka topic
        df_animals.selectExpr("name as key", "type as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
        print (f'Iteration {iteration}, completed!!!')
    
    # Print a message indicating that the data has been written to the Kafka topic
    print(f"{iterations} Iterations, Data written to Kafka topic ({topic}).")

     # Finally, stop the Spark session
    spark_session.stop()

save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=13)
```

# STREAMING READING

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-streaming"

def read_streaming_data(spark_session,kafka_bootstrap_servers, topic):
   
    # Read from Kafka in streaming mode
    kafkaStream = spark_session.readStream.format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", topic) \
        .option("startingOffsets", "earliest") \
        .load()
    
    # Show the read content
    query = kafkaStream.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
        .writeStream \
        .outputMode("append") \
        .format("console") \
        .start() \
    
    # Wait for the stream to finish (adjust as needed)
    #query.awaitTermination()
    
    # Finally, stop the Spark session (you can stop it after the stream finishes)
    #spark_session.stop()

read_streaming_data(spark_session, kafka_bootstrap_servers, topic)

-------------------------------------------
Batch: 27
-------------------------------------------
+------+-------+
|   key|  value|
+------+-------+
|jaguar| FELINE|
|turtle|REPTILE|
|  swan|   BIRD|
+------+-------+

24/04/29 04:28:50 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-31c62471-6095-4873-a8c2-6e55330a4270. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/04/29 04:28:50 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 28
-------------------------------------------
+-------+------+
|    key| value|
+-------+------+
|dolphin|MAMMAL|
+-------+------+

-------------------------------------------
Batch: 29
-------------------------------------------
-------------------------------------------
Batch: 0
-------------------------------------------
+----------+-------+
|       key|  value|
+----------+-------+
|chimpanzee|PRIMATE|
+----------+-------+

+------+--------------------+
|   key|               value|
+------+--------------------+
|      |                    |
|      |                    |
|      |                    |
|      |                    |
|      |                    |
|      |                    |
|      |                    |
|Animal|{"NAME": "HUNTSMA...|
|Animal|{"NAME": "STINGER...|
|Animal|{"NAME": "LEMUR",...|
|Animal|{"NAME": "FLOWER ...|
|Animal|{"NAME": "COCKROA...|
|Animal|{"NAME": "VINE (W...|
|Animal|{"NAME": "APHID",...|
|Animal|{"NAME": "MASON W...|
|Animal|{"NAME": "TROGONO...|
|Animal|{"NAME": "MOLE CR...|
|Animal|{"NAME": "BARNACL...|
|Animal|{"NAME": "ORANGUT...|
|Animal|{"NAME": "STAG BE...|
+------+--------------------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|chimpanzee|  PRIMATE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|    parrot|     BIRD|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     rhino|   MAMMAL|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
+----------+---------+

-------------------------------------------
Batch: 30
-------------------------------------------
-------------------------------------------
Batch: 2
-------------------------------------------
+------+-------+
|   key|  value|
+------+-------+
|jaguar| FELINE|
| hippo| MAMMAL|
| eagle|   BIRD|
| snake|REPTILE|
|  hawk|   BIRD|
| zebra| MAMMAL|
|   fox| MAMMAL|
|turtle|REPTILE|
|  swan|   BIRD|
+------+-------+

+----------+---------+
|       key|    value|
+----------+---------+
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|    parrot|     BIRD|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     rhino|   MAMMAL|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
+----------+---------+

-------------------------------------------
Batch: 3
-------------------------------------------
-------------------------------------------
Batch: 31
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     zebra|   MAMMAL|
|      bear|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|       owl|     BIRD|
|chimpanzee|  PRIMATE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|       fox|   MAMMAL|
|     panda|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    jaguar|   FELINE|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
+----------+---------+

+----------+---------+
|       key|    value|
+----------+---------+
|    jaguar|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|     zebra|   MAMMAL|
|       fox|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     zebra|   MAMMAL|
|      bear|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|       owl|     BIRD|
|chimpanzee|  PRIMATE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     hippo|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 4
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     snake|  REPTILE|
|      hawk|     BIRD|
| orangutan|  PRIMATE|
|    jaguar|   FELINE|
| orangutan|  PRIMATE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|   dolphin|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   seagull|     BIRD|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 32
-------------------------------------------
-------------------------------------------
Batch: 5
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     snake|  REPTILE|
|      hawk|     BIRD|
| orangutan|  PRIMATE|
|    jaguar|   FELINE|
| orangutan|  PRIMATE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|   dolphin|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   seagull|     BIRD|
+----------+---------+
only showing top 20 rows

+------+-------+
|   key|  value|
+------+-------+
|turtle|REPTILE|
|  swan|   BIRD|
+------+-------+

-------------------------------------------
Batch: 6
-------------------------------------------
-------------------------------------------
Batch: 33
-------------------------------------------
+-------+---------+
|    key|    value|
+-------+---------+
|  koala|MARSUPIAL|
|cheetah|   FELINE|
+-------+---------+

+-------+---------+
|    key|    value|
+-------+---------+
| turtle|  REPTILE|
|   swan|     BIRD|
|  koala|MARSUPIAL|
|cheetah|   FELINE|
+-------+---------+

-------------------------------------------
Batch: 34
-------------------------------------------
-------------------------------------------
Batch: 7
-------------------------------------------
+-------+---------+
|    key|    value|
+-------+---------+
|  koala|MARSUPIAL|
|cheetah|   FELINE|
+-------+---------+

+-------+---------+
|    key|    value|
+-------+---------+
|  koala|MARSUPIAL|
|cheetah|   FELINE|
+-------+---------+

-------------------------------------------
Batch: 8
-------------------------------------------
-------------------------------------------
Batch: 35
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|       fox|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|     panda|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
|chimpanzee|  PRIMATE|
|   dolphin|   MAMMAL|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     zebra|   MAMMAL|
+----------+---------+

+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|       fox|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|     panda|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
|chimpanzee|  PRIMATE|
|   dolphin|   MAMMAL|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     zebra|   MAMMAL|
+----------+---------+

-------------------------------------------
Batch: 36
-------------------------------------------
+----------+------+
|       key| value|
+----------+------+
|polar bear|MAMMAL|
|    jaguar|FELINE|
|       fox|MAMMAL|
+----------+------+

-------------------------------------------
Batch: 9
-------------------------------------------
+----------+------+
|       key| value|
+----------+------+
|polar bear|MAMMAL|
|    jaguar|FELINE|
|       fox|MAMMAL|
+----------+------+

-------------------------------------------
Batch: 37
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|   dolphin|   MAMMAL|
|     zebra|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     snake|  REPTILE|
|      hawk|     BIRD|
+----------+---------+

-------------------------------------------
Batch: 38
-------------------------------------------
-------------------------------------------
Batch: 10
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|   dolphin|   MAMMAL|
|     zebra|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|polar bear|   MAMMAL|
|     panda|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     snake|  REPTILE|
|      hawk|     BIRD|
|chimpanzee|  PRIMATE|
| orangutan|  PRIMATE|
+----------+---------+
only showing top 20 rows

+----------+-------+
|       key|  value|
+----------+-------+
|chimpanzee|PRIMATE|
| orangutan|PRIMATE|
|    jaguar| FELINE|
|    turtle|REPTILE|
+----------+-------+

-------------------------------------------
Batch: 39
-------------------------------------------
-------------------------------------------
Batch: 11
-------------------------------------------
+----+-----+
| key|value|
+----+-----+
|swan| BIRD|
+----+-----+

+----+-----+
| key|value|
+----+-----+
|swan| BIRD|
+----+-----+

-------------------------------------------
Batch: 40
-------------------------------------------
-------------------------------------------
Batch: 12
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     zebra|   MAMMAL|
|chimpanzee|  PRIMATE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|    jaguar|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
+----------+---------+

+----------+---------+
|       key|    value|
+----------+---------+
|     zebra|   MAMMAL|
|chimpanzee|  PRIMATE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|    jaguar|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
| orangutan|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
+----------+---------+

-------------------------------------------
Batch: 13
-------------------------------------------
-------------------------------------------
Batch: 41
-------------------------------------------
+------+------+
|   key| value|
+------+------+
|   fox|MAMMAL|
|parrot|  BIRD|
| rhino|MAMMAL|
+------+------+

+------+------+
|   key| value|
+------+------+
|   fox|MAMMAL|
|parrot|  BIRD|
| rhino|MAMMAL|
+------+------+

-------------------------------------------
Batch: 14
-------------------------------------------
-------------------------------------------
Batch: 42
-------------------------------------------
+--------+---------+
|     key|    value|
+--------+---------+
|kangaroo|MARSUPIAL|
| panther|   FELINE|
+--------+---------+

+--------+---------+
|     key|    value|
+--------+---------+
|kangaroo|MARSUPIAL|
| panther|   FELINE|
+--------+---------+

-------------------------------------------
Batch: 15
-------------------------------------------
-------------------------------------------
Batch: 43
-------------------------------------------
+---------+-------+
|      key|  value|
+---------+-------+
|   parrot|   BIRD|
|    rhino| MAMMAL|
|orangutan|PRIMATE|
+---------+-------+

+---------+-------+
|      key|  value|
+---------+-------+
|   parrot|   BIRD|
|    rhino| MAMMAL|
|orangutan|PRIMATE|
+---------+-------+

-------------------------------------------
Batch: 44
-------------------------------------------
-------------------------------------------
Batch: 16
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|   dolphin|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    jaguar|   FELINE|
|      bear|   MAMMAL|
|     zebra|   MAMMAL|
|       owl|     BIRD|
|  kangaroo|MARSUPIAL|
|     panda|   MAMMAL|
|polar bear|   MAMMAL|
|   panther|   FELINE|
|       fox|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|chimpanzee|  PRIMATE|
+----------+---------+

+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|   dolphin|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    jaguar|   FELINE|
|      bear|   MAMMAL|
|     zebra|   MAMMAL|
|       owl|     BIRD|
|  kangaroo|MARSUPIAL|
|     panda|   MAMMAL|
|polar bear|   MAMMAL|
|   panther|   FELINE|
|       fox|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|chimpanzee|  PRIMATE|
+----------+---------+

-------------------------------------------
Batch: 45
-------------------------------------------
-------------------------------------------
Batch: 17
-------------------------------------------
+------+-------+
|   key|  value|
+------+-------+
|turtle|REPTILE|
|  swan|   BIRD|
| snake|REPTILE|
|  hawk|   BIRD|
+------+-------+

+------+-------+
|   key|  value|
+------+-------+
|turtle|REPTILE|
|  swan|   BIRD|
| snake|REPTILE|
|  hawk|   BIRD|
+------+-------+

-------------------------------------------
Batch: 46
-------------------------------------------
-------------------------------------------
Batch: 18
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|      bear|   MAMMAL|
|       owl|     BIRD|
|       fox|   MAMMAL|
| orangutan|  PRIMATE|
|     panda|   MAMMAL|
|chimpanzee|  PRIMATE|
|   dolphin|   MAMMAL|
|    turtle|  REPTILE|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|      swan|     BIRD|
|   panther|   FELINE|
|   seagull|     BIRD|
|polar bear|   MAMMAL|
|   gazelle|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|    jaguar|   FELINE|
+----------+---------+
only showing top 20 rows

+----------+---------+
|       key|    value|
+----------+---------+
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|      bear|   MAMMAL|
|       owl|     BIRD|
|       fox|   MAMMAL|
| orangutan|  PRIMATE|
|     panda|   MAMMAL|
|chimpanzee|  PRIMATE|
|   dolphin|   MAMMAL|
|    turtle|  REPTILE|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|      swan|     BIRD|
|   panther|   FELINE|
|   seagull|     BIRD|
|polar bear|   MAMMAL|
|   gazelle|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|    jaguar|   FELINE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 19
-------------------------------------------
-------------------------------------------
Batch: 47
-------------------------------------------
+------+------+
|   key| value|
+------+------+
|parrot|  BIRD|
| rhino|MAMMAL|
+------+------+

+------+------+
|   key| value|
+------+------+
|parrot|  BIRD|
| rhino|MAMMAL|
+------+------+

-------------------------------------------
Batch: 48
-------------------------------------------
-------------------------------------------
Batch: 20
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|chimpanzee|  PRIMATE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     zebra|   MAMMAL|
|    jaguar|   FELINE|
|   seagull|     BIRD|
|      bear|   MAMMAL|
|   gazelle|   MAMMAL|
|       owl|     BIRD|
| orangutan|  PRIMATE|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|       fox|   MAMMAL|
|     panda|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
+----------+---------+

+----------+---------+
|       key|    value|
+----------+---------+
|chimpanzee|  PRIMATE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     zebra|   MAMMAL|
|    jaguar|   FELINE|
|   seagull|     BIRD|
|      bear|   MAMMAL|
|   gazelle|   MAMMAL|
|       owl|     BIRD|
| orangutan|  PRIMATE|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|       fox|   MAMMAL|
|     panda|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
+----------+---------+

-------------------------------------------
Batch: 49
-------------------------------------------
-------------------------------------------
Batch: 21
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    turtle|  REPTILE|
|      swan|     BIRD|
| orangutan|  PRIMATE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|   dolphin|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|polar bear|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|       fox|   MAMMAL|
|     panda|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
+----------+---------+
only showing top 20 rows

+----------+---------+
|       key|    value|
+----------+---------+
|    turtle|  REPTILE|
|      swan|     BIRD|
| orangutan|  PRIMATE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|   dolphin|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|polar bear|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|       fox|   MAMMAL|
|     panda|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 50
-------------------------------------------
-------------------------------------------
Batch: 22
-------------------------------------------
+------+------+
|   key| value|
+------+------+
|jaguar|FELINE|
|  bear|MAMMAL|
+------+------+

+------+------+
|   key| value|
+------+------+
|jaguar|FELINE|
|  bear|MAMMAL|
+------+------+

-------------------------------------------
Batch: 51
-------------------------------------------
-------------------------------------------
Batch: 23
-------------------------------------------
+---+-----+
|key|value|
+---+-----+
|owl| BIRD|
+---+-----+

+---+-----+
|key|value|
+---+-----+
|owl| BIRD|
+---+-----+

# STREAMING FILES USING FROM DIRECTORIES

In [15]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, FloatType
from pyspark.sql.functions import expr
import shutil
from pyspark.sql import functions as F
from datetime import datetime
from pyspark.sql.functions import lit
from pyspark.sql.functions import col

def process_batch(directory_to_save_files, df, epoch_id):
    
    # Generate a timestamp
    timestamp_str = datetime.now().strftime("%Y_%m_%d_%H_%M_%S")

    # Add epoch_id and timestamp_str as new columns
    df = df.withColumn("batch_id", lit(epoch_id)) \
           .withColumn("timestamp", lit(timestamp_str))

    # Print information about the new batch
    print(f"Processing microbatch {epoch_id} at {timestamp_str}")

    # Group by specified columns and calculate the average ticket price
    grouped_df = df.groupBy(
        "batch_id",
        "timestamp",
        "passenger_nationality",
        "passenger_gender",
        "passenger_age"
    ).agg(
        F.avg("ticket_price").alias("avg_ticket_price"),
        F.sum("ticket_price").alias("total_ticket_price"),
        F.count("passenger_name").alias("total_passengers")
    )

    # Filter out groups where the total number of passengers is greater than 1
    # filtered_df = grouped_df.filter(grouped_df.total_passengers > 1)
    # Multiple filter conditions 
    filtered_df = grouped_df.filter((col("total_passengers") > 2) & (col("total_passengers") <= 7))

    # Sort the DataFrame by passenger_nationality and passenger_age
    sorted_df = filtered_df.orderBy("total_passengers","passenger_nationality", "passenger_gender")

    # Show the sorted DataFrame
    sorted_df.show(truncate=False)

    # Coalesce to a single partition and write the DataFrame as Parquet with timestamp
    maximum_parquet_files_per_batch  = 3
    sorted_df.coalesce(maximum_parquet_files_per_batch ).write.parquet(f"{directory_to_save_files}/microbatch_{epoch_id}_{timestamp_str}")

    # Show the original DataFrame
    df.show()

def read_file_like_streaming(spark_session, customSchema, format, checkpoint_location, directory_to_save_files):
    
    # Read the DataFrame as a continuous stream
    streaming_df = spark_session \
                    .readStream \
                    .schema(customSchema) \
                    .format(format) \
                    .option("header", "true") \
                    .load(folder_files_path)

    # Display the DataFrame in the console and count the records per microbatch
    # .trigger(processingTime='5 seconds') specifies that Spark Structured Streaming should process micro-batches of data from the specified directory every 5 seconds.
    query = streaming_df \
        .writeStream \
        .outputMode("append") \
        .trigger(processingTime='5 seconds') \
        .option("checkpointLocation", checkpoint_location) \
        .option("basePath", directory_to_save_files) \
        .foreachBatch(lambda df, epoch_id: process_batch(directory_to_save_files, df, epoch_id)) \
        .start()
    
    # Wait for the streaming to complete
    #query.awaitTermination()

# Define the schema
customSchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("secure_code", StringType(), True),
    StructField("airline", StringType(), True),
    StructField("departure_city", StringType(), True),
    StructField("departure_date", StringType(), True),
    StructField("arrival_airport", StringType(), True),
    StructField("arrival_city", StringType(), True),
    StructField("arrival_time", StringType(), True),
    StructField("passenger_name", StringType(), True),
    StructField("passenger_gender", StringType(), True),
    StructField("seat_number", StringType(), True),
    StructField("currency", StringType(), True),
    StructField("departure_gate", StringType(), True),
    StructField("flight_status", StringType(), True),
    StructField("co_pilot_name", StringType(), True),
    StructField("aircraft_type", StringType(), True),
    StructField("fuel_consumption", DoubleType(), True),
    StructField("flight_id", IntegerType(), True),
    StructField("flight_number", IntegerType(), True),
    StructField("departure_airport", StringType(), True),
    StructField("departure_country", StringType(), True),
    StructField("departure_time", StringType(), True),
    StructField("arrival_country", StringType(), True),
    StructField("arrival_date", StringType(), True),
    StructField("flight_duration", DoubleType(), True),
    StructField("passenger_age", IntegerType(), True),
    StructField("passenger_nationality", StringType(), True),
    StructField("ticket_price", DoubleType(), True),
    StructField("baggage_weight", DoubleType(), True),
    StructField("arrival_gate", StringType(), True),
    StructField("pilot_name", StringType(), True),
    StructField("cabin_crew_count", IntegerType(), True),
    StructField("aircraft_registration", StringType(), True),
    StructField("flight_distance", DoubleType(), True)
])

format = 'csv'
folder_files_path = "/notebooks"
directory_to_save_files = "/usr/local/kafka/data/files/batch"
shutil.rmtree(directory_to_save_files, ignore_errors=True)

# Delete the checkpoint directory
checkpoint_location = "/usr/local/kafka/data/batch"
shutil.rmtree(checkpoint_location, ignore_errors=True)

read_file_like_streaming(spark_session=spark_session, customSchema=customSchema, format=format, checkpoint_location=checkpoint_location, directory_to_save_files=directory_to_save_files)

24/04/29 04:29:34 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/04/29 04:29:34 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Processing microbatch 0 at 2024_04_29_04_29_34

24/04/29 04:29:35 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming-MlLib.ipynb
24/04/29 04:29:35 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb

+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+
|batch_id|timestamp          |passenger_nationality|passenger_gender|passenger_age|avg_ticket_price|total_ticket_price|total_passengers|
+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+
|0       |2024_04_29_04_29_34|null                 | \"arachnid\")  |null         |null            |null              |3               |
|0       |2024_04_29_04_29_34|null                 | \"cephalopod\")|null         |null            |null              |3               |
|0       |2024_04_29_04_29_34|null                 | \"echinoderm\")|null         |null            |null              |3               |
|0       |2024_04_29_04_29_34|null                 | \"crustacean\")|null         |null            |null              |6               |
|0       |2024_04_29_04_29_34|null                 | \"reptile\")   |null         |null            |null              |6               |
+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+

24/04/29 04:29:35 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb
24/04/29 04:29:35 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming-MlLib.ipynb
24/04/29 04:29:37 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming-MlLib.ipynb

+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|  id|secure_code|airline|departure_city|departure_date|arrival_airport|arrival_city|arrival_time|passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_04_29_04_29_34|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
only showing top 20 rows

Processing microbatch 1 at 2024_04_29_04_29_50
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|batch_id|timestamp          |passenger_nationality|passenger_gender|passenger_age|avg_ticket_price  |total_ticket_price|total_passengers|
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|1       |2024_04_29_04_29_50|Brazil               |Male            |56           |353.31333333333333|1059.94           |3               |
|1       |2024_04_29_04_29_50|Brazil               |Male            |53           |690.0966666666667 |2070.29           |3               |
|1       |2024_04_29_04_29_50|China                |Female          |47           |666.9266666666666 |2000.78           |3               |
|1       |2024_04_29_04_29_50|China                |Female          |68           |91.99333333333334 |275.98            |3               |
|1       |2024_04_29_04_29_50|China                |Male            |57           |653.4266666666667 |1960.2800000000002|3               |
|1       |2024_04_29_04_29_50|China                |Male            |56           |479.7666666666667 |1439.3000000000002|3               |
|1       |2024_04_29_04_29_50|China                |Male            |21           |474.1233333333333 |1422.37           |3               |
|1       |2024_04_29_04_29_50|China                |Male            |45           |273.32666666666665|819.98            |3               |
|1       |2024_04_29_04_29_50|China                |Male            |30           |450.3299999999999 |1350.9899999999998|3               |
|1       |2024_04_29_04_29_50|China                |Male            |35           |270.90000000000003|812.7             |3               |
|1       |2024_04_29_04_29_50|Indonesia            |Female          |20           |500.2833333333333 |1500.85           |3               |
|1       |2024_04_29_04_29_50|Indonesia            |Female          |82           |525.33            |1575.99           |3               |
|1       |2024_04_29_04_29_50|Indonesia            |Male            |41           |538.02            |1614.06           |3               |
|1       |2024_04_29_04_29_50|Philippines          |Female          |93           |460.9166666666667 |1382.75           |3               |
|1       |2024_04_29_04_29_50|China                |Female          |69           |347.235           |1388.94           |4               |
|1       |2024_04_29_04_29_50|China                |Female          |87           |554.2025          |2216.81           |4               |
|1       |2024_04_29_04_29_50|China                |Female          |72           |511.3875          |2045.55           |4               |
|1       |2024_04_29_04_29_50|China                |Male            |34           |414.83250000000004|1659.3300000000002|4               |
|1       |2024_04_29_04_29_50|Indonesia            |Male            |52           |560.5999999999999 |2242.3999999999996|4               |
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+

+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
| id|         secure_code| airline|     departure_city|departure_date|arrival_airport|     arrival_city|    arrival_time|      passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|       co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|          pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
|  1|01H4EEMGMG9VADVF0...| EasyFly|             Berlin|    25/12/2022|            PEI|          Pereira|27/12/2022 14:13|    Nathalie Cardona|          Female|         A1|     EUR|            B2|      On Time|       Hart Blunkett| Embraer E190|         7916.39|        1|         1978|              CFQ|          Germany|6/7/2023 04:42|       Colombia|  27/12/2022|          14.18|            0|             Colombia|      797.24|         43.85|          E5|           Sunny Few|               9|               N12345|        1400.24|       1|2024_04_29_04_29_50|
|  2|01H4EEMGMYP8GX4GR...|   Delta|Les Sables-d'Olonne|      4/1/2022|            YHU|         Westport|  6/7/2023 06:53|    Willie Childrens|          Female|         B2|     EUR|            A1|      Delayed|     Leanor Gribbins|  Airbus A320|         9666.36|        2|         2337|              ONG|           France|6/7/2023 17:31|    New Zealand|  23/12/2022|          13.54|           29|               Sweden|      383.63|         35.78|          D4|      Donielle Strut|               4|               N12345|         465.84|       1|2024_04_29_04_29_50|
|  3|01H4EEMGN3BZJ9RR7...|  United|                Oyo|      3/4/2022|            KWJ|            Jabon|  6/7/2023 03:44|        Fifine Luten|          Female|         B2|     NGN|            C3|      On Time|    Christie Wakeley|   Boeing 737|         8047.44|        3|         7588|              TEX|          Nigeria|6/7/2023 11:08|      Indonesia|   30/9/2022|           6.28|           34|            Argentina|      439.09|         47.81|          D4|   Shelly Paddefield|               3|               N67890|        3151.78|       1|2024_04_29_04_29_50|
|  4|01H4EEMGN9DFF5XJC...|   Delta|    Kuragaki-kosugi|     31/5/2022|            ANP|         Xianyuan|  6/7/2023 18:56|   Doll Sommerscales|          Female|         C3|     JPY|            A1|      Delayed|          Mia Vannah|  Airbus A320|         5156.19|        4|         7545|              ORB|            Japan|6/7/2023 11:11|          China|  14/10/2022|            5.6|           34|                China|      706.19|         25.79|          D4|   Babara Kretschmer|               6|               N12345|         264.64|       1|2024_04_29_04_29_50|

# COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDING

```python
import pandas as pd
import numpy as np
from time import sleep

for index in range(1,6):

    part_1 = index
    part_2 = index + 5

    file_name = 'flight_logs'
    final_file = f'{file_name}_{index}.csv'
    
    file_1 = f'{file_name}_part_1_{index}.csv'
    base_url1 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_1}'
    df1 = pd.read_csv(base_url1)
    
    file_2 = f'{file_name}_part_2_{index}.csv'
    base_url2 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_2}'
    df2 = pd.read_csv(base_url2)

    df3 = pd.merge(df1, df2, left_on='id', right_on='flight_id', how='inner')
    df3.to_csv(f'{final_file}',index=False)

    print(f'{final_file} saved Successfully!!')
    sleep(5)
```

# LOAD PARQUET FILES DIRECTORY ON DATAFRAME

In [16]:
import pandas as pd
import pyarrow.parquet as pq
import glob

def read_parquet_directory_into_dataframe(directory_path):
    """
    Reads all Parquet files from a directory into a single pandas DataFrame.

    Parameters:
    - directory_path (str): Path to the directory containing Parquet files.

    Returns:
    - pd.DataFrame: Combined DataFrame containing data from all Parquet files.
    """
    # Use glob to get a list of all Parquet file paths in the specified directory
    parquet_files = glob.glob(f'{directory_path}/*.parquet')
    
    # Initialize an empty list to store individual DataFrames
    dfs = []
    
    # Loop through each Parquet file and read it into a DataFrame
    for parquet_file in parquet_files:
        # Read Parquet file into a DataFrame
        df = pq.read_table(parquet_file).to_pandas()
        
        # Append the DataFrame to the list
        dfs.append(df)
    
    # Concatenate all DataFrames into a single DataFrame
    all_data = pd.concat(dfs, ignore_index=True)
    
    return all_data

# Specify the directory where Parquet files are located
directory_to_save_files = "/usr/local/kafka/data/files/batch"
microbatch_parquet_directory_name = 'microbatch_2_2024_04_29_04_29_55'
directory_path = f'{directory_to_save_files}/{microbatch_parquet_directory_name}/'

read_parquet_directory_into_dataframe(directory_path)

,batch_id,timestamp,passenger_nationality,passenger_gender,passenger_age,avg_ticket_price,total_ticket_price,total_passengers
0,2,2024_04_29_04_29_55,China,Female,61,314.976667,944.93,3
1,2,2024_04_29_04_29_55,China,Female,57,315.306667,945.92,3
2,2,2024_04_29_04_29_55,China,Female,54,678.106667,2034.32,3
3,2,2024_04_29_04_29_55,China,Female,53,286.780000,860.34,3
4,2,2024_04_29_04_29_55,China,Female,73,390.076667,1170.23,3
5,2,2024_04_29_04_29_55,China,Female,51,395.476667,1186.43,3
6,2,2024_04_29_04_29_55,China,Female,93,426.993333,1280.98,3
7,2,2024_04_29_04_29_55,China,Female,78,654.373333,1963.12,3
8,2,2024_04_29_04_29_55,China,Male,21,418.320000,1254.96,3
9,2,2024_04_29_04_29_55,China,Male,93,559.500000,1678.50,3
10,2,2024_04_29_04_29_55,China,Male,66,733.076667,2199.23,3
11,2,2024_04_29_04_29_55,China,Male,49,732.326667,2196.98,3
12,2,2024_04_29_04_29_55,China,Male,96,473.550000,1420.65,3
13,2,2024_04_29_04_29_55,China,Male,74,594.343333,1783.03,3
14,2,2024_04_29_04_29_55,Indonesia,Female,76,659.920000,1979.76,3
15,2,2024_04_29_04_29_55,Indonesia,Female,32,463.460000,1390.38,3
16,2,2024_04_29_04_29_55,Indonesia,Male,96,612.040000,1836.12,3
17,2,2024_04_29_04_29_55,Philippines,Female,75,571.680000,1715.04,3
18,2,2024_04_29_04_29_55,Russia,Male,63,441.720000,1325.16,3
19,2,2024_04_29_04_29_55,United States,Male,27,479.260000,1437.78,3
20,2,2024_04_29_04_29_55,China,Male,37,483.010000,1932.04,4
21,2,2024_04_29_04_29_55,China,Male,64,560.932500,2243.73,4
22,2,2024_04_29_04_29_55,China,Male,32,586.930000,2347.72,4
23,2,2024_04_29_04_29_55,Indonesia,Female,35,487.712500,1950.85,4
24,2,2024_04_29_04_29_55,Indonesia,Male,43,588.737500,2354.95,4
25,2,2024_04_29_04_29_55,China,Female,66,225.656000,1128.28,5

# SPARK MLLIB + SCIKIT LEARN

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, FloatType, StringType
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.ml.evaluation import MulticlassClassificationEvaluator, BinaryClassificationEvaluator, RegressionEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql.functions import col, udf
from pyspark.sql.functions import format_number
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

# Crear la sesión de Spark
spark = SparkSession.builder.master("local").appName("scikit-learn-with-spark").getOrCreate()

# Load the Iris dataset
iris = load_iris()
X, y = iris.data, iris.target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert numpy values to Python floats
X_train = [Vectors.dense(features) for features in X_train]
y_train = [float(label) for label in y_train]  # Convert to float

# Create Spark DataFrames from training data
train_data = list(zip(X_train, y_train))
schema = StructType([StructField("features", VectorUDT(), True), StructField("label", FloatType(), True)])
train_df = spark.createDataFrame(train_data, schema=schema)

# Create and train a logistic regression model
lr = LogisticRegression(featuresCol="features", labelCol="label", maxIter=10, regParam=0.3, elasticNetParam=0.8)
model = lr.fit(train_df)

# Now you can use the model to make predictions on new data (X_test)
X_test_spark = [Vectors.dense(features) for features in X_test]
test_data = list(zip(X_test_spark, [float(label) for label in y_test]))
test_schema = StructType([StructField("features", VectorUDT(), True), StructField("label", FloatType(), True)])
test_df = spark.createDataFrame(test_data, schema=test_schema)

# Make predictions on the test data
prediction_result = model.transform(test_df)
# Format prediction column to display two decimal places
prediction_result = prediction_result.withColumn("formatted_prediction", format_number("prediction", 2))

# Map numeric labels back to target names
target_names = ["setosa", "versicolor", "virginica"]
label_to_name_udf = udf(lambda label: target_names[int(label)], StringType())

# Create new columns with predicted and actual class names
prediction_result = prediction_result.withColumn("predicted_class_name", label_to_name_udf("prediction"))
prediction_result = prediction_result.withColumn("actual_class_name", label_to_name_udf("label"))

# Display the results
prediction_result.show()

regression_evaluator_mse = RegressionEvaluator(predictionCol="prediction", labelCol="label", metricName="mse")
print("Mean Squared Error (Regression):", regression_evaluator_mse.evaluate(prediction_result))

regression_evaluator_rmse = RegressionEvaluator(predictionCol="prediction", labelCol="label", metricName="rmse")
print("Root Mean Squared Error (Regression):", regression_evaluator_rmse.evaluate(prediction_result))

regression_evaluator_mae = RegressionEvaluator(predictionCol="prediction", labelCol="label", metricName="mae")
print("Mean Absolute Error (Regression):", regression_evaluator_mae.evaluate(prediction_result))

# Evaluación del rendimiento del modelo
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label", metricName="accuracy")
accuracy = evaluator.evaluate(prediction_result)

# Model performance evaluation
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label", metricName="accuracy")
accuracy = evaluator.evaluate(prediction_result)
print(f"Accuracy: {accuracy}")

# Binary Classification Evaluator for ROC
binary_evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction", labelCol="label")
roc_auc = binary_evaluator.evaluate(prediction_result, {binary_evaluator.metricName: "areaUnderROC"})
print(f"Area Under ROC: {roc_auc}")

# F1 Score
evaluator_f1 = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label", metricName="f1")
f1_score = evaluator_f1.evaluate(prediction_result)
print(f"F1 Score: {f1_score}")

# Precision
evaluator_precision = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label", metricName="weightedPrecision")
precision = evaluator_precision.evaluate(prediction_result)
print(f"Precision: {precision}")

# Recall
evaluator_recall = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="label", metricName="weightedRecall")
recall = evaluator_recall.evaluate(prediction_result)
print(f"Recall: {recall}")

# R2 Score (Regression)
r2_evaluator = RegressionEvaluator(predictionCol="prediction", labelCol="label", metricName="r2")
print("R2 Score (Regression):", r2_evaluator.evaluate(prediction_result))

# Extract predictions and labels as RDD
prediction_and_label = prediction_result.select("prediction", "label").rdd.map(lambda row: (float(row["prediction"]), float(row["label"])))

# Create a MulticlassMetrics object
metrics = MulticlassMetrics(prediction_and_label)

# Output the confusion matrix
confusion_matrix = metrics.confusionMatrix().toArray()
print("Confusion Matrix:")
print(confusion_matrix)

# Display the results like a pandas DataFrame
df_pandas = prediction_result.toPandas()
df_pandas

24/04/29 04:30:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
24/04/29 04:30:56 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS

+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
|         features|label|       rawPrediction|         probability|prediction|formatted_prediction|predicted_class_name|actual_class_name|
+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
|[6.1,2.8,4.7,1.2]|  1.0|[-0.7015267998759...|[0.25821627409246...|       1.0|                1.00|          versicolor|       versicolor|
|[5.7,3.8,1.7,0.3]|  0.0|[0.39468553474413...|[0.53313412218413...|       0.0|                0.00|              setosa|           setosa|
|[7.7,2.6,6.9,2.3]|  2.0|[-1.6418662900049...|[0.10701004791222...|       2.0|                2.00|           virginica|        virginica|
|[6.0,2.9,4.5,1.5]|  1.0|[-0.7400872505378...|[0.24477418451260...|       1.0|                1.00|          versicolor|       versicolor|
|[6.8,2.8,4.8,1.4]|  1.0|[-0.7907867010435...|[0.23752437379748...|       1.0|                1.00|          versicolor|       versicolor|
|[5.4,3.4,1.5,0.4]|  0.0|[0.41814801350997...|[0.53655869343644...|       0.0|                0.00|              setosa|           setosa|
|[5.6,2.9,3.6,1.3]|  1.0|[-0.4329315754514...|[0.31056229162774...|       1.0|                1.00|          versicolor|       versicolor|
|[6.9,3.1,5.1,2.3]|  2.0|[-1.1516007986877...|[0.16364043077100...|       2.0|                2.00|           virginica|        virginica|
|[6.2,2.2,4.5,1.5]|  1.0|[-0.7400872505378...|[0.24477418451260...|       1.0|                1.00|          versicolor|       versicolor|
|[5.8,2.7,3.9,1.2]|  1.0|[-0.4836310259571...|[0.30209015213590...|       1.0|                1.00|          versicolor|       versicolor|
|[6.5,3.2,5.1,2.0]|  2.0|[-1.0585664045461...|[0.18205925590527...|       2.0|                2.00|           virginica|        virginica|
|[4.8,3.0,1.4,0.1]|  0.0|[0.53841937939137...|[0.57333912331738...|       0.0|                0.00|              setosa|           setosa|
|[5.5,3.5,1.3,0.2]|  0.0|[0.53464488641737...|[0.57010110284129...|       0.0|                0.00|              setosa|           setosa|
|[4.9,3.1,1.5,0.1]|  0.0|[0.51118240765153...|[0.56666345570205...|       0.0|                0.00|              setosa|           setosa|
|[5.1,3.8,1.5,0.3]|  0.0|[0.44915947822382...|[0.54666503435754...|       0.0|                0.00|              setosa|           setosa|
|[6.3,3.3,4.7,1.6]|  1.0|[-0.8255726587313...|[0.22734348699623...|       2.0|                2.00|           virginica|       versicolor|
|[6.5,3.0,5.8,2.2]|  2.0|[-1.3112481361527...|[0.14443365473320...|       2.0|                2.00|           virginica|        virginica|
|[5.6,2.5,3.9,1.1]|  1.0|[-0.4526195612433...|[0.31095626181188...|       1.0|                1.00|          versicolor|       versicolor|
|[5.7,2.8,4.5,1.3]|  1.0|[-0.6780643211101...|[0.26064389367033...|       1.0|                1.00|          versicolor|       versicolor|
|[6.4,2.8,5.6,2.2]|  2.0|[-1.2567741926731...|[0.15129636777650...|       2.0|                2.00|           virginica|        virginica|
+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
only showing top 20 rows

Mean Squared Error (Regression): 0.03333333333333333
Root Mean Squared Error (Regression): 0.18257418583505536
Mean Absolute Error (Regression): 0.03333333333333333
Accuracy: 0.9666666666666667
Area Under ROC: 1.0
F1 Score: 0.9664109121909634
Precision: 0.9694444444444443
Recall: 0.9666666666666666
R2 Score (Regression): 0.9523052464228935

/usr/local/lib/python3.11/site-packages/pyspark/sql/context.py:157: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Confusion Matrix:
[[10.  0.  0.]
 [ 0.  8.  1.]
 [ 0.  0. 11.]]

,features,label,rawPrediction,probability,prediction,formatted_prediction,predicted_class_name,actual_class_name
0,"[6.1, 2.8, 4.7, 1.2]",1.0,"[-0.7015267998759556, -0.29696087223267364, -0.3837491058963872]","[0.25821627409246917, 0.38697629312854803, 0.35480743277898286]",1.0,1.00,versicolor,versicolor
1,"[5.7, 3.8, 1.7, 0.3]",0.0,"[0.3946855347441336, -0.29696087223267364, -0.5862779586469125]","[0.5331341221841369, 0.2669674182430638, 0.19989845957279923]",0.0,0.00,setosa,setosa
2,"[7.7, 2.6, 6.9, 2.3]",2.0,"[-1.641866290004971, -0.29696087223267364, -0.1362138414235231]","[0.10701004791222127, 0.4106856802021104, 0.48230427188566827]",2.0,2.00,virginica,virginica
3,"[6.0, 2.9, 4.5, 1.5]",1.0,"[-0.7400872505378175, -0.29696087223267364, -0.3162394883128788]","[0.24477418451260877, 0.3812527221494076, 0.37397309333798356]",1.0,1.00,versicolor,versicolor
4,"[6.8, 2.8, 4.8, 1.4]",1.0,"[-0.7907867010435072, -0.29696087223267364, -0.3387426941740483]","[0.2375243737974856, 0.3892010598800946, 0.3732745663224198]",1.0,1.00,versicolor,versicolor
5,"[5.4, 3.4, 1.5, 0.4]",0.0,"[0.418148013509976, -0.29696087223267364, -0.563774752785743]","[0.5365586934364456, 0.26245170154053943, 0.20098960502301508]",0.0,0.00,setosa,setosa
6,"[5.6, 2.9, 3.6, 1.3]",1.0,"[-0.4329315754514873, -0.29696087223267364, -0.3612459000352177]","[0.3105622916277406, 0.3557951705452797, 0.3336425378269797]",1.0,1.00,versicolor,versicolor
7,"[6.9, 3.1, 5.1, 2.3]",2.0,"[-1.1516007986877184, -0.29696087223267364, -0.1362138414235231]","[0.16364043077100945, 0.38464139241354944, 0.4517181768154411]",2.0,2.00,virginica,virginica
8,"[6.2, 2.2, 4.5, 1.5]",1.0,"[-0.7400872505378175, -0.29696087223267364, -0.3162394883128788]","[0.24477418451260877, 0.3812527221494076, 0.37397309333798356]",1.0,1.00,versicolor,versicolor
9,"[5.8, 2.7, 3.9, 1.2]",1.0,"[-0.4836310259571772, -0.29696087223267364, -0.3837491058963872]","[0.3020901521359052, 0.36408801707524013, 0.33382183078885475]",1.0,1.00,versicolor,versicolor
10,"[6.5, 3.2, 5.1, 2.0]",2.0,"[-1.0585664045461622, -0.29696087223267364, -0.20372345900703143]","[0.1820592559052744, 0.3899185020940876, 0.4280222420006379]",2.0,2.00,virginica,virginica
11,"[4.8, 3.0, 1.4, 0.1]",0.0,"[0.5384193793913798, -0.29696087223267364, -0.6312843703692513]","[0.5733391233173856, 0.248662642461433, 0.17799823422118152]",0.0,0.00,setosa,setosa
12,"[5.5, 3.5, 1.3, 0.2]",0.0,"[0.534644886417375, -0.29696087223267364, -0.6087811645080818]","[0.5701011028412918, 0.24819332030438562, 0.1817055768543225]",0.0,0.00,setosa,setosa
13,"[4.9, 3.1, 1.5, 0.1]",0.0,"[0.5111824076515326, -0.29696087223267364, -0.6312843703692513]","[0.5666634557020509, 0.25255329482761696, 0.18078324947033222]",0.0,0.00,setosa,setosa
14,"[5.1, 3.8, 1.5, 0.3]",0.0,"[0.4491594782238282, -0.29696087223267364, -0.5862779586469125]","[0.5466650343575438, 0.259230051129606, 0.1941049145128502]",0.0,0.00,setosa,setosa
15,"[6.3, 3.3, 4.7, 1.6]",1.0,"[-0.8255726587313643, -0.29696087223267364, -0.2937362824517093]","[0.22734348699623796, 0.38570538196759374, 0.38695113103616824]",2.0,2.00,virginica,versicolor
16,"[6.5, 3.0, 5.8, 2.2]",2.0,"[-1.311248136152798, -0.29696087223267364, -0.15871704728469244]","[0.1444336547332053, 0.39826098406666194, 0.45730536120013277]",2.0,2.00,virginica,virginica
17,"[5.6, 2.5, 3.9, 1.1]",1.0,"[-0.45261956124332503, -0.29696087223267364, -0.4062523117575566]","[0.3109562618118809, 0.36332979720292513, 0.32571394098519396]",1.0,1.00,versicolor,versicolor
18,"[5.7, 2.8, 4.5, 1.3]",1.0,"[-0.6780643211101132, -0.29696087223267364, -0.3612459000352177]","[0.2606438936703337, 0.38155634475858935, 0.357799761571077]",1.0,1.00,versicolor,versicolor
19,"[6.4, 2.8, 5.6, 2.2]",2.0,"[-1.2567741926731033, -0.29696087223267364, -0.15871704728469244]","[0.15129636777650035, 0.39506643245168754, 0.45363719977181216]",2.0,2.00,virginica,virginica
20,"[4.7, 3.2, 1.6, 0.2]",0.0,"[0.452933971197833, -0.29696087223267364, -0.6087811645080818]","[0.5499708071208744, 0.25981513409963025, 0.19021405877949515]",0.0,0.00,setosa,setosa
21,"[6.1, 3.0, 4.9, 1.8]",2.0,"[-0.9420695316387635, -0.29696087223267364, -0.24872987072937036]","[0.20380798334682518, 0.38849758434451254, 0.4076944323086623]",2.0,2.00,virginica,virginica
22,"[5.0, 3.4, 1.6, 0.4]",0.0,"[0.3909110417701287, -0.29696087223267364, -0.563774752785743]","[0.5297795224947267, 0.26629081756988343, 0.20392965993538983]",0.0,0.00,setosa,setosa
23,"[6.4, 2.8, 5.6, 2.1]",2.0,"[-1.2257627279592511, -0.29696087223267364, -0.18122025314586193]","[0.1568978857153564, 0.39718296359923555, 0.44591915068540794]",2.0,2.00,virginica,virginica
24,"[7.9, 3.8, 6.4, 2.0]",2.0,"[-1.4126470371641777, -0.29696087223267364, -0.20372345900703143]","[0.13510705049595786, 0.4123009714054519, 0.45259197809859025]",2.0,2.00,virginica,virginica
25,"[6.7, 3.0, 5.2, 2.3]",2.0,"[-1.1788377704275663, -0.29696087223267364, -0.1362138414235231]","[0.1599467851692053, 0.3863400983764284, 0.45371311645436635]",2.0,2.00,virginica,virginica
26,"[6.7, 2.5, 5.8, 1.8]",2.0,"[-1.1872022772973891, -0.29696087223267364, -0.24872987072937036]","[0.16689499660714122, 0.40650907639587663, 0.42659592699698207]",2.0,2.00,virginica,virginica
27,"[6.8, 3.2, 5.9, 2.3]",2.0,"[-1.3694965726064976, -0.29696087223267364, -0.1362138414235231]","[0.1359571175942529, 0.397372935781606, 0.466669946624141]",2.0,2.00,virginica,virginica
28,"[4.8, 3.0, 1.4, 0.3]",0.0,"[0.4763964499636756, -0.29696087223267364, -0.5862779586469125]","[0.5534059808041104, 0.2553753828943223, 0.1912186363015673]",0.0,0.00,setosa,setosa
29,"[4.8, 3.1, 1.6, 0.2]",0.0,"[0.452933971197833, -0.29696087223267364, -0.6087811645080818]","[0.5499708071208744, 0.25981513409963025, 0.19021405877949515]",0.0,0.00,setosa,setosa

# CLOSE SPARK SESSION

In [19]:
spark_session.stop()