#

# START ZOOKEPER SERVICE
### RUN THIS COMMAND IN A TERMINAL
```
/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties

```
# START KAFKA BROKERS
### RUN THIS COMMAND ON A DIFFERENT TERMINAL FOR EACH LINE
```
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server1.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server2.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server3.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server4.properties
```
# LIST AVALABLE BROKERS
```
/usr/local/kafka/bin/zookeeper-shell.sh localhost:2181 ls /brokers/ids
```

# CREATE GROUPS AND TOPICS AVALABLE GROUPS
```
/usr/local/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --group jorge-cardona-kafka-batch --topic animals-topic-batch
/usr/local/kafka/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --group jorge-cardona-kafka-streaming --topic animals-topic-streaming
```

# LIST AVALABLE GROUPS
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --list
```

# LISTS TOPICS
```
/usr/local/kafka/bin/kafka-topics.sh --list --bootstrap-server localhost:9092
```

# LISTS CONSUMERS ASOCIATE TO GROUPS
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --describe --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --describe --group jorge-cardona-kafka-streaming
```

# DELETE CONSUMER GROUP
```
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-streaming
```

# DELETE TOPICS
```
# all topics at same time
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch,animals-topic-streaming

# or one by one topic
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-streaming
```

# DELETE TOPICS
```
# all groups at same time
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch,jorge-cardona-kafka-streaming


/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-batch
/usr/local/kafka/bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --delete --group jorge-cardona-kafka-streaming

# <center> PYTHON LIBRARY

# EXECUTE COMMANDS FUNCTION

In [1]:
import subprocess

def execute_commands(commands):
    for command in commands:
        print(f"Executing: {command}")
        try:
            subprocess.Popen(command, shell=True)
            print()
        except Exception as e:
            print(f"Error executing command: {e}")
            continue

# START ZOOKEEPER

In [2]:
commands = [
    "/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties"
]

execute_commands(commands=commands)

Executing: /usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties

[2024-05-05 04:01:49,562] INFO Reading configuration from: /usr/local/kafka/config/zookeeper.properties (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,564] INFO clientPortAddress is 0.0.0.0:2181 (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,564] INFO secureClientPort is not set (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,564] INFO observerMasterPort is not set (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,564] INFO metricsProvider.className is org.apache.zookeeper.metrics.impl.DefaultMetricsProvider (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,565] INFO autopurge.snapRetainCount set to 3 (org.apache.zookeeper.server.DatadirCleanupManager)
[2024-05-05 04:01:49,565] INFO autopurge.purgeInterval set to 0 (org.apache.zookeeper.server.DatadirCleanupManager)
[2024-05-05 04:01:49,565] INFO Purge task is not scheduled. (org.apache.zookeeper.server.DatadirCleanupManager)
[2024-05-05 04:01:49,565] WARN Either no config or no quorum defined in config, running in standalone mode (org.apache.zookeeper.server.quorum.QuorumPeerMain)
[2024-05-05 04:01:49,566] INFO Log4j 1.2 jmx support not found; jmx disabled. (org.apache.zookeeper.jmx.ManagedUtil)
[2024-05-05 04:01:49,567] INFO Reading configuration from: /usr/local/kafka/config/zookeeper.properties (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,567] INFO clientPortAddress is 0.0.0.0:2181 (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,567] INFO secureClientPort is not set (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,567] INFO observerMasterPort is not set (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,567] INFO metricsProvider.className is org.apache.zookeeper.metrics.impl.DefaultMetricsProvider (org.apache.zookeeper.server.quorum.QuorumPeerConfig)
[2024-05-05 04:01:49,567] INFO Starting server (org.apache.zookeeper.server.ZooKeeperServerMain)
[2024-05-05 04:01:49,579] INFO ServerMetrics initialized with provider org.apache.zookeeper.metrics.impl.DefaultMetricsProvider@50a7bc6e (org.apache.zookeeper.server.ServerMetrics)
[2024-05-05 04:01:49,581] INFO ACL digest algorithm is: SHA1 (org.apache.zookeeper.server.auth.DigestAuthenticationProvider)
[2024-05-05 04:01:49,581] INFO zookeeper.DigestAuthenticationProvider.enabled = true (org.apache.zookeeper.server.auth.DigestAuthenticationProvider)
[2024-05-05 04:01:49,583] INFO zookeeper.snapshot.trust.empty : false (org.apache.zookeeper.server.persistence.FileTxnSnapLog)
[2024-05-05 04:01:49,589] INFO  (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO   ______                  _                                           (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO  |___  /                 | |                                          (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO     / /    ___     ___   | | __   ___    ___   _ __     ___   _ __    (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO    / /    / _ \   / _ \  | |/ /  / _ \  / _ \ | '_ \   / _ \ | '__| (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO   / /__  | (_) | | (_) | |   <  |  __/ |  __/ | |_) | |  __/ | |     (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO  /_____|  \___/   \___/  |_|\_\  \___|  \___| | .__/   \___| |_| (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,589] INFO                                               | |                      (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,590] INFO                                               |_|                      (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,590] INFO  (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:zookeeper.version=3.8.3-6ad6d364c7c0bcf0de452d54ebefa3058098ab56, built on 2023-10-05 10:34 UTC (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:host.name=bbfe1a753e52 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:java.version=17.0.10 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:java.vendor=Debian (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:java.home=/usr/lib/jvm/java-17-openjdk-amd64 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,591] INFO Server environment:java.class.path=/usr/local/kafka/bin/../libs/activation-1.1.1.jar:/usr/local/kafka/bin/../libs/aopalliance-repackaged-2.6.1.jar:/usr/local/kafka/bin/../libs/argparse4j-0.7.0.jar:/usr/local/kafka/bin/../libs/audience-annotations-0.12.0.jar:/usr/local/kafka/bin/../libs/caffeine-2.9.3.jar:/usr/local/kafka/bin/../libs/checker-qual-3.19.0.jar:/usr/local/kafka/bin/../libs/commons-beanutils-1.9.4.jar:/usr/local/kafka/bin/../libs/commons-cli-1.4.jar:/usr/local/kafka/bin/../libs/commons-collections-3.2.2.jar:/usr/local/kafka/bin/../libs/commons-digester-2.1.jar:/usr/local/kafka/bin/../libs/commons-io-2.11.0.jar:/usr/local/kafka/bin/../libs/commons-lang3-3.8.1.jar:/usr/local/kafka/bin/../libs/commons-logging-1.2.jar:/usr/local/kafka/bin/../libs/commons-validator-1.7.jar:/usr/local/kafka/bin/../libs/connect-api-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-basic-auth-extension-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-json-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-mirror-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-mirror-client-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-runtime-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-transforms-3.6.1.jar:/usr/local/kafka/bin/../libs/error_prone_annotations-2.10.0.jar:/usr/local/kafka/bin/../libs/hk2-api-2.6.1.jar:/usr/local/kafka/bin/../libs/hk2-locator-2.6.1.jar:/usr/local/kafka/bin/../libs/hk2-utils-2.6.1.jar:/usr/local/kafka/bin/../libs/jackson-annotations-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-core-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-databind-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-dataformat-csv-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-datatype-jdk8-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-jaxrs-base-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-jaxrs-json-provider-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-module-jaxb-annotations-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-module-scala_2.12-2.13.5.jar:/usr/local/kafka/bin/../libs/jakarta.activation-api-1.2.2.jar:/usr/local/kafka/bin/../libs/jakarta.annotation-api-1.3.5.jar:/usr/local/kafka/bin/../libs/jakarta.inject-2.6.1.jar:/usr/local/kafka/bin/../libs/jakarta.validation-api-2.0.2.jar:/usr/local/kafka/bin/../libs/jakarta.ws.rs-api-2.1.6.jar:/usr/local/kafka/bin/../libs/jakarta.xml.bind-api-2.3.3.jar:/usr/local/kafka/bin/../libs/javassist-3.29.2-GA.jar:/usr/local/kafka/bin/../libs/javax.activation-api-1.2.0.jar:/usr/local/kafka/bin/../libs/javax.annotation-api-1.3.2.jar:/usr/local/kafka/bin/../libs/javax.servlet-api-3.1.0.jar:/usr/local/kafka/bin/../libs/javax.ws.rs-api-2.1.1.jar:/usr/local/kafka/bin/../libs/jaxb-api-2.3.1.jar:/usr/local/kafka/bin/../libs/jersey-client-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-common-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-container-servlet-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-container-servlet-core-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-hk2-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-server-2.39.1.jar:/usr/local/kafka/bin/../libs/jetty-client-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-continuation-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-http-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-io-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-security-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-server-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-servlet-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-servlets-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-util-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-util-ajax-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jline-3.22.0.jar:/usr/local/kafka/bin/../libs/jopt-simple-5.0.4.jar:/usr/local/kafka/bin/../libs/jose4j-0.9.3.jar:/usr/local/kafka/bin/../libs/jsr305-3.0.2.jar:/usr/local/kafka/bin/../libs/kafka-clients-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-group-coordinator-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-log4j-appender-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-metadata-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-raft-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-server-common-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-shell-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-storage-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-storage-api-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-examples-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-scala_2.12-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-test-utils-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-tools-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-tools-api-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka_2.12-3.6.1.jar:/usr/local/kafka/bin/../libs/lz4-java-1.8.0.jar:/usr/local/kafka/bin/../libs/maven-artifact-3.8.8.jar:/usr/local/kafka/bin/../libs/metrics-core-2.2.0.jar:/usr/local/kafka/bin/../libs/metrics-core-4.1.12.1.jar:/usr/local/kafka/bin/../libs/netty-buffer-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-codec-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-common-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-handler-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-resolver-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-classes-epoll-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-native-epoll-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-native-unix-common-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/osgi-resource-locator-1.0.3.jar:/usr/local/kafka/bin/../libs/paranamer-2.8.jar:/usr/local/kafka/bin/../libs/pcollections-4.0.1.jar:/usr/local/kafka/bin/../libs/plexus-utils-3.3.1.jar:/usr/local/kafka/bin/../libs/reflections-0.10.2.jar:/usr/local/kafka/bin/../libs/reload4j-1.2.25.jar:/usr/local/kafka/bin/../libs/rocksdbjni-7.9.2.jar:/usr/local/kafka/bin/../libs/scala-collection-compat_2.12-2.10.0.jar:/usr/local/kafka/bin/../libs/scala-java8-compat_2.12-1.0.2.jar:/usr/local/kafka/bin/../libs/scala-library-2.12.18.jar:/usr/local/kafka/bin/../libs/scala-logging_2.12-3.9.4.jar:/usr/local/kafka/bin/../libs/scala-reflect-2.12.18.jar:/usr/local/kafka/bin/../libs/slf4j-api-1.7.36.jar:/usr/local/kafka/bin/../libs/slf4j-reload4j-1.7.36.jar:/usr/local/kafka/bin/../libs/snappy-java-1.1.10.5.jar:/usr/local/kafka/bin/../libs/swagger-annotations-2.2.8.jar:/usr/local/kafka/bin/../libs/trogdor-3.6.1.jar:/usr/local/kafka/bin/../libs/zookeeper-3.8.3.jar:/usr/local/kafka/bin/../libs/zookeeper-jute-3.8.3.jar:/usr/local/kafka/bin/../libs/zstd-jni-1.5.5-1.jar (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:java.library.path=/usr/java/packages/lib:/usr/lib/x86_64-linux-gnu/jni:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/usr/lib/jni:/lib:/usr/lib (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:java.io.tmpdir=/tmp (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:java.compiler=<NA> (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:os.name=Linux (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:os.arch=amd64 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:os.version=5.10.16.3-microsoft-standard-WSL2 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:user.name=root (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:user.home=/root (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,592] INFO Server environment:user.dir=/notebooks (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO Server environment:os.memory.free=494MB (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO Server environment:os.memory.max=512MB (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO Server environment:os.memory.total=512MB (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO zookeeper.enableEagerACLCheck = false (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO zookeeper.digest.enabled = true (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO zookeeper.closeSessionTxn.enabled = true (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,593] INFO zookeeper.flushDelay = 0 ms (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,594] INFO zookeeper.maxWriteQueuePollTime = 0 ms (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,594] INFO zookeeper.maxBatchSize=1000 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,594] INFO zookeeper.intBufferStartingSizeBytes = 1024 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,595] INFO Weighed connection throttling is disabled (org.apache.zookeeper.server.BlueThrottle)
[2024-05-05 04:01:49,596] INFO minSessionTimeout set to 6000 ms (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,596] INFO maxSessionTimeout set to 60000 ms (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,597] INFO getData response cache size is initialized with value 400. (org.apache.zookeeper.server.ResponseCache)
[2024-05-05 04:01:49,597] INFO getChildren response cache size is initialized with value 400. (org.apache.zookeeper.server.ResponseCache)
[2024-05-05 04:01:49,597] INFO zookeeper.pathStats.slotCapacity = 60 (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,597] INFO zookeeper.pathStats.slotDuration = 15 (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,597] INFO zookeeper.pathStats.maxDepth = 6 (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,598] INFO zookeeper.pathStats.initialDelay = 5 (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,598] INFO zookeeper.pathStats.delay = 5 (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,598] INFO zookeeper.pathStats.enabled = false (org.apache.zookeeper.server.util.RequestPathMetricsCollector)
[2024-05-05 04:01:49,600] INFO The max bytes for all large requests are set to 104857600 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,600] INFO The large request threshold is set to -1 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,600] INFO zookeeper.enforce.auth.enabled = false (org.apache.zookeeper.server.AuthenticationHelper)
[2024-05-05 04:01:49,600] INFO zookeeper.enforce.auth.schemes = [] (org.apache.zookeeper.server.AuthenticationHelper)
[2024-05-05 04:01:49,600] INFO Created server with tickTime 3000 ms minSessionTimeout 6000 ms maxSessionTimeout 60000 ms clientPortListenBacklog -1 datadir /usr/local/kafka/data/zookeeper/version-2 snapdir /usr/local/kafka/data/zookeeper/version-2 (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,615] INFO Logging initialized @340ms to org.eclipse.jetty.util.log.Slf4jLog (org.eclipse.jetty.util.log)
[2024-05-05 04:01:49,658] WARN o.e.j.s.ServletContextHandler@489115ef{/,null,STOPPED} contextPath ends with /* (org.eclipse.jetty.server.handler.ContextHandler)
[2024-05-05 04:01:49,658] WARN Empty contextPath (org.eclipse.jetty.server.handler.ContextHandler)
[2024-05-05 04:01:49,672] INFO jetty-9.4.52.v20230823; built: 2023-08-23T19:29:37.669Z; git: abdcda73818a1a2c705da276edb0bf6581e7997e; jvm 17.0.10+7-Debian-1deb12u1 (org.eclipse.jetty.server.Server)
[2024-05-05 04:01:49,704] INFO DefaultSessionIdManager workerName=node0 (org.eclipse.jetty.server.session)
[2024-05-05 04:01:49,704] INFO No SessionScavenger set, using defaults (org.eclipse.jetty.server.session)
[2024-05-05 04:01:49,706] INFO node0 Scavenging every 600000ms (org.eclipse.jetty.server.session)
[2024-05-05 04:01:49,709] WARN ServletContext@o.e.j.s.ServletContextHandler@489115ef{/,null,STARTING} has uncovered http methods for path: /* (org.eclipse.jetty.security.SecurityHandler)
[2024-05-05 04:01:49,717] INFO Started o.e.j.s.ServletContextHandler@489115ef{/,null,AVAILABLE} (org.eclipse.jetty.server.handler.ContextHandler)
[2024-05-05 04:01:49,727] INFO Started ServerConnector@9597028{HTTP/1.1, (http/1.1)}{0.0.0.0:9090} (org.eclipse.jetty.server.AbstractConnector)
[2024-05-05 04:01:49,727] INFO Started @452ms (org.eclipse.jetty.server.Server)
[2024-05-05 04:01:49,727] INFO Started AdminServer on address 0.0.0.0, port 9090 and command URL /commands (org.apache.zookeeper.server.admin.JettyAdminServer)
[2024-05-05 04:01:49,730] INFO Using org.apache.zookeeper.server.NIOServerCnxnFactory as server connection factory (org.apache.zookeeper.server.ServerCnxnFactory)
[2024-05-05 04:01:49,731] WARN maxCnxns is not configured, using default value 0. (org.apache.zookeeper.server.ServerCnxnFactory)
[2024-05-05 04:01:49,732] INFO Configuring NIO connection handler with 10s sessionless connection timeout, 2 selector thread(s), 32 worker threads, and 64 kB direct buffers. (org.apache.zookeeper.server.NIOServerCnxnFactory)
[2024-05-05 04:01:49,733] INFO binding to port 0.0.0.0/0.0.0.0:2181 (org.apache.zookeeper.server.NIOServerCnxnFactory)
[2024-05-05 04:01:49,741] INFO Using org.apache.zookeeper.server.watch.WatchManager as watch manager (org.apache.zookeeper.server.watch.WatchManagerFactory)
[2024-05-05 04:01:49,741] INFO Using org.apache.zookeeper.server.watch.WatchManager as watch manager (org.apache.zookeeper.server.watch.WatchManagerFactory)
[2024-05-05 04:01:49,741] INFO zookeeper.snapshotSizeFactor = 0.33 (org.apache.zookeeper.server.ZKDatabase)
[2024-05-05 04:01:49,741] INFO zookeeper.commitLogCount=500 (org.apache.zookeeper.server.ZKDatabase)
[2024-05-05 04:01:49,745] INFO zookeeper.snapshot.compression.method = CHECKED (org.apache.zookeeper.server.persistence.SnapStream)
[2024-05-05 04:01:49,745] INFO Snapshotting: 0x0 to /usr/local/kafka/data/zookeeper/version-2/snapshot.0 (org.apache.zookeeper.server.persistence.FileTxnSnapLog)
[2024-05-05 04:01:49,748] INFO Snapshot loaded in 7 ms, highest zxid is 0x0, digest is 1371985504 (org.apache.zookeeper.server.ZKDatabase)
[2024-05-05 04:01:49,749] INFO Snapshotting: 0x0 to /usr/local/kafka/data/zookeeper/version-2/snapshot.0 (org.apache.zookeeper.server.persistence.FileTxnSnapLog)
[2024-05-05 04:01:49,749] INFO Snapshot taken in 1 ms (org.apache.zookeeper.server.ZooKeeperServer)
[2024-05-05 04:01:49,755] INFO PrepRequestProcessor (sid:0) started, reconfigEnabled=false (org.apache.zookeeper.server.PrepRequestProcessor)
[2024-05-05 04:01:49,755] INFO zookeeper.request_throttler.shutdownTimeout = 10000 ms (org.apache.zookeeper.server.RequestThrottler)
[2024-05-05 04:01:49,768] INFO Using checkIntervalMs=60000 maxPerMinute=10000 maxNeverUsedIntervalMs=0 (org.apache.zookeeper.server.ContainerManager)
[2024-05-05 04:01:49,769] INFO ZooKeeper audit is disabled. (org.apache.zookeeper.audit.ZKAuditProvider)

# START SECOND BROKER

In [3]:
commands = [
    "/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server2.properties"
]

execute_commands(commands=commands)

Executing: /usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server2.properties

[2024-05-05 04:02:06,132] INFO Registered kafka:type=kafka.Log4jController MBean (kafka.utils.Log4jControllerRegistration$)
[2024-05-05 04:02:06,330] INFO Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation (org.apache.zookeeper.common.X509Util)
[2024-05-05 04:02:06,384] INFO Registered signal handlers for TERM, INT, HUP (org.apache.kafka.common.utils.LoggingSignalHandler)
[2024-05-05 04:02:06,385] INFO starting (kafka.server.KafkaServer)
[2024-05-05 04:02:06,385] INFO Connecting to zookeeper on localhost:2181 (kafka.server.KafkaServer)
[2024-05-05 04:02:06,397] INFO [ZooKeeperClient Kafka server] Initializing a new session to localhost:2181. (kafka.zookeeper.ZooKeeperClient)
[2024-05-05 04:02:06,399] INFO Client environment:zookeeper.version=3.8.3-6ad6d364c7c0bcf0de452d54ebefa3058098ab56, built on 2023-10-05 10:34 UTC (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:host.name=bbfe1a753e52 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.version=17.0.10 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.vendor=Debian (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.home=/usr/lib/jvm/java-17-openjdk-amd64 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.class.path=/usr/local/kafka/bin/../libs/activation-1.1.1.jar:/usr/local/kafka/bin/../libs/aopalliance-repackaged-2.6.1.jar:/usr/local/kafka/bin/../libs/argparse4j-0.7.0.jar:/usr/local/kafka/bin/../libs/audience-annotations-0.12.0.jar:/usr/local/kafka/bin/../libs/caffeine-2.9.3.jar:/usr/local/kafka/bin/../libs/checker-qual-3.19.0.jar:/usr/local/kafka/bin/../libs/commons-beanutils-1.9.4.jar:/usr/local/kafka/bin/../libs/commons-cli-1.4.jar:/usr/local/kafka/bin/../libs/commons-collections-3.2.2.jar:/usr/local/kafka/bin/../libs/commons-digester-2.1.jar:/usr/local/kafka/bin/../libs/commons-io-2.11.0.jar:/usr/local/kafka/bin/../libs/commons-lang3-3.8.1.jar:/usr/local/kafka/bin/../libs/commons-logging-1.2.jar:/usr/local/kafka/bin/../libs/commons-validator-1.7.jar:/usr/local/kafka/bin/../libs/connect-api-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-basic-auth-extension-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-json-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-mirror-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-mirror-client-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-runtime-3.6.1.jar:/usr/local/kafka/bin/../libs/connect-transforms-3.6.1.jar:/usr/local/kafka/bin/../libs/error_prone_annotations-2.10.0.jar:/usr/local/kafka/bin/../libs/hk2-api-2.6.1.jar:/usr/local/kafka/bin/../libs/hk2-locator-2.6.1.jar:/usr/local/kafka/bin/../libs/hk2-utils-2.6.1.jar:/usr/local/kafka/bin/../libs/jackson-annotations-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-core-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-databind-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-dataformat-csv-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-datatype-jdk8-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-jaxrs-base-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-jaxrs-json-provider-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-module-jaxb-annotations-2.13.5.jar:/usr/local/kafka/bin/../libs/jackson-module-scala_2.12-2.13.5.jar:/usr/local/kafka/bin/../libs/jakarta.activation-api-1.2.2.jar:/usr/local/kafka/bin/../libs/jakarta.annotation-api-1.3.5.jar:/usr/local/kafka/bin/../libs/jakarta.inject-2.6.1.jar:/usr/local/kafka/bin/../libs/jakarta.validation-api-2.0.2.jar:/usr/local/kafka/bin/../libs/jakarta.ws.rs-api-2.1.6.jar:/usr/local/kafka/bin/../libs/jakarta.xml.bind-api-2.3.3.jar:/usr/local/kafka/bin/../libs/javassist-3.29.2-GA.jar:/usr/local/kafka/bin/../libs/javax.activation-api-1.2.0.jar:/usr/local/kafka/bin/../libs/javax.annotation-api-1.3.2.jar:/usr/local/kafka/bin/../libs/javax.servlet-api-3.1.0.jar:/usr/local/kafka/bin/../libs/javax.ws.rs-api-2.1.1.jar:/usr/local/kafka/bin/../libs/jaxb-api-2.3.1.jar:/usr/local/kafka/bin/../libs/jersey-client-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-common-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-container-servlet-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-container-servlet-core-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-hk2-2.39.1.jar:/usr/local/kafka/bin/../libs/jersey-server-2.39.1.jar:/usr/local/kafka/bin/../libs/jetty-client-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-continuation-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-http-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-io-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-security-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-server-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-servlet-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-servlets-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-util-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jetty-util-ajax-9.4.52.v20230823.jar:/usr/local/kafka/bin/../libs/jline-3.22.0.jar:/usr/local/kafka/bin/../libs/jopt-simple-5.0.4.jar:/usr/local/kafka/bin/../libs/jose4j-0.9.3.jar:/usr/local/kafka/bin/../libs/jsr305-3.0.2.jar:/usr/local/kafka/bin/../libs/kafka-clients-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-group-coordinator-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-log4j-appender-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-metadata-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-raft-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-server-common-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-shell-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-storage-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-storage-api-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-examples-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-scala_2.12-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-streams-test-utils-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-tools-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka-tools-api-3.6.1.jar:/usr/local/kafka/bin/../libs/kafka_2.12-3.6.1.jar:/usr/local/kafka/bin/../libs/lz4-java-1.8.0.jar:/usr/local/kafka/bin/../libs/maven-artifact-3.8.8.jar:/usr/local/kafka/bin/../libs/metrics-core-2.2.0.jar:/usr/local/kafka/bin/../libs/metrics-core-4.1.12.1.jar:/usr/local/kafka/bin/../libs/netty-buffer-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-codec-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-common-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-handler-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-resolver-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-classes-epoll-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-native-epoll-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/netty-transport-native-unix-common-4.1.100.Final.jar:/usr/local/kafka/bin/../libs/osgi-resource-locator-1.0.3.jar:/usr/local/kafka/bin/../libs/paranamer-2.8.jar:/usr/local/kafka/bin/../libs/pcollections-4.0.1.jar:/usr/local/kafka/bin/../libs/plexus-utils-3.3.1.jar:/usr/local/kafka/bin/../libs/reflections-0.10.2.jar:/usr/local/kafka/bin/../libs/reload4j-1.2.25.jar:/usr/local/kafka/bin/../libs/rocksdbjni-7.9.2.jar:/usr/local/kafka/bin/../libs/scala-collection-compat_2.12-2.10.0.jar:/usr/local/kafka/bin/../libs/scala-java8-compat_2.12-1.0.2.jar:/usr/local/kafka/bin/../libs/scala-library-2.12.18.jar:/usr/local/kafka/bin/../libs/scala-logging_2.12-3.9.4.jar:/usr/local/kafka/bin/../libs/scala-reflect-2.12.18.jar:/usr/local/kafka/bin/../libs/slf4j-api-1.7.36.jar:/usr/local/kafka/bin/../libs/slf4j-reload4j-1.7.36.jar:/usr/local/kafka/bin/../libs/snappy-java-1.1.10.5.jar:/usr/local/kafka/bin/../libs/swagger-annotations-2.2.8.jar:/usr/local/kafka/bin/../libs/trogdor-3.6.1.jar:/usr/local/kafka/bin/../libs/zookeeper-3.8.3.jar:/usr/local/kafka/bin/../libs/zookeeper-jute-3.8.3.jar:/usr/local/kafka/bin/../libs/zstd-jni-1.5.5-1.jar (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.library.path=/usr/java/packages/lib:/usr/lib/x86_64-linux-gnu/jni:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/usr/lib/jni:/lib:/usr/lib (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.io.tmpdir=/tmp (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,400] INFO Client environment:java.compiler=<NA> (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.name=Linux (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.arch=amd64 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.version=5.10.16.3-microsoft-standard-WSL2 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:user.name=root (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:user.home=/root (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:user.dir=/notebooks (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.memory.free=988MB (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.memory.max=1024MB (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,401] INFO Client environment:os.memory.total=1024MB (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,403] INFO Initiating client connection, connectString=localhost:2181 sessionTimeout=18000 watcher=kafka.zookeeper.ZooKeeperClient$ZooKeeperClientWatcher$@52815fa3 (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:02:06,406] INFO jute.maxbuffer value is 4194304 Bytes (org.apache.zookeeper.ClientCnxnSocket)
[2024-05-05 04:02:06,410] INFO zookeeper.request.timeout value is 0. feature enabled=false (org.apache.zookeeper.ClientCnxn)
[2024-05-05 04:02:06,411] INFO [ZooKeeperClient Kafka server] Waiting until connected. (kafka.zookeeper.ZooKeeperClient)
[2024-05-05 04:02:06,412] INFO Opening socket connection to server localhost/127.0.0.1:2181. (org.apache.zookeeper.ClientCnxn)
[2024-05-05 04:02:06,414] INFO Socket connection established, initiating session, client: /127.0.0.1:36472, server: localhost/127.0.0.1:2181 (org.apache.zookeeper.ClientCnxn)
[2024-05-05 04:02:06,421] INFO Creating new log file: log.1 (org.apache.zookeeper.server.persistence.FileTxnLog)
[2024-05-05 04:02:06,437] INFO Session establishment complete on server localhost/127.0.0.1:2181, session id = 0x100011a5f900000, negotiated timeout = 18000 (org.apache.zookeeper.ClientCnxn)
[2024-05-05 04:02:06,439] INFO [ZooKeeperClient Kafka server] Connected. (kafka.zookeeper.ZooKeeperClient)
[2024-05-05 04:02:06,630] INFO Cluster ID = ZwoSamz9QV2Kl4vxZGuk-Q (kafka.server.KafkaServer)
[2024-05-05 04:02:06,633] WARN No meta.properties file under dir /usr/local/kafka/data/logs/broker_2/meta.properties (kafka.server.BrokerMetadataCheckpoint)
[2024-05-05 04:02:06,697] INFO KafkaConfig values:
	advertised.listeners = null
	alter.config.policy.class.name = null
	alter.log.dirs.replication.quota.window.num = 11
	alter.log.dirs.replication.quota.window.size.seconds = 1
	authorizer.class.name =
	auto.create.topics.enable = true
	auto.include.jmx.reporter = true
	auto.leader.rebalance.enable = true
	background.threads = 10
	broker.heartbeat.interval.ms = 2000
	broker.id = 2
	broker.id.generation.enable = true
	broker.rack = null
	broker.session.timeout.ms = 9000
	client.quota.callback.class = null
	compression.type = producer
	connection.failed.authentication.delay.ms = 100
	connections.max.idle.ms = 600000
	connections.max.reauth.ms = 0
	control.plane.listener.name = null
	controlled.shutdown.enable = true
	controlled.shutdown.max.retries = 3
	controlled.shutdown.retry.backoff.ms = 5000
	controller.listener.names = null
	controller.quorum.append.linger.ms = 25
	controller.quorum.election.backoff.max.ms = 1000
	controller.quorum.election.timeout.ms = 1000
	controller.quorum.fetch.timeout.ms = 2000
	controller.quorum.request.timeout.ms = 2000
	controller.quorum.retry.backoff.ms = 20
	controller.quorum.voters = []
	controller.quota.window.num = 11
	controller.quota.window.size.seconds = 1
	controller.socket.timeout.ms = 30000
	create.topic.policy.class.name = null
	default.replication.factor = 1
	delegation.token.expiry.check.interval.ms = 3600000
	delegation.token.expiry.time.ms = 86400000
	delegation.token.master.key = null
	delegation.token.max.lifetime.ms = 604800000
	delegation.token.secret.key = null
	delete.records.purgatory.purge.interval.requests = 1
	delete.topic.enable = true
	early.start.listeners = null
	fetch.max.bytes = 57671680
	fetch.purgatory.purge.interval.requests = 1000
	group.consumer.assignors = [org.apache.kafka.coordinator.group.assignor.RangeAssignor]
	group.consumer.heartbeat.interval.ms = 5000
	group.consumer.max.heartbeat.interval.ms = 15000
	group.consumer.max.session.timeout.ms = 60000
	group.consumer.max.size = 2147483647
	group.consumer.min.heartbeat.interval.ms = 5000
	group.consumer.min.session.timeout.ms = 45000
	group.consumer.session.timeout.ms = 45000
	group.coordinator.new.enable = false
	group.coordinator.threads = 1
	group.initial.rebalance.delay.ms = 0
	group.max.session.timeout.ms = 1800000
	group.max.size = 2147483647
	group.min.session.timeout.ms = 6000
	initial.broker.registration.timeout.ms = 60000
	inter.broker.listener.name = null
	inter.broker.protocol.version = 3.6-IV2
	kafka.metrics.polling.interval.secs = 10
	kafka.metrics.reporters = []
	leader.imbalance.check.interval.seconds = 300
	leader.imbalance.per.broker.percentage = 10
	listener.security.protocol.map = PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL
	listeners = PLAINTEXT://:9092
	log.cleaner.backoff.ms = 15000
	log.cleaner.dedupe.buffer.size = 134217728
	log.cleaner.delete.retention.ms = 86400000
	log.cleaner.enable = true
	log.cleaner.io.buffer.load.factor = 0.9
	log.cleaner.io.buffer.size = 524288
	log.cleaner.io.max.bytes.per.second = 1.7976931348623157E308
	log.cleaner.max.compaction.lag.ms = 9223372036854775807
	log.cleaner.min.cleanable.ratio = 0.5
	log.cleaner.min.compaction.lag.ms = 0
	log.cleaner.threads = 1
	log.cleanup.policy = [delete]
	log.dir = /tmp/kafka-logs
	log.dirs = /usr/local/kafka/data/logs/broker_2
	log.flush.interval.messages = 9223372036854775807
	log.flush.interval.ms = null
	log.flush.offset.checkpoint.interval.ms = 60000
	log.flush.scheduler.interval.ms = 9223372036854775807
	log.flush.start.offset.checkpoint.interval.ms = 60000
	log.index.interval.bytes = 4096
	log.index.size.max.bytes = 10485760
	log.local.retention.bytes = -2
	log.local.retention.ms = -2
	log.message.downconversion.enable = true
	log.message.format.version = 3.0-IV1
	log.message.timestamp.after.max.ms = 9223372036854775807
	log.message.timestamp.before.max.ms = 9223372036854775807
	log.message.timestamp.difference.max.ms = 9223372036854775807
	log.message.timestamp.type = CreateTime
	log.preallocate = false
	log.retention.bytes = -1
	log.retention.check.interval.ms = 300000
	log.retention.hours = 168
	log.retention.minutes = null
	log.retention.ms = null
	log.roll.hours = 168
	log.roll.jitter.hours = 0
	log.roll.jitter.ms = null
	log.roll.ms = null
	log.segment.bytes = 1073741824
	log.segment.delete.delay.ms = 60000
	max.connection.creation.rate = 2147483647
	max.connections = 2147483647
	max.connections.per.ip = 2147483647
	max.connections.per.ip.overrides =
	max.incremental.fetch.session.cache.slots = 1000
	message.max.bytes = 1048588
	metadata.log.dir = null
	metadata.log.max.record.bytes.between.snapshots = 20971520
	metadata.log.max.snapshot.interval.ms = 3600000
	metadata.log.segment.bytes = 1073741824
	metadata.log.segment.min.bytes = 8388608
	metadata.log.segment.ms = 604800000
	metadata.max.idle.interval.ms = 500
	metadata.max.retention.bytes = 104857600
	metadata.max.retention.ms = 604800000
	metric.reporters = []
	metrics.num.samples = 2
	metrics.recording.level = INFO
	metrics.sample.window.ms = 30000
	min.insync.replicas = 1
	node.id = 2
	num.io.threads = 8
	num.network.threads = 3
	num.partitions = 1
	num.recovery.threads.per.data.dir = 1
	num.replica.alter.log.dirs.threads = null
	num.replica.fetchers = 1
	offset.metadata.max.bytes = 4096
	offsets.commit.required.acks = -1
	offsets.commit.timeout.ms = 5000
	offsets.load.buffer.size = 5242880
	offsets.retention.check.interval.ms = 600000
	offsets.retention.minutes = 10080
	offsets.topic.compression.codec = 0
	offsets.topic.num.partitions = 50
	offsets.topic.replication.factor = 1
	offsets.topic.segment.bytes = 104857600
	password.encoder.cipher.algorithm = AES/CBC/PKCS5Padding
	password.encoder.iterations = 4096
	password.encoder.key.length = 128
	password.encoder.keyfactory.algorithm = null
	password.encoder.old.secret = null
	password.encoder.secret = null
	principal.builder.class = class org.apache.kafka.common.security.authenticator.DefaultKafkaPrincipalBuilder
	process.roles = []
	producer.id.expiration.check.interval.ms = 600000
	producer.id.expiration.ms = 86400000
	producer.purgatory.purge.interval.requests = 1000
	queued.max.request.bytes = -1
	queued.max.requests = 500
	quota.window.num = 11
	quota.window.size.seconds = 1
	remote.log.index.file.cache.total.size.bytes = 1073741824
	remote.log.manager.task.interval.ms = 30000
	remote.log.manager.task.retry.backoff.max.ms = 30000
	remote.log.manager.task.retry.backoff.ms = 500
	remote.log.manager.task.retry.jitter = 0.2
	remote.log.manager.thread.pool.size = 10
	remote.log.metadata.custom.metadata.max.bytes = 128
	remote.log.metadata.manager.class.name = org.apache.kafka.server.log.remote.metadata.storage.TopicBasedRemoteLogMetadataManager
	remote.log.metadata.manager.class.path = null
	remote.log.metadata.manager.impl.prefix = rlmm.config.
	remote.log.metadata.manager.listener.name = null
	remote.log.reader.max.pending.tasks = 100
	remote.log.reader.threads = 10
	remote.log.storage.manager.class.name = null
	remote.log.storage.manager.class.path = null
	remote.log.storage.manager.impl.prefix = rsm.config.
	remote.log.storage.system.enable = false
	replica.fetch.backoff.ms = 1000
	replica.fetch.max.bytes = 1048576
	replica.fetch.min.bytes = 1
	replica.fetch.response.max.bytes = 10485760
	replica.fetch.wait.max.ms = 500
	replica.high.watermark.checkpoint.interval.ms = 5000
	replica.lag.time.max.ms = 30000
	replica.selector.class = null
	replica.socket.receive.buffer.bytes = 65536
	replica.socket.timeout.ms = 30000
	replication.quota.window.num = 11
	replication.quota.window.size.seconds = 1
	request.timeout.ms = 30000
	reserved.broker.max.id = 1000
	sasl.client.callback.handler.class = null
	sasl.enabled.mechanisms = [GSSAPI]
	sasl.jaas.config = null
	sasl.kerberos.kinit.cmd = /usr/bin/kinit
	sasl.kerberos.min.time.before.relogin = 60000
	sasl.kerberos.principal.to.local.rules = [DEFAULT]
	sasl.kerberos.service.name = null
	sasl.kerberos.ticket.renew.jitter = 0.05
	sasl.kerberos.ticket.renew.window.factor = 0.8
	sasl.login.callback.handler.class = null
	sasl.login.class = null
	sasl.login.connect.timeout.ms = null
	sasl.login.read.timeout.ms = null
	sasl.login.refresh.buffer.seconds = 300
	sasl.login.refresh.min.period.seconds = 60
	sasl.login.refresh.window.factor = 0.8
	sasl.login.refresh.window.jitter = 0.05
	sasl.login.retry.backoff.max.ms = 10000
	sasl.login.retry.backoff.ms = 100
	sasl.mechanism.controller.protocol = GSSAPI
	sasl.mechanism.inter.broker.protocol = GSSAPI
	sasl.oauthbearer.clock.skew.seconds = 30
	sasl.oauthbearer.expected.audience = null
	sasl.oauthbearer.expected.issuer = null
	sasl.oauthbearer.jwks.endpoint.refresh.ms = 3600000
	sasl.oauthbearer.jwks.endpoint.retry.backoff.max.ms = 10000
	sasl.oauthbearer.jwks.endpoint.retry.backoff.ms = 100
	sasl.oauthbearer.jwks.endpoint.url = null
	sasl.oauthbearer.scope.claim.name = scope

# PRODUCE MESSAGES CLASIC WAY
### COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING READING

```python
from confluent_kafka import Producer
import json
from time import sleep
from datetime import datetime
import pytz
import random

def get_dataset():
    # Create a sample list with animal data
    dataset = [("lion", "mammal"), ("elephant", "mammal"), ("tiger", "feline"), ("whale", "mammal"), ("penguin", "bird"), ("gorilla", "primate"), ("leopard", "feline"), ("crocodile", "reptile"), ("rhinoceros", "mammal"), 
            ("zebra", "mammal"), ("hippopotamus", "mammal"), ("eagle", "bird"), ("orangutan", "primate"), ("grizzly bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), ("python", "reptile"), ("hawk", "bird"), 
            ("wolf", "mammal"), ("tortoise", "reptile"), ("swan", "bird"), ("cheetah", "feline"), ("seagull", "bird"), ("giraffe", "mammal"), ("deer", "mammal"), ("giraffe", "mammal"), ("lizard", "reptile"), ("flamingo", "bird"),
            ("chimp", "primate"), ("buffalo", "mammal"), ("vulture", "bird"), ("bear", "mammal"), ("anaconda", "reptile"), ("pigeon", "bird"), ("coyote", "mammal"), ("chameleon", "reptile"), ("ostrich", "bird"), ("jaguar", "feline"), 
            ("owl", "bird"), ("beetle", "insect"), ("snail", "invertebrate"), ("octopus", "cephalopod"), ("lobster", "crustacean"), ("koala", "marsupial"), ("crane", "bird"), ("iguana", "reptile"), ("lemur", "primate"), ("sloth", "mammal"), 
            ("gazelle", "mammal"), ("wombat", "marsupial"), ("hummingbird", "bird"), ("porcupine", "mammal"), ("macaw", "bird"), ("hyena", "mammal"), ("dolphin", "mammal"), ("seahorse", "fish"), ("orca", "mammal"), ("kangaroo", "marsupial"), 
            ("shark", "fish"), ("beaver", "mammal"), ("platypus", "mammal"), ("armadillo", "mammal"), ("rabbit", "mammal"), ("camel", "mammal"), ("squirrel", "mammal"), ("peacock", "bird"), ("crow", "bird"), ("frog", "amphibian"), 
            ("toad", "amphibian"), ("newt", "amphibian"), ("axolotl", "amphibian"), ("butterfly", "insect"), ("dragonfly", "insect"), ("grasshopper", "insect"), ("mantis", "insect"), ("beetle", "insect"), ("ant", "insect"), ("termite", "insect"),
            ("spider", "arachnid"), ("scorpion", "arachnid"), ("tick", "arachnid"), ("bee", "insect"), ("wasp", "insect"), ("hornet", "insect"), ("fly", "insect"), ("mosquito", "insect"), ("cockroach", "insect"), ("ladybug", "insect"), 
            ("firefly", "insect"), ("millipede", "arthropod"), ("centipede", "arthropod"), ("crab", "crustacean"), ("shrimp", "crustacean"), ("barnacle", "crustacean"), ("clam", "mollusk"), ("oyster", "mollusk"), ("mussel", "mollusk"), 
            ("snail", "mollusk"), ("slug", "mollusk"), ("squid", "cephalopod"), ("cuttlefish", "cephalopod"), ("nautilus", "cephalopod"), ("jellyfish", "cnidarian"), ("coral", "cnidarian"), ("hydra", "cnidarian"), ("anemone", "cnidarian"), 
            ("sponge", "porifera"), ("sea cucumber", "echinoderm"), ("starfish", "echinoderm"), ("sand dollar", "echinoderm"), ("sea urchin", "echinoderm"), ("brittle star", "echinoderm"), ("sea star", "echinoderm"), ("sea lily", "echinoderm"), 
            ("feather star", "echinoderm"), ("black widow", "arachnid"), ("brown recluse", "arachnid"), ("tarantula", "arachnid"), ("daddy longlegs", "arachnid"), ("wolf spider", "arachnid"), ("jumping spider", "arachnid"), 
            ("huntsman spider", "arachnid"), ("tarantula hawk", "insect"), ("assassin bug", "insect"), ("lacewing", "insect"), ("stink bug", "insect"), ("cicada", "insect"), ("walking stick", "insect"), ("scorpionfly", "insect"), 
            ("flower mantis", "insect"), ("praying mantis", "insect"), ("earwig", "insect"), ("flea", "insect"), ("leaf insect", "insect"), ("planthopper", "insect"), ("scale insect", "insect"), ("aphid", "insect"), ("mealybug", "insect"), 
            ("thrips", "insect"), ("whitefly", "insect"), ("beetle", "insect"), ("antlion", "insect"), ("snakefly", "insect"), ("dobsonfly", "insect"), ("webspinner", "insect"), ("mayfly", "insect"), ("stonefly", "insect"), 
            ("silverfish", "insect"), ("firebrat", "insect"), ("bristletail", "insect"), ("thysanuran", "insect"), ("dragonfly", "insect"), ("damselfly", "insect"), ("bluet", "insect"), ("darner", "insect"), ("adder", "insect"), 
            ("basker", "insect"), ("biter", "insect"), ("blister beetle", "insect"), ("bomber", "insect"), ("bristle beetle", "insect"), ("burrower", "insect"), ("carrier", "insect"), ("caterpillar", "insect"), ("chafers", "insect"), 
            ("chewer", "insect"), ("click beetle", "insect"), ("cobblers", "insect"), ("cobweb spider", "arachnid"), ("cockroaches", "insect"), ("coil worm", "insect"), ("creeper", "insect"), ("cuckoo wasp", "insect"), ("cutworm", "insect"), 
            ("digger", "insect"), ("dor beetle", "insect"), ("earthworms", "insect"), ("eggfly", "insect"), ("elaters", "insect"), ("emperor", "insect"), ("gadfly", "insect"), ("gnat", "insect"), ("grasshopper", "insect"), ("grazer", "insect"), 
            ("ground beetle", "insect"), ("harvester", "insect"), ("hornet", "insect"), ("hornworm", "insect"), ("humblebee", "insect"), ("humpbacked fly", "insect"), ("hoverfly", "insect"), ("hunter", "insect"), ("jumper", "insect"), 
            ("katydid", "insect"), ("lacewing", "insect"), ("leafcutter", "insect"), ("leafhopper", "insect"), ("leafroller", "insect"), ("louse", "insect"), ("maggot", "insect"), ("mantisfly", "insect"), ("marsh fly", "insect"), 
            ("marsh beetle", "insect"), ("mason wasp", "insect"), ("mealybug", "insect"), ("miner", "insect"), ("mite", "insect"), ("mole cricket", "insect"), ("moth", "insect"), ("nemesis", "insect"), ("net-winged insect", "insect"), 
            ("nightcrawler", "insect"), ("nit", "insect"), ("nymph", "insect"), ("odorous ant", "insect"), ("oracle", "insect"), ("orb weaver", "arachnid"), ("orcus", "insect"), ("ostracod", "insect"), ("outlaw", "insect"), 
            ("peacock butterfly", "insect"), ("pharaoh ant", "insect"), ("pillbug", "insect"), ("plankton", "insect"), ("pollinator", "insect"), ("potter wasp", "insect"), ("praying mantis", "insect"), ("predator", "insect"),
            ("proboscis", "insect"), ("prophet", "insect"), ("pruner", "insect"), ("pseudoscorpion", "arachnid"), ("psycho", "insect"), ("psycho fly", "insect"), ("psychodid", "insect"), ("pupa", "insect"), ("purple martin", "insect"), 
            ("putter", "insect"), ("ranger", "insect"), ("recluse", "insect"), ("reducer", "insect"), ("repeater", "insect"), ("riffle bug", "insect"), ("robber fly", "insect"), ("rootworm", "insect"), ("rover", "insect"), ("saber wasp", "insect"),
            ("sawfly", "insect"), ("scarab", "insect"), ("scorpionfly", "insect"), ("scourge", "insect"), ("scout", "insect"), ("scuttle fly", "insect"), ("silk spinner", "insect"), ("silverfish", "insect"), ("skipper butterfly", "insect"), 
            ("snout butterfly", "insect"), ("snout beetle", "insect"), ("snout moth", "insect"), ("sow bug", "insect"),("spider mite", "insect"), ("spider wasp", "insect"), ("sphinx moth", "insect"), ("spider", "arachnid"), ("spinner", "insect"),
            ("spittlebug", "insect"), ("spook", "insect"), ("springtail", "insect"), ("stag beetle", "insect"), ("stealer", "insect"), ("stinger", "insect"), ("stink bug", "insect"), ("stinging ant", "insect"), ("stonefly", "insect"), 
            ("strangler", "insect"), ("sucking louse", "insect"), ("sweat bee", "insect"), ("tailor", "insect"), ("tanglefoot", "insect"), ("tarantula", "arachnid"), ("tarantula hawk", "insect"), ("tick", "arachnid"), ("tiger beetle", "insect"), 
            ("tiger moth", "insect"), ("tiphiid wasp", "insect"), ("titan beetle", "insect"), ("toad bug", "insect"), ("torchbearer", "insect"), ("torpedo bug", "insect"), ("tortoise beetle", "insect"), ("trapper", "insect"), 
            ("tree cricket", "insect"), ("trilobite beetle", "insect"), ("trogonoptera", "insect"), ("twig borer", "insect"), ("vampire", "insect"), ("victorious", "insect"), ("vinegar fly", "insect"), ("vine (weevil", "insect"), 
            ("wanderer", "insect"), ("wasps", "insect"), ("weaver", "insect"), ("webworm moth", "insect"), ("weta", "insect"), ("whirligig beetle", "insect"), ("whisperer", "insect"), ("whitefly", "insect"), ("widow spider", "arachnid"),
            ("willow fly", "insect"), ("winged ant", "insect"), ("wood wasp", "insect"), ("woodworm", "insect"), ("woolly bear", "insect"), ("worm", "insect"),("wrestler", "insect"), ("yucca moth", "insect"), ("zebra butterfly", "insect"),("zebra", "mammal"), 
            ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"),("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"),
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"),("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    return dataset
    
def produce_messages(kafka_bootstrap_servers, topic, dataset, iterations=1, empty=0, random_sample=20):
    """
    Generate sample animal data and write it to a Kafka topic.

    Args:
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        topic (str): Kafka topic to which the data will be written.
        iterations (int, optional): Number of iterations to write data. Defaults to 1.
        empty (int, optional): Flag to indicate whether to write empty data. Defaults to 0.
    """
 
    # Kafka Producer configuration
    conf = {
        'bootstrap.servers': kafka_bootstrap_servers,
    }

    # Create Kafka Producer
    producer = Producer(conf)

    try:
        for iteration in range(iterations):
            # Select random elements from the data list
            selected_data = random.sample(dataset, random_sample)
            
            # Write data to Kafka
            local_timezone = pytz.timezone('America/New_York')  # Set the local timezone
            date_created = datetime.now(local_timezone).strftime('%Y-%m-%d %H:%M:%S %Z')  # Get current timestamp in the desired format
            for name, animal_type in selected_data:
                animal_data = {'name': name, 'type': animal_type, 'iteration': iteration + 1, 'date_created': date_created}
                producer.produce(topic, key='Animal', value=json.dumps(animal_data))  # Elimin .encode('utf-8')
            # Print a message indicating that the data has been written to the Kafka topic
            print(f"Iteration {iteration + 1} , Data written to Kafka topic ({topic}).")    
            # delaying seconds for next batch
            sleep(iteration + 1)  # Fixed iteration + 1 seconds wait between iterations
            
        # Flush any remaining messages
        producer.flush()

    except Exception as e:
        print(f"Error: {e}")
    finally:
        # Close the producer
        producer.flush()  # Flush any remaining messages before closing
        producer.poll(0)  # Poll to handle any message delivery callbacks
        del producer

# Example usage:
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"
dataset = get_dataset()
produce_messages(kafka_bootstrap_servers=kafka_bootstrap_servers, dataset=dataset, topic=topic, iterations=5, random_sample = 27)
```

# CONSUME MESSAGES CLASIC WAY

In [5]:
import json
import time
from datetime import datetime
from math import ceil

import pandas as pd
from confluent_kafka import Consumer, KafkaError

pd.set_option("display.max_colwidth", None)


def consume_messages(kafka_bootstrap_servers, topic, batch_size=20, timeout=10):
    """
    Consume messages from a Kafka topic in batches and return them as a pandas DataFrame.

    Args:
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        topic (str): Kafka topic from which to consume messages.
        batch_size (int): Size of each batch of messages to return as a DataFrame. Defaults to 20.
        timeout (int): Maximum time to wait for new messages (in seconds) before returning the current batch. Defaults to 10 seconds.

    Yields:
        pandas.DataFrame: DataFrame containing the consumed batch of messages.

    Raises:
        KeyboardInterrupt: Raised when the consumer is stopped by the user (e.g., through keyboard interrupt).
    """
    # Consumer configuration
    conf = {
        "bootstrap.servers": kafka_bootstrap_servers,  # Kafka bootstrap servers
        "group.id": "my_consumer_group",  # Consumer group ID
        "auto.offset.reset": "earliest",  # Set the starting offset to the earliest available
    }

    # Create consumer
    consumer = Consumer(conf)

    # Subscribe to the topic
    consumer.subscribe([topic])

    # List to store messages for each batch
    messages = []

    # Time tracking for timeout
    last_message_time = time.time()

    try:
        while True:
            # Wait for messages
            msg = consumer.poll(1.0)

            # Check if the timeout has been reached
            time_limit = time.time() - last_message_time

            # If no message received within the poll timeout
            if msg is None:
                print(
                    f"Producer will disconnect due to inactivity in {ceil(timeout - time_limit)} Seconds."
                )
                # If timeout exceeded, return the current batch
                if time_limit > timeout:
                    print(
                        f"No new messages received in the last {timeout} seconds. Returning the current batch."
                    )
                    if messages:
                        # Convert the list of messages into a pandas DataFrame
                        df = pd.DataFrame(messages)
                        # Yield the DataFrame
                        yield df
                        # Clear the messages list for the next batch
                        messages = []
                    # If no messages received on timeout, break the loop
                    else:
                        break
                continue

            # Update last message time
            last_message_time = time.time()

            # Handle Kafka errors
            if msg.error():
                # If end of partition, continue with the next one
                if msg.error().code() == KafkaError._PARTITION_EOF:
                    continue
                else:
                    # Otherwise, print the error and break the loop
                    print(f"Error receiving message: {msg.error()}")
                    break

            # Decode the received value as JSON
            try:
                message = {
                    "Key": msg.key().decode("utf-8"),
                    "Value": msg.value().decode("utf-8"),
                    "Topic": msg.topic(),
                    "Partition": msg.partition(),
                    "Offset": msg.offset(),
                    "Timestamp": datetime.utcfromtimestamp(
                        msg.timestamp()[1] / 1000
                    ).strftime("%Y-%m-%d %H:%M:%S"),
                }
                messages.append(message)
            except Exception as e:
                # Print error if decoding fails
                print(f"Error processing message: {e}")

            # Check if the batch size has been reached
            if len(messages) == batch_size:
                # Convert the list of messages into a pandas DataFrame
                df = pd.DataFrame(messages)
                # Yield the DataFrame
                yield df
                # Clear the messages list for the next batch
                messages = []

    except KeyboardInterrupt:
        # If KeyboardInterrupt occurs, print message and stop the consumer
        print("Stopping the consumer...")

    finally:
        # Close the consumer
        consumer.close()


# Example usage:
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"

for index, batch_df in enumerate(
    consume_messages(kafka_bootstrap_servers, topic, batch_size=15)
):
    print(f"Batch index:", index)
    display(batch_df)  # Display the batch DataFrame
    # Perform operations on the batch DataFrame
    print(f"End Preprocessing batch {index}")
    print()

[2024-05-05 04:02:31,045] INFO [GroupCoordinator 2]: Dynamic member with unknown member id joins group my_consumer_group in Empty state. Created a new member id rdkafka-b272aeaf-2c66-444c-8468-e714b3e6ca86 and request the member to rejoin with this id. (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:02:31,051] INFO [GroupCoordinator 2]: Preparing to rebalance group my_consumer_group in state PreparingRebalance with old generation 0 (__consumer_offsets-35) (reason: Adding new member rdkafka-b272aeaf-2c66-444c-8468-e714b3e6ca86 with group instance id None; client reason: not provided) (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:02:31,056] INFO [GroupCoordinator 2]: Stabilized group my_consumer_group generation 1 (__consumer_offsets-35) with 1 members (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:02:31,062] INFO [GroupCoordinator 2]: Assignment received from leader rdkafka-b272aeaf-2c66-444c-8468-e714b3e6ca86 for group my_consumer_group for generation 1. The group has 1 members, 0 of which are static. (kafka.coordinator.group.GroupCoordinator)
Batch index: 0

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""widow spider"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,0,2024-05-05 04:02:21
1,Animal,"{""name"": ""fox"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,1,2024-05-05 04:02:21
2,Animal,"{""name"": ""praying mantis"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,2,2024-05-05 04:02:21
3,Animal,"{""name"": ""mealybug"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,3,2024-05-05 04:02:21
4,Animal,"{""name"": ""rhino"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,4,2024-05-05 04:02:21
5,Animal,"{""name"": ""sea star"", ""type"": ""echinoderm"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,5,2024-05-05 04:02:21
6,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,6,2024-05-05 04:02:21
7,Animal,"{""name"": ""huntsman spider"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,7,2024-05-05 04:02:21
8,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,8,2024-05-05 04:02:21
9,Animal,"{""name"": ""harvester"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,9,2024-05-05 04:02:21
10,Animal,"{""name"": ""trilobite beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,10,2024-05-05 04:02:21
11,Animal,"{""name"": ""snout beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,11,2024-05-05 04:02:21
12,Animal,"{""name"": ""coral"", ""type"": ""cnidarian"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,12,2024-05-05 04:02:21
13,Animal,"{""name"": ""dor beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,13,2024-05-05 04:02:21
14,Animal,"{""name"": ""torchbearer"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,14,2024-05-05 04:02:21

End Preprocessing batch 0

Batch index: 1

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""leafcutter"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,15,2024-05-05 04:02:21
1,Animal,"{""name"": ""snout butterfly"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,16,2024-05-05 04:02:21
2,Animal,"{""name"": ""nit"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,17,2024-05-05 04:02:21
3,Animal,"{""name"": ""blister beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,18,2024-05-05 04:02:21
4,Animal,"{""name"": ""stag beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,19,2024-05-05 04:02:21
5,Animal,"{""name"": ""wrestler"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,20,2024-05-05 04:02:21
6,Animal,"{""name"": ""leafhopper"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,21,2024-05-05 04:02:21
7,Animal,"{""name"": ""mosquito"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,22,2024-05-05 04:02:21
8,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,23,2024-05-05 04:02:21
9,Animal,"{""name"": ""brown recluse"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:21 EDT""}",animals-topic-batch,0,24,2024-05-05 04:02:21
10,Animal,"{""name"": ""hyena"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,25,2024-05-05 04:02:22
11,Animal,"{""name"": ""pruner"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,26,2024-05-05 04:02:22
12,Animal,"{""name"": ""scuttle fly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,27,2024-05-05 04:02:22
13,Animal,"{""name"": ""whitefly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,28,2024-05-05 04:02:22
14,Animal,"{""name"": ""biter"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,29,2024-05-05 04:02:22

End Preprocessing batch 1

Batch index: 2

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""eagle"", ""type"": ""bird"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,30,2024-05-05 04:02:22
1,Animal,"{""name"": ""dragonfly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,31,2024-05-05 04:02:22
2,Animal,"{""name"": ""centipede"", ""type"": ""arthropod"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,32,2024-05-05 04:02:22
3,Animal,"{""name"": ""pseudoscorpion"", ""type"": ""arachnid"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,33,2024-05-05 04:02:22
4,Animal,"{""name"": ""weaver"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,34,2024-05-05 04:02:22
5,Animal,"{""name"": ""turtle"", ""type"": ""reptile"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,35,2024-05-05 04:02:22
6,Animal,"{""name"": ""scourge"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,36,2024-05-05 04:02:22
7,Animal,"{""name"": ""leafhopper"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,37,2024-05-05 04:02:22
8,Animal,"{""name"": ""hornworm"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,38,2024-05-05 04:02:22
9,Animal,"{""name"": ""cockroach"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,39,2024-05-05 04:02:22
10,Animal,"{""name"": ""mantisfly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,40,2024-05-05 04:02:22
11,Animal,"{""name"": ""grazer"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,41,2024-05-05 04:02:22
12,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,42,2024-05-05 04:02:22
13,Animal,"{""name"": ""stag beetle"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,43,2024-05-05 04:02:22
14,Animal,"{""name"": ""potter wasp"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,44,2024-05-05 04:02:22

End Preprocessing batch 2

Batch index: 3

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""praying mantis"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,45,2024-05-05 04:02:22
1,Animal,"{""name"": ""wrestler"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,46,2024-05-05 04:02:22
2,Animal,"{""name"": ""creeper"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,47,2024-05-05 04:02:22
3,Animal,"{""name"": ""damselfly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,48,2024-05-05 04:02:22
4,Animal,"{""name"": ""fly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:22 EDT""}",animals-topic-batch,0,49,2024-05-05 04:02:22
5,Animal,"{""name"": ""thrips"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,50,2024-05-05 04:02:24
6,Animal,"{""name"": ""dragonfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,51,2024-05-05 04:02:24
7,Animal,"{""name"": ""vinegar fly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,52,2024-05-05 04:02:24
8,Animal,"{""name"": ""feather star"", ""type"": ""echinoderm"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,53,2024-05-05 04:02:24
9,Animal,"{""name"": ""wasp"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,54,2024-05-05 04:02:24
10,Animal,"{""name"": ""scuttle fly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,55,2024-05-05 04:02:24
11,Animal,"{""name"": ""sea star"", ""type"": ""echinoderm"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,56,2024-05-05 04:02:24
12,Animal,"{""name"": ""polar bear"", ""type"": ""mammal"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,57,2024-05-05 04:02:24
13,Animal,"{""name"": ""eggfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,58,2024-05-05 04:02:24
14,Animal,"{""name"": ""peacock"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,59,2024-05-05 04:02:24

End Preprocessing batch 3

Batch index: 4

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""vulture"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,60,2024-05-05 04:02:24
1,Animal,"{""name"": ""crow"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,61,2024-05-05 04:02:24
2,Animal,"{""name"": ""riffle bug"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,62,2024-05-05 04:02:24
3,Animal,"{""name"": ""mealybug"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,63,2024-05-05 04:02:24
4,Animal,"{""name"": ""snout butterfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,64,2024-05-05 04:02:24
5,Animal,"{""name"": ""beetle"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,65,2024-05-05 04:02:24
6,Animal,"{""name"": ""hippopotamus"", ""type"": ""mammal"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,66,2024-05-05 04:02:24
7,Animal,"{""name"": ""owl"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,67,2024-05-05 04:02:24
8,Animal,"{""name"": ""shark"", ""type"": ""fish"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,68,2024-05-05 04:02:24
9,Animal,"{""name"": ""silverfish"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,69,2024-05-05 04:02:24
10,Animal,"{""name"": ""hunter"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,70,2024-05-05 04:02:24
11,Animal,"{""name"": ""rootworm"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,71,2024-05-05 04:02:24
12,Animal,"{""name"": ""kangaroo"", ""type"": ""marsupial"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,72,2024-05-05 04:02:24
13,Animal,"{""name"": ""cutworm"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,73,2024-05-05 04:02:24
14,Animal,"{""name"": ""recluse"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:24 EDT""}",animals-topic-batch,0,74,2024-05-05 04:02:24

End Preprocessing batch 4

Batch index: 5

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""prophet"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,75,2024-05-05 04:02:27
1,Animal,"{""name"": ""ground beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,76,2024-05-05 04:02:27
2,Animal,"{""name"": ""basker"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,77,2024-05-05 04:02:27
3,Animal,"{""name"": ""whirligig beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,78,2024-05-05 04:02:27
4,Animal,"{""name"": ""rootworm"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,79,2024-05-05 04:02:27
5,Animal,"{""name"": ""pollinator"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,80,2024-05-05 04:02:27
6,Animal,"{""name"": ""weaver"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,81,2024-05-05 04:02:27
7,Animal,"{""name"": ""bristle beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,82,2024-05-05 04:02:27
8,Animal,"{""name"": ""eagle"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,83,2024-05-05 04:02:27
9,Animal,"{""name"": ""biter"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,84,2024-05-05 04:02:27
10,Animal,"{""name"": ""spider mite"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,85,2024-05-05 04:02:27
11,Animal,"{""name"": ""snout moth"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,86,2024-05-05 04:02:27
12,Animal,"{""name"": ""stag beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,87,2024-05-05 04:02:27
13,Animal,"{""name"": ""turtle"", ""type"": ""reptile"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,88,2024-05-05 04:02:27
14,Animal,"{""name"": ""thysanuran"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,89,2024-05-05 04:02:27

End Preprocessing batch 5

Batch index: 6

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""dobsonfly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,90,2024-05-05 04:02:27
1,Animal,"{""name"": ""gorilla"", ""type"": ""primate"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,91,2024-05-05 04:02:27
2,Animal,"{""name"": ""swan"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,92,2024-05-05 04:02:27
3,Animal,"{""name"": ""hydra"", ""type"": ""cnidarian"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,93,2024-05-05 04:02:27
4,Animal,"{""name"": ""cobblers"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,94,2024-05-05 04:02:27
5,Animal,"{""name"": ""pharaoh ant"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,95,2024-05-05 04:02:27
6,Animal,"{""name"": ""tarantula hawk"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,96,2024-05-05 04:02:27
7,Animal,"{""name"": ""jellyfish"", ""type"": ""cnidarian"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,97,2024-05-05 04:02:27
8,Animal,"{""name"": ""leopard"", ""type"": ""feline"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,98,2024-05-05 04:02:27
9,Animal,"{""name"": ""hawk"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:27 EDT""}",animals-topic-batch,0,99,2024-05-05 04:02:27
10,Animal,"{""name"": ""titan beetle"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,100,2024-05-05 04:02:31
11,Animal,"{""name"": ""bee"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,101,2024-05-05 04:02:31
12,Animal,"{""name"": ""willow fly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,102,2024-05-05 04:02:31
13,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,103,2024-05-05 04:02:31
14,Animal,"{""name"": ""gazelle"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,104,2024-05-05 04:02:31

End Preprocessing batch 6

Batch index: 7

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""tarantula hawk"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,105,2024-05-05 04:02:31
1,Animal,"{""name"": ""axolotl"", ""type"": ""amphibian"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,106,2024-05-05 04:02:31
2,Animal,"{""name"": ""toad bug"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,107,2024-05-05 04:02:31
3,Animal,"{""name"": ""squirrel"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,108,2024-05-05 04:02:31
4,Animal,"{""name"": ""marsh fly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,109,2024-05-05 04:02:31
5,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,110,2024-05-05 04:02:31
6,Animal,"{""name"": ""orangutan"", ""type"": ""primate"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,111,2024-05-05 04:02:31
7,Animal,"{""name"": ""bristletail"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,112,2024-05-05 04:02:31
8,Animal,"{""name"": ""beetle"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,113,2024-05-05 04:02:31
9,Animal,"{""name"": ""vine (weevil"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,114,2024-05-05 04:02:31
10,Animal,"{""name"": ""zebra butterfly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,115,2024-05-05 04:02:31
11,Animal,"{""name"": ""wolf"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,116,2024-05-05 04:02:31
12,Animal,"{""name"": ""basker"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,117,2024-05-05 04:02:31
13,Animal,"{""name"": ""purple martin"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,118,2024-05-05 04:02:31
14,Animal,"{""name"": ""rhino"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,119,2024-05-05 04:02:31

End Preprocessing batch 7

Producer will disconnect due to inactivity in 9 Seconds.
Producer will disconnect due to inactivity in 8 Seconds.
Producer will disconnect due to inactivity in 7 Seconds.
Producer will disconnect due to inactivity in 6 Seconds.
Producer will disconnect due to inactivity in 5 Seconds.
Batch index: 8

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""frog"", ""type"": ""amphibian"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,120,2024-05-05 04:02:31
1,Animal,"{""name"": ""tarantula"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,121,2024-05-05 04:02:31
2,Animal,"{""name"": ""walking stick"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,122,2024-05-05 04:02:31
3,Animal,"{""name"": ""winged ant"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,123,2024-05-05 04:02:31
4,Animal,"{""name"": ""ostracod"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:31 EDT""}",animals-topic-batch,0,124,2024-05-05 04:02:31
5,Animal,"{""name"": ""tailor"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,125,2024-05-05 04:02:36
6,Animal,"{""name"": ""polar bear"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,126,2024-05-05 04:02:36
7,Animal,"{""name"": ""deer"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,127,2024-05-05 04:02:36
8,Animal,"{""name"": ""stink bug"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,128,2024-05-05 04:02:36
9,Animal,"{""name"": ""digger"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,129,2024-05-05 04:02:36
10,Animal,"{""name"": ""tarantula hawk"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,130,2024-05-05 04:02:36
11,Animal,"{""name"": ""chimpanzee"", ""type"": ""primate"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,131,2024-05-05 04:02:36
12,Animal,"{""name"": ""tick"", ""type"": ""arachnid"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,132,2024-05-05 04:02:36
13,Animal,"{""name"": ""robber fly"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,133,2024-05-05 04:02:36
14,Animal,"{""name"": ""spinner"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,134,2024-05-05 04:02:36

End Preprocessing batch 8

Batch index: 9

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""mole cricket"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,135,2024-05-05 04:02:36
1,Animal,"{""name"": ""panther"", ""type"": ""feline"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,136,2024-05-05 04:02:36
2,Animal,"{""name"": ""riffle bug"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,137,2024-05-05 04:02:36
3,Animal,"{""name"": ""trilobite beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,138,2024-05-05 04:02:36
4,Animal,"{""name"": ""tiger"", ""type"": ""feline"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,139,2024-05-05 04:02:36
5,Animal,"{""name"": ""ostrich"", ""type"": ""bird"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,140,2024-05-05 04:02:36
6,Animal,"{""name"": ""whisperer"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,141,2024-05-05 04:02:36
7,Animal,"{""name"": ""springtail"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,142,2024-05-05 04:02:36
8,Animal,"{""name"": ""snail"", ""type"": ""mollusk"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,143,2024-05-05 04:02:36
9,Animal,"{""name"": ""stag beetle"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,144,2024-05-05 04:02:36
10,Animal,"{""name"": ""eagle"", ""type"": ""bird"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,145,2024-05-05 04:02:36
11,Animal,"{""name"": ""scarab"", ""type"": ""insect"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,146,2024-05-05 04:02:36
12,Animal,"{""name"": ""dolphin"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,147,2024-05-05 04:02:36
13,Animal,"{""name"": ""dolphin"", ""type"": ""mammal"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,148,2024-05-05 04:02:36
14,Animal,"{""name"": ""octopus"", ""type"": ""cephalopod"", ""iteration"": 1, ""date_created"": ""2024-05-05 00:02:36 EDT""}",animals-topic-batch,0,149,2024-05-05 04:02:36

End Preprocessing batch 9

Batch index: 10

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""orangutan"", ""type"": ""primate"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,150,2024-05-05 04:02:37
1,Animal,"{""name"": ""dobsonfly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,151,2024-05-05 04:02:37
2,Animal,"{""name"": ""walking stick"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,152,2024-05-05 04:02:37
3,Animal,"{""name"": ""ant"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,153,2024-05-05 04:02:37
4,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,154,2024-05-05 04:02:37
5,Animal,"{""name"": ""tortoise"", ""type"": ""reptile"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,155,2024-05-05 04:02:37
6,Animal,"{""name"": ""squid"", ""type"": ""cephalopod"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,156,2024-05-05 04:02:37
7,Animal,"{""name"": ""pillbug"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,157,2024-05-05 04:02:37
8,Animal,"{""name"": ""scout"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,158,2024-05-05 04:02:37
9,Animal,"{""name"": ""spider mite"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,159,2024-05-05 04:02:37
10,Animal,"{""name"": ""titan beetle"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,160,2024-05-05 04:02:37
11,Animal,"{""name"": ""chameleon"", ""type"": ""reptile"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,161,2024-05-05 04:02:37
12,Animal,"{""name"": ""silverfish"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,162,2024-05-05 04:02:37
13,Animal,"{""name"": ""octopus"", ""type"": ""cephalopod"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,163,2024-05-05 04:02:37
14,Animal,"{""name"": ""trilobite beetle"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,164,2024-05-05 04:02:37

End Preprocessing batch 10

Producer will disconnect due to inactivity in 9 Seconds.
Batch index: 11

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""black widow"", ""type"": ""arachnid"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,165,2024-05-05 04:02:37
1,Animal,"{""name"": ""skipper butterfly"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,166,2024-05-05 04:02:37
2,Animal,"{""name"": ""emperor"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,167,2024-05-05 04:02:37
3,Animal,"{""name"": ""cheetah"", ""type"": ""feline"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,168,2024-05-05 04:02:37
4,Animal,"{""name"": ""lion"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,169,2024-05-05 04:02:37
5,Animal,"{""name"": ""dolphin"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,170,2024-05-05 04:02:37
6,Animal,"{""name"": ""panda"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,171,2024-05-05 04:02:37
7,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,172,2024-05-05 04:02:37
8,Animal,"{""name"": ""chafers"", ""type"": ""insect"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,173,2024-05-05 04:02:37
9,Animal,"{""name"": ""gazelle"", ""type"": ""mammal"", ""iteration"": 2, ""date_created"": ""2024-05-05 00:02:37 EDT""}",animals-topic-batch,0,174,2024-05-05 04:02:37
10,Animal,"{""name"": ""tick"", ""type"": ""arachnid"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,175,2024-05-05 04:02:39
11,Animal,"{""name"": ""trilobite beetle"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,176,2024-05-05 04:02:39
12,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,177,2024-05-05 04:02:39
13,Animal,"{""name"": ""basker"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,178,2024-05-05 04:02:39
14,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,179,2024-05-05 04:02:39

End Preprocessing batch 11

Batch index: 12

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""proboscis"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,180,2024-05-05 04:02:39
1,Animal,"{""name"": ""stinging ant"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,181,2024-05-05 04:02:39
2,Animal,"{""name"": ""whisperer"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,182,2024-05-05 04:02:39
3,Animal,"{""name"": ""crocodile"", ""type"": ""reptile"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,183,2024-05-05 04:02:39
4,Animal,"{""name"": ""victorious"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,184,2024-05-05 04:02:39
5,Animal,"{""name"": ""panda"", ""type"": ""mammal"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,185,2024-05-05 04:02:39
6,Animal,"{""name"": ""anaconda"", ""type"": ""reptile"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,186,2024-05-05 04:02:39
7,Animal,"{""name"": ""brittle star"", ""type"": ""echinoderm"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,187,2024-05-05 04:02:39
8,Animal,"{""name"": ""orangutan"", ""type"": ""primate"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,188,2024-05-05 04:02:39
9,Animal,"{""name"": ""python"", ""type"": ""reptile"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,189,2024-05-05 04:02:39
10,Animal,"{""name"": ""butterfly"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,190,2024-05-05 04:02:39
11,Animal,"{""name"": ""newt"", ""type"": ""amphibian"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,191,2024-05-05 04:02:39
12,Animal,"{""name"": ""ladybug"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,192,2024-05-05 04:02:39
13,Animal,"{""name"": ""nightcrawler"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,193,2024-05-05 04:02:39
14,Animal,"{""name"": ""woodworm"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,194,2024-05-05 04:02:39

End Preprocessing batch 12

Producer will disconnect due to inactivity in 9 Seconds.
Producer will disconnect due to inactivity in 8 Seconds.
Batch index: 13

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""eagle"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,195,2024-05-05 04:02:39
1,Animal,"{""name"": ""grasshopper"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,196,2024-05-05 04:02:39
2,Animal,"{""name"": ""sphinx moth"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,197,2024-05-05 04:02:39
3,Animal,"{""name"": ""mite"", ""type"": ""insect"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,198,2024-05-05 04:02:39
4,Animal,"{""name"": ""hawk"", ""type"": ""bird"", ""iteration"": 3, ""date_created"": ""2024-05-05 00:02:39 EDT""}",animals-topic-batch,0,199,2024-05-05 04:02:39
5,Animal,"{""name"": ""rhinoceros"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,200,2024-05-05 04:02:42
6,Animal,"{""name"": ""lizard"", ""type"": ""reptile"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,201,2024-05-05 04:02:42
7,Animal,"{""name"": ""frog"", ""type"": ""amphibian"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,202,2024-05-05 04:02:42
8,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,203,2024-05-05 04:02:42
9,Animal,"{""name"": ""spider"", ""type"": ""arachnid"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,204,2024-05-05 04:02:42
10,Animal,"{""name"": ""camel"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,205,2024-05-05 04:02:42
11,Animal,"{""name"": ""plankton"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,206,2024-05-05 04:02:42
12,Animal,"{""name"": ""vulture"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,207,2024-05-05 04:02:42
13,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,208,2024-05-05 04:02:42
14,Animal,"{""name"": ""oracle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,209,2024-05-05 04:02:42

End Preprocessing batch 13

Batch index: 14

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""repeater"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,210,2024-05-05 04:02:42
1,Animal,"{""name"": ""snout beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,211,2024-05-05 04:02:42
2,Animal,"{""name"": ""whisperer"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,212,2024-05-05 04:02:42
3,Animal,"{""name"": ""hunter"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,213,2024-05-05 04:02:42
4,Animal,"{""name"": ""wolf spider"", ""type"": ""arachnid"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,214,2024-05-05 04:02:42
5,Animal,"{""name"": ""wood wasp"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,215,2024-05-05 04:02:42
6,Animal,"{""name"": ""skipper butterfly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,216,2024-05-05 04:02:42
7,Animal,"{""name"": ""chafers"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,217,2024-05-05 04:02:42
8,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,218,2024-05-05 04:02:42
9,Animal,"{""name"": ""dobsonfly"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,219,2024-05-05 04:02:42
10,Animal,"{""name"": ""newt"", ""type"": ""amphibian"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,220,2024-05-05 04:02:42
11,Animal,"{""name"": ""seagull"", ""type"": ""bird"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,221,2024-05-05 04:02:42
12,Animal,"{""name"": ""bear"", ""type"": ""mammal"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,222,2024-05-05 04:02:42
13,Animal,"{""name"": ""blister beetle"", ""type"": ""insect"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,223,2024-05-05 04:02:42
14,Animal,"{""name"": ""starfish"", ""type"": ""echinoderm"", ""iteration"": 4, ""date_created"": ""2024-05-05 00:02:42 EDT""}",animals-topic-batch,0,224,2024-05-05 04:02:42

End Preprocessing batch 14

Producer will disconnect due to inactivity in 9 Seconds.
Producer will disconnect due to inactivity in 8 Seconds.
Producer will disconnect due to inactivity in 7 Seconds.
Batch index: 15

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""tick"", ""type"": ""arachnid"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,225,2024-05-05 04:02:46
1,Animal,"{""name"": ""ground beetle"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,226,2024-05-05 04:02:46
2,Animal,"{""name"": ""leafcutter"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,227,2024-05-05 04:02:46
3,Animal,"{""name"": ""wrestler"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,228,2024-05-05 04:02:46
4,Animal,"{""name"": ""wood wasp"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,229,2024-05-05 04:02:46
5,Animal,"{""name"": ""mealybug"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,230,2024-05-05 04:02:46
6,Animal,"{""name"": ""bee"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,231,2024-05-05 04:02:46
7,Animal,"{""name"": ""polar bear"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,232,2024-05-05 04:02:46
8,Animal,"{""name"": ""bluet"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,233,2024-05-05 04:02:46
9,Animal,"{""name"": ""thrips"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,234,2024-05-05 04:02:46
10,Animal,"{""name"": ""buffalo"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,235,2024-05-05 04:02:46
11,Animal,"{""name"": ""iguana"", ""type"": ""reptile"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,236,2024-05-05 04:02:46
12,Animal,"{""name"": ""fly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,237,2024-05-05 04:02:46
13,Animal,"{""name"": ""spider wasp"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,238,2024-05-05 04:02:46
14,Animal,"{""name"": ""webworm moth"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,239,2024-05-05 04:02:46

End Preprocessing batch 15

Producer will disconnect due to inactivity in 9 Seconds.
Producer will disconnect due to inactivity in 8 Seconds.
Producer will disconnect due to inactivity in 7 Seconds.
Producer will disconnect due to inactivity in 6 Seconds.
Producer will disconnect due to inactivity in 5 Seconds.
Producer will disconnect due to inactivity in 4 Seconds.
Producer will disconnect due to inactivity in 3 Seconds.
Producer will disconnect due to inactivity in 2 Seconds.
Producer will disconnect due to inactivity in 1 Seconds.
Producer will disconnect due to inactivity in 0 Seconds.
No new messages received in the last 10 seconds. Returning the current batch.
Batch index: 16

,Key,Value,Topic,Partition,Offset,Timestamp
0,Animal,"{""name"": ""zebra"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,240,2024-05-05 04:02:46
1,Animal,"{""name"": ""leaf insect"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,241,2024-05-05 04:02:46
2,Animal,"{""name"": ""victorious"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,242,2024-05-05 04:02:46
3,Animal,"{""name"": ""fox"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,243,2024-05-05 04:02:46
4,Animal,"{""name"": ""stonefly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,244,2024-05-05 04:02:46
5,Animal,"{""name"": ""jumper"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,245,2024-05-05 04:02:46
6,Animal,"{""name"": ""whitefly"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,246,2024-05-05 04:02:46
7,Animal,"{""name"": ""cicada"", ""type"": ""insect"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,247,2024-05-05 04:02:46
8,Animal,"{""name"": ""chimp"", ""type"": ""primate"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,248,2024-05-05 04:02:46
9,Animal,"{""name"": ""whale"", ""type"": ""mammal"", ""iteration"": 5, ""date_created"": ""2024-05-05 00:02:46 EDT""}",animals-topic-batch,0,249,2024-05-05 04:02:46

End Preprocessing batch 16

Producer will disconnect due to inactivity in -1 Seconds.
No new messages received in the last 10 seconds. Returning the current batch.
[2024-05-05 04:02:57,859] INFO [GroupCoordinator 2]: Preparing to rebalance group my_consumer_group in state PreparingRebalance with old generation 1 (__consumer_offsets-35) (reason: Removing member rdkafka-b272aeaf-2c66-444c-8468-e714b3e6ca86 on LeaveGroup; client reason: not provided) (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:02:57,859] INFO [GroupCoordinator 2]: Group my_consumer_group with generation 2 is now empty (__consumer_offsets-35) (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:02:57,861] INFO [GroupCoordinator 2]: Member MemberMetadata(memberId=rdkafka-b272aeaf-2c66-444c-8468-e714b3e6ca86, groupInstanceId=None, clientId=rdkafka, clientHost=/172.17.0.2, sessionTimeoutMs=45000, rebalanceTimeoutMs=300000, supportedProtocols=List(range, roundrobin)) has left group my_consumer_group through explicit `LeaveGroup`; client reason: not provided (kafka.coordinator.group.GroupCoordinator)

# <center> SPARK

# ANIMALS DATASET

In [6]:
def get_dataset():
    # Create a sample list with animal data
    dataset = [("lion", "mammal"), ("elephant", "mammal"), ("tiger", "feline"), ("whale", "mammal"), ("penguin", "bird"), ("gorilla", "primate"), ("leopard", "feline"), ("crocodile", "reptile"), ("rhinoceros", "mammal"), 
            ("zebra", "mammal"), ("hippopotamus", "mammal"), ("eagle", "bird"), ("orangutan", "primate"), ("grizzly bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), ("python", "reptile"), ("hawk", "bird"), 
            ("wolf", "mammal"), ("tortoise", "reptile"), ("swan", "bird"), ("cheetah", "feline"), ("seagull", "bird"), ("giraffe", "mammal"), ("deer", "mammal"), ("giraffe", "mammal"), ("lizard", "reptile"), ("flamingo", "bird"),
            ("chimp", "primate"), ("buffalo", "mammal"), ("vulture", "bird"), ("bear", "mammal"), ("anaconda", "reptile"), ("pigeon", "bird"), ("coyote", "mammal"), ("chameleon", "reptile"), ("ostrich", "bird"), ("jaguar", "feline"), 
            ("owl", "bird"), ("beetle", "insect"), ("snail", "invertebrate"), ("octopus", "cephalopod"), ("lobster", "crustacean"), ("koala", "marsupial"), ("crane", "bird"), ("iguana", "reptile"), ("lemur", "primate"), ("sloth", "mammal"), 
            ("gazelle", "mammal"), ("wombat", "marsupial"), ("hummingbird", "bird"), ("porcupine", "mammal"), ("macaw", "bird"), ("hyena", "mammal"), ("dolphin", "mammal"), ("seahorse", "fish"), ("orca", "mammal"), ("kangaroo", "marsupial"), 
            ("shark", "fish"), ("beaver", "mammal"), ("platypus", "mammal"), ("armadillo", "mammal"), ("rabbit", "mammal"), ("camel", "mammal"), ("squirrel", "mammal"), ("peacock", "bird"), ("crow", "bird"), ("frog", "amphibian"), 
            ("toad", "amphibian"), ("newt", "amphibian"), ("axolotl", "amphibian"), ("butterfly", "insect"), ("dragonfly", "insect"), ("grasshopper", "insect"), ("mantis", "insect"), ("beetle", "insect"), ("ant", "insect"), ("termite", "insect"),
            ("spider", "arachnid"), ("scorpion", "arachnid"), ("tick", "arachnid"), ("bee", "insect"), ("wasp", "insect"), ("hornet", "insect"), ("fly", "insect"), ("mosquito", "insect"), ("cockroach", "insect"), ("ladybug", "insect"), 
            ("firefly", "insect"), ("millipede", "arthropod"), ("centipede", "arthropod"), ("crab", "crustacean"), ("shrimp", "crustacean"), ("barnacle", "crustacean"), ("clam", "mollusk"), ("oyster", "mollusk"), ("mussel", "mollusk"), 
            ("snail", "mollusk"), ("slug", "mollusk"), ("squid", "cephalopod"), ("cuttlefish", "cephalopod"), ("nautilus", "cephalopod"), ("jellyfish", "cnidarian"), ("coral", "cnidarian"), ("hydra", "cnidarian"), ("anemone", "cnidarian"), 
            ("sponge", "porifera"), ("sea cucumber", "echinoderm"), ("starfish", "echinoderm"), ("sand dollar", "echinoderm"), ("sea urchin", "echinoderm"), ("brittle star", "echinoderm"), ("sea star", "echinoderm"), ("sea lily", "echinoderm"), 
            ("feather star", "echinoderm"), ("black widow", "arachnid"), ("brown recluse", "arachnid"), ("tarantula", "arachnid"), ("daddy longlegs", "arachnid"), ("wolf spider", "arachnid"), ("jumping spider", "arachnid"), 
            ("huntsman spider", "arachnid"), ("tarantula hawk", "insect"), ("assassin bug", "insect"), ("lacewing", "insect"), ("stink bug", "insect"), ("cicada", "insect"), ("walking stick", "insect"), ("scorpionfly", "insect"), 
            ("flower mantis", "insect"), ("praying mantis", "insect"), ("earwig", "insect"), ("flea", "insect"), ("leaf insect", "insect"), ("planthopper", "insect"), ("scale insect", "insect"), ("aphid", "insect"), ("mealybug", "insect"), 
            ("thrips", "insect"), ("whitefly", "insect"), ("beetle", "insect"), ("antlion", "insect"), ("snakefly", "insect"), ("dobsonfly", "insect"), ("webspinner", "insect"), ("mayfly", "insect"), ("stonefly", "insect"), 
            ("silverfish", "insect"), ("firebrat", "insect"), ("bristletail", "insect"), ("thysanuran", "insect"), ("dragonfly", "insect"), ("damselfly", "insect"), ("bluet", "insect"), ("darner", "insect"), ("adder", "insect"), 
            ("basker", "insect"), ("biter", "insect"), ("blister beetle", "insect"), ("bomber", "insect"), ("bristle beetle", "insect"), ("burrower", "insect"), ("carrier", "insect"), ("caterpillar", "insect"), ("chafers", "insect"), 
            ("chewer", "insect"), ("click beetle", "insect"), ("cobblers", "insect"), ("cobweb spider", "arachnid"), ("cockroaches", "insect"), ("coil worm", "insect"), ("creeper", "insect"), ("cuckoo wasp", "insect"), ("cutworm", "insect"), 
            ("digger", "insect"), ("dor beetle", "insect"), ("earthworms", "insect"), ("eggfly", "insect"), ("elaters", "insect"), ("emperor", "insect"), ("gadfly", "insect"), ("gnat", "insect"), ("grasshopper", "insect"), ("grazer", "insect"), 
            ("ground beetle", "insect"), ("harvester", "insect"), ("hornet", "insect"), ("hornworm", "insect"), ("humblebee", "insect"), ("humpbacked fly", "insect"), ("hoverfly", "insect"), ("hunter", "insect"), ("jumper", "insect"), 
            ("katydid", "insect"), ("lacewing", "insect"), ("leafcutter", "insect"), ("leafhopper", "insect"), ("leafroller", "insect"), ("louse", "insect"), ("maggot", "insect"), ("mantisfly", "insect"), ("marsh fly", "insect"), 
            ("marsh beetle", "insect"), ("mason wasp", "insect"), ("mealybug", "insect"), ("miner", "insect"), ("mite", "insect"), ("mole cricket", "insect"), ("moth", "insect"), ("nemesis", "insect"), ("net-winged insect", "insect"), 
            ("nightcrawler", "insect"), ("nit", "insect"), ("nymph", "insect"), ("odorous ant", "insect"), ("oracle", "insect"), ("orb weaver", "arachnid"), ("orcus", "insect"), ("ostracod", "insect"), ("outlaw", "insect"), 
            ("peacock butterfly", "insect"), ("pharaoh ant", "insect"), ("pillbug", "insect"), ("plankton", "insect"), ("pollinator", "insect"), ("potter wasp", "insect"), ("praying mantis", "insect"), ("predator", "insect"),
            ("proboscis", "insect"), ("prophet", "insect"), ("pruner", "insect"), ("pseudoscorpion", "arachnid"), ("psycho", "insect"), ("psycho fly", "insect"), ("psychodid", "insect"), ("pupa", "insect"), ("purple martin", "insect"), 
            ("putter", "insect"), ("ranger", "insect"), ("recluse", "insect"), ("reducer", "insect"), ("repeater", "insect"), ("riffle bug", "insect"), ("robber fly", "insect"), ("rootworm", "insect"), ("rover", "insect"), ("saber wasp", "insect"),
            ("sawfly", "insect"), ("scarab", "insect"), ("scorpionfly", "insect"), ("scourge", "insect"), ("scout", "insect"), ("scuttle fly", "insect"), ("silk spinner", "insect"), ("silverfish", "insect"), ("skipper butterfly", "insect"), 
            ("snout butterfly", "insect"), ("snout beetle", "insect"), ("snout moth", "insect"), ("sow bug", "insect"),("spider mite", "insect"), ("spider wasp", "insect"), ("sphinx moth", "insect"), ("spider", "arachnid"), ("spinner", "insect"),
            ("spittlebug", "insect"), ("spook", "insect"), ("springtail", "insect"), ("stag beetle", "insect"), ("stealer", "insect"), ("stinger", "insect"), ("stink bug", "insect"), ("stinging ant", "insect"), ("stonefly", "insect"), 
            ("strangler", "insect"), ("sucking louse", "insect"), ("sweat bee", "insect"), ("tailor", "insect"), ("tanglefoot", "insect"), ("tarantula", "arachnid"), ("tarantula hawk", "insect"), ("tick", "arachnid"), ("tiger beetle", "insect"), 
            ("tiger moth", "insect"), ("tiphiid wasp", "insect"), ("titan beetle", "insect"), ("toad bug", "insect"), ("torchbearer", "insect"), ("torpedo bug", "insect"), ("tortoise beetle", "insect"), ("trapper", "insect"), 
            ("tree cricket", "insect"), ("trilobite beetle", "insect"), ("trogonoptera", "insect"), ("twig borer", "insect"), ("vampire", "insect"), ("victorious", "insect"), ("vinegar fly", "insect"), ("vine (weevil", "insect"), 
            ("wanderer", "insect"), ("wasps", "insect"), ("weaver", "insect"), ("webworm moth", "insect"), ("weta", "insect"), ("whirligig beetle", "insect"), ("whisperer", "insect"), ("whitefly", "insect"), ("widow spider", "arachnid"),
            ("willow fly", "insect"), ("winged ant", "insect"), ("wood wasp", "insect"), ("woodworm", "insect"), ("woolly bear", "insect"), ("worm", "insect"),("wrestler", "insect"), ("yucca moth", "insect"), ("zebra butterfly", "insect"),("zebra", "mammal"), 
            ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"),("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"),
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"),("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    return dataset

# DEPENDENCIES

In [6]:
import os

from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.12.0.jar",
    "kafka-clients-3.7.0.jar",
    "spark-sql-kafka-0-10_2.12-3.4.3.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.3.jar",
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"

# Create Spark session and add JARs
spark_session = (
    SparkSession.builder.appName("WriteKafkaAnimals")
    .config("spark.jars", dependencies)
    .getOrCreate()
)

# BATCH WRITING

In [8]:
import random
from datetime import datetime
from time import sleep

import pytz


# Function to save batch data to a Kafka topic
def save_batch_data(
    spark_session,
    kafka_bootstrap_servers,
    dataset,
    topic,
    iterations=1,
    empty=0,
    random_sample=20,
):
    """
    Save batch data to a Kafka topic.

    Args:
        spark_session (SparkSession): Spark session object.
        kafka_bootstrap_servers (str): Kafka bootstrap servers in the format "host:port".
        dataset (list): List of tuples containing data to be written to Kafka.
        topic (str): Kafka topic to which the data will be written.
        iterations (int, optional): Number of iterations to run. Defaults to 1.
        empty (int, optional): Placeholder for future use. Defaults to 0.
        random_sample (int, optional): Number of random samples to select from the dataset for each iteration. Defaults to 20.
    """
    # Define the columns for the DataFrame
    columns = ["topic_name", "name", "animal_type", "iteration", "date_created"]

    # Iterate through the specified number of iterations
    for iteration in range(iterations):
        # Select random elements from the dataset
        selected_data = random.sample(dataset, random_sample)

        # Write data to Kafka
        local_timezone = pytz.timezone("America/New_York")  # Set the local timezone
        date_created = datetime.now(local_timezone).strftime(
            "%Y-%m-%d %H:%M:%S %Z"
        )  # Get the current timestamp in the desired format

        values = list()

        # Create a list of tuples with animal data and other metadata
        for name, animal_type in selected_data:
            animal_data = ("Animal", name, animal_type, iteration + 1, date_created)
            values.append(animal_data)

        # Create a Spark DataFrame from the values and columns
        df_animals = spark_session.createDataFrame(values, columns)

        # Write the DataFrame to the Kafka topic
        df_animals.selectExpr(
            "topic_name as key",
            "to_json(struct(name, animal_type, iteration, date_created)) as value",
        ).write.format("kafka").option(
            "kafka.bootstrap.servers", kafka_bootstrap_servers
        ).option(
            "topic", topic
        ).save()

        # Print a message indicating that the data has been written to the Kafka topic
        print(f"Iteration {iteration + 1} , Data written to Kafka topic ({topic}).")


# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"
dataset = get_dataset()
save_batch_data(
    spark_session=spark_session,
    kafka_bootstrap_servers=kafka_bootstrap_servers,
    dataset=dataset,
    topic=topic,
    iterations=5,
)

Iteration 1 , Data written to Kafka topic (animals-topic-batch).
Iteration 2 , Data written to Kafka topic (animals-topic-batch).
Iteration 3 , Data written to Kafka topic (animals-topic-batch).
Iteration 4 , Data written to Kafka topic (animals-topic-batch).
Iteration 5 , Data written to Kafka topic (animals-topic-batch).

# BATCH READING

In [9]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType


# Define the hexadecimal decoding function
@udf(returnType=StringType())
def decode_hex(value):
    try:
        if isinstance(value, str):
            return bytes.fromhex(value).decode("utf-8")
        elif isinstance(value, bytearray):
            return bytes(value).decode("utf-8")
        else:
            return str(value)
    except (ValueError, UnicodeDecodeError):
        return str(value)


def read_batch_data(spark_session, kafka_bootstrap_servers, topic):

    # Try to read data from Kafka
    try:
        # Read data from Kafka
        df_kafka = (
            spark_session.read.format("kafka")
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers)
            .option("subscribe", topic)
            .load()
        )

        # Decode hexadecimal values
        df_decoded = df_kafka.withColumn("key", decode_hex("key")).withColumn(
            "value", decode_hex("value")
        )

        # Show the DataFrame with decoded data
        df_decoded.show(truncate=False)

    except Exception as e:
        if "UnknownTopicOrPartitionException" in str(e):
            print(f"The topic '{topic}' does not exist in the Kafka cluster.")
        else:
            print(f"Unexpected error: {e}")

    finally:
        # Stop the Spark session
        None

topic = "animals-topic-batch"
read_batch_data(spark_session, kafka_bootstrap_servers, topic)

24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894

+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
|key   |value                                                                                                     |topic              |partition|offset|timestamp              |timestampType|
+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
|Animal|{"name": "widow spider", "type": "arachnid", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}   |animals-topic-batch|0        |0     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "fox", "type": "mammal", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}              |animals-topic-batch|0        |1     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "praying mantis", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}   |animals-topic-batch|0        |2     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "mealybug", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}         |animals-topic-batch|0        |3     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "rhino", "type": "mammal", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}            |animals-topic-batch|0        |4     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "sea star", "type": "echinoderm", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}     |animals-topic-batch|0        |5     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "iguana", "type": "reptile", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}          |animals-topic-batch|0        |6     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "huntsman spider", "type": "arachnid", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}|animals-topic-batch|0        |7     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "seagull", "type": "bird", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}            |animals-topic-batch|0        |8     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "harvester", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}        |animals-topic-batch|0        |9     |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "trilobite beetle", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"} |animals-topic-batch|0        |10    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "snout beetle", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}     |animals-topic-batch|0        |11    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "coral", "type": "cnidarian", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}         |animals-topic-batch|0        |12    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "dor beetle", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}       |animals-topic-batch|0        |13    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "torchbearer", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}      |animals-topic-batch|0        |14    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "leafcutter", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}       |animals-topic-batch|0        |15    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "snout butterfly", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}  |animals-topic-batch|0        |16    |2024-05-05 04:02:21.795|0            |
|Animal|{"name": "nit", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}              |animals-topic-batch|0        |17    |2024-05-05 04:02:21.796|0            |
|Animal|{"name": "blister beetle", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}   |animals-topic-batch|0        |18    |2024-05-05 04:02:21.796|0            |
|Animal|{"name": "stag beetle", "type": "insect", "iteration": 1, "date_created": "2024-05-05 00:02:21 EDT"}      |animals-topic-batch|0        |19    |2024-05-05 04:02:21.796|0            |
+------+----------------------------------------------------------------------------------------------------------+-------------------+---------+------+-----------------------+-------------+
only showing top 20 rows

24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/05/05 04:03:13 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894

# STREAMING WRITING
## MASSIVE DATA INSERTION TO KAFKA FOR STREAMING READ
### COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDIN

```python
import os
from pyspark.sql import SparkSession
from time import sleep

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.12.0.jar",
    "kafka-clients-3.7.0.jar",
    "spark-sql-kafka-0-10_2.12-3.4.3.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.3.jar"
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"


# Create Spark session and add JARs
spark_session = SparkSession.builder \
    .appName("WriteKafkaAnimals") \
    .config("spark.jars", dependencies) \
    .getOrCreate()


def save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=1):

    # Create a sample DataFrame with animal data
    data = [("zebra", "mammal"), ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),
            ("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"), 
            ("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"), 
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), 
            ("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), 
            ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    
    columns = ["name", "type"]
    
    df_animals = spark_session.createDataFrame(data, columns)

    for iteration in range(iterations):
        sleep(0.2)
        # Write the DataFrame to Kafka topic
        df_animals.selectExpr("name as key", "type as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
        print (f'Iteration {iteration}, completed!!!')
    
    # Print a message indicating that the data has been written to the Kafka topic
    print(f"{iterations} Iterations, Data written to Kafka topic ({topic}).")

     # Finally, stop the Spark session
    spark_session.stop()

save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=13)
```

# STREAMING READING
## IT WILL BE LISTENING TO THE "animals-topic-batch" TOPIC
## WHEN NEW DATA ARRIVES, IT READS AND STORES THEM IN THE "animals-topic-streaming" TOPIC
## MAKE THE TRANSFORMATIONS
### UPPER CASE, PROCCESS ROW BY ROW, USE UDF FUNCTION AND SEND PARAMETERS, CREATE PANDAS DATAFRAME.

In [10]:
from pyspark.sql.functions import expr
from pyspark.sql.functions import col, udf
import json

def read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory):

    # Read from Kafka in streaming mode
    kafkaStream = spark_session \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", input_topic) \
        .option("startingOffsets", "earliest") \
        .load()
    
    # Perform some transformation on the data (here we are simply renaming the columns and uppercase the values)
    kafkaTransformedStream = kafkaStream.selectExpr("CAST(key AS STRING) as key", "UPPER(CAST(value AS STRING)) as value")

    # Configure a streaming write query to write data to Parquet format
    kafkaStreamSaveToParquet = kafkaTransformedStream \
        .writeStream \
        .outputMode("append") \
        .format("parquet") \
        .option("path", files_directory) \
        .option("checkpointLocation", checkpoint_location) \
        .trigger(processingTime="1 minute") \
        .start()

    def process_batch2(batch_df, batch_id):
        print(f"Batch ID: {batch_id}")
        batch_df.show(truncate=False)
    
    # Define a function to process each batch and print it without truncating
    def process_batch(batch_df, batch_id, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory):
        """
        Processes each batch of the streaming DataFrame and displays it as a Pandas DataFrame.
    
        Args:
        - batch_df (DataFrame): The DataFrame containing the batch data.
        - batch_id (int): The ID of the batch being processed.
        - kafka_bootstrap_servers (str): The Kafka bootstrap servers.
        - input_topic (str): The input Kafka topic.
        - output_topic (str): The output Kafka topic.
        - checkpoint_location (str): The location for checkpointing.
        - files_directory (str): The directory path for saving files.
    
        Returns:
        - None
        """
        # Print the batch ID for identification
        print(f"Batch ID : {batch_id}")
    
        # Collect key-value pairs from the batch DataFrame
        key_values = batch_df.select(col("key"), col("value")).collect()
    
        # Initialize an empty list to store data for the Pandas DataFrame
        data = []
    
        # Iterate through key-value pairs
        for row in key_values:
            # Extract the key and create a dictionary with the key
            row_data = {"key": row["key"]}
            
            # Parse the JSON value and update the dictionary
            value_dict = json.loads(row["value"])
            row_data.update(value_dict)
            
            # Append Kafka metadata to the dictionary
            row_data.update({
                "input_topic": input_topic,  # Use input_topic as the Kafka topic
                "output_topic": input_topic,  # Use output_topic as the Kafka topic
                "checkpoint_location": checkpoint_location,  # Use checkpoint_location as the Kafka topic
                "files_directory": files_directory  # Use files_directory as the Kafka topic
            })
            
            # Append the updated dictionary to the data list
            data.append(row_data)
    
        # Create a Pandas DataFrame from the collected data
        df_pandas = pd.DataFrame(data)
    
        # Display the Pandas DataFrame
        display(df_pandas)
    

    from functools import partial
    
    # Create a partial function with the additional parameters
    partial_process_batch = partial(process_batch, kafka_bootstrap_servers=kafka_bootstrap_servers,
                                    input_topic=input_topic, output_topic=output_topic,
                                    checkpoint_location=checkpoint_location,
                                    files_directory=files_directory)
        
    # Configure a streaming write query to send data to Kafka, and use a function into foreach for show content whitout truncate
    kafkaStreamWriter = kafkaTransformedStream \
        .writeStream \
        .option("failOnDataLoss", "false") \
        .outputMode("append") \
        .format("kafka") \
        .option("truncate", "false") \
        .option("checkpointLocation", checkpoint_location) \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("topic", output_topic) \
        .foreachBatch(partial_process_batch) \
        .start()

    print('kafkaStream', type(kafkaStream))
    print('transformedStream', type(kafkaTransformedStream))
    print('query', type(kafkaStreamWriter))


# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
input_topic = "animals-topic-batch"
output_topic = "animals-topic-streaming"
# Checkpoint directory within the Kafka directory
checkpoint_location = "/usr/local/kafka/data/checkpoint"
files_directory = "/usr/local/kafka/data/files"

read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory)

kafkaStream <class 'pyspark.sql.dataframe.DataFrame'>
transformedStream <class 'pyspark.sql.dataframe.DataFrame'>
query <class 'pyspark.sql.streaming.query.StreamingQuery'>

24/05/05 04:03:22 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/05/05 04:03:22 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/05/05 04:03:22 WARN StreamingQueryManager: Stopping existing streaming query [id=ad2bafb2-2044-4de5-a185-7f5cc1ac931a, runId=9dd311cd-8b87-42db-b2e9-2d1bffe1ee09], as a new run is being started.

Batch ID : 0

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory,ANIMAL_TYPE
0,Animal,WIDOW SPIDER,ARACHNID,1,2024-05-05 00:02:21 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
1,Animal,FOX,MAMMAL,1,2024-05-05 00:02:21 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
2,Animal,PRAYING MANTIS,INSECT,1,2024-05-05 00:02:21 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
3,Animal,MEALYBUG,INSECT,1,2024-05-05 00:02:21 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
4,Animal,RHINO,MAMMAL,1,2024-05-05 00:02:21 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
...,...,...,...,...,...,...,...,...,...,...
470,Animal,TIPHIID WASP,INSECT,5,2024-05-05 00:03:22 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
471,Animal,DARNER,INSECT,5,2024-05-05 00:03:22 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
472,Animal,HUMMINGBIRD,BIRD,5,2024-05-05 00:03:22 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
473,Animal,PSYCHODID,INSECT,5,2024-05-05 00:03:22 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN
474,Animal,CORAL,CNIDARIAN,5,2024-05-05 00:03:22 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files,NaN

Batch ID : 1

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory
0,Animal,SWEAT BEE,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
1,Animal,WASP,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
2,Animal,CROW,BIRD,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
3,Animal,OYSTER,MOLLUSK,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
4,Animal,COBWEB SPIDER,ARACHNID,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
5,Animal,ROOTWORM,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
6,Animal,CAMEL,MAMMAL,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
7,Animal,SEA URCHIN,ECHINODERM,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
8,Animal,WASPS,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
9,Animal,LOBSTER,CRUSTACEAN,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
10,Animal,CRANE,BIRD,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
11,Animal,HORNWORM,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
12,Animal,PSYCHO,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
13,Animal,ELEPHANT,MAMMAL,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
14,Animal,ORANGUTAN,PRIMATE,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
15,Animal,NYMPH,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
16,Animal,BEETLE,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
17,Animal,SCUTTLE FLY,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
18,Animal,PRAYING MANTIS,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
19,Animal,EAGLE,BIRD,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
20,Animal,TARANTULA,ARACHNID,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
21,Animal,BURROWER,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
22,Animal,SCOURGE,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
23,Animal,TANGLEFOOT,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
24,Animal,TOAD BUG,INSECT,1,2024-05-05 00:03:27 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files

Batch ID : 2

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory
0,Animal,CICADA,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
1,Animal,HOVERFLY,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
2,Animal,PUTTER,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
3,Animal,ORCUS,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
4,Animal,PLANTHOPPER,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
5,Animal,PRAYING MANTIS,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
6,Animal,MOLE CRICKET,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
7,Animal,DRAGONFLY,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
8,Animal,PANDA,MAMMAL,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
9,Animal,PRUNER,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
10,Animal,WASPS,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
11,Animal,SEA URCHIN,ECHINODERM,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
12,Animal,HAWK,BIRD,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
13,Animal,PANTHER,FELINE,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
14,Animal,ORANGUTAN,PRIMATE,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
15,Animal,WEBWORM MOTH,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
16,Animal,NEWT,AMPHIBIAN,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
17,Animal,TICK,ARACHNID,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
18,Animal,LEMUR,PRIMATE,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
19,Animal,SCORPION,ARACHNID,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
20,Animal,NIGHTCRAWLER,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
21,Animal,ROBBER FLY,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
22,Animal,TIGER,FELINE,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
23,Animal,WOMBAT,MARSUPIAL,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
24,Animal,SILVERFISH,INSECT,2,2024-05-05 00:03:28 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files

Batch ID : 3

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory
0,Animal,FLAMINGO,BIRD,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
1,Animal,KOALA,MARSUPIAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
2,Animal,WILLOW FLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
3,Animal,ZEBRA,MAMMAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
4,Animal,TERMITE,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
5,Animal,SNOUT BUTTERFLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
6,Animal,PLANTHOPPER,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
7,Animal,CHEETAH,FELINE,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
8,Animal,BRISTLETAIL,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
9,Animal,MARSH FLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
10,Animal,PEACOCK BUTTERFLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
11,Animal,COCKROACH,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
12,Animal,NYMPH,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
13,Animal,LEAFHOPPER,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
14,Animal,SWAN,BIRD,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
15,Animal,KANGAROO,MARSUPIAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
16,Animal,BEAR,MAMMAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
17,Animal,BEAR,MAMMAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
18,Animal,GIRAFFE,MAMMAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
19,Animal,SKIPPER BUTTERFLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
20,Animal,PSEUDOSCORPION,ARACHNID,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
21,Animal,EGGFLY,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
22,Animal,WEAVER,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
23,Animal,MITE,INSECT,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
24,Animal,KOALA,MARSUPIAL,3,2024-05-05 00:03:30 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files

Batch ID : 4

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory
0,Animal,STONEFLY,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
1,Animal,SHRIMP,CRUSTACEAN,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
2,Animal,TOAD BUG,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
3,Animal,STAG BEETLE,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
4,Animal,PROBOSCIS,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
5,Animal,TICK,ARACHNID,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
6,Animal,SEA STAR,ECHINODERM,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
7,Animal,HUMPBACKED FLY,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
8,Animal,TITAN BEETLE,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
9,Animal,POLAR BEAR,MAMMAL,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
10,Animal,RHINO,MAMMAL,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
11,Animal,MARSH BEETLE,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
12,Animal,RECLUSE,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
13,Animal,COCKROACH,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
14,Animal,CORAL,CNIDARIAN,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
15,Animal,IGUANA,REPTILE,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
16,Animal,FLEA,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
17,Animal,TREE CRICKET,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
18,Animal,CROCODILE,REPTILE,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
19,Animal,LEMUR,PRIMATE,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
20,Animal,REDUCER,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
21,Animal,PENGUIN,BIRD,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
22,Animal,WOLF,MAMMAL,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
23,Animal,OCTOPUS,CEPHALOPOD,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
24,Animal,WRESTLER,INSECT,4,2024-05-05 00:03:33 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files

Batch ID : 5

,key,NAME,TYPE,ITERATION,DATE_CREATED,input_topic,output_topic,checkpoint_location,files_directory
0,Animal,STARFISH,ECHINODERM,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
1,Animal,NAUTILUS,CEPHALOPOD,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
2,Animal,HUNTER,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
3,Animal,COYOTE,MAMMAL,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
4,Animal,DADDY LONGLEGS,ARACHNID,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
5,Animal,TERMITE,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
6,Animal,LEAF INSECT,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
7,Animal,COCKROACHES,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
8,Animal,MAGGOT,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
9,Animal,SILVERFISH,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
10,Animal,ORCUS,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
11,Animal,SAWFLY,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
12,Animal,EARWIG,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
13,Animal,HYENA,MAMMAL,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
14,Animal,SPHINX MOTH,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
15,Animal,DRAGONFLY,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
16,Animal,NYMPH,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
17,Animal,BRISTLETAIL,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
18,Animal,SABER WASP,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
19,Animal,IGUANA,REPTILE,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
20,Animal,CICADA,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
21,Animal,SUCKING LOUSE,INSECT,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
22,Animal,LIZARD,REPTILE,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
23,Animal,OWL,BIRD,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files
24,Animal,TURTLE,REPTILE,5,2024-05-05 00:03:37 EDT,animals-topic-batch,animals-topic-batch,/usr/local/kafka/data/checkpoint,/usr/local/kafka/data/files

# STREAMING FILES USING FROM DIRECTORIES

In [11]:
import shutil
from datetime import datetime

from pyspark.sql import functions as F
from pyspark.sql.functions import col, expr, lit
from pyspark.sql.types import (
    DoubleType,
    FloatType,
    IntegerType,
    StringType,
    StructField,
    StructType,
)

def process_batch(directory_to_save_files, df, epoch_id):

    # Generate a timestamp
    timestamp_str = datetime.now().strftime("%Y_%m_%d_%H_%M_%S")

    # Add epoch_id and timestamp_str as new columns
    df = df.withColumn("batch_id", lit(epoch_id)).withColumn(
        "timestamp", lit(timestamp_str)
    )

    # Print information about the new batch
    print(f"Processing microbatch {epoch_id} at {timestamp_str}")

    # Group by specified columns and calculate the average ticket price
    grouped_df = df.groupBy(
        "batch_id",
        "timestamp",
        "passenger_nationality",
        "passenger_gender",
        "passenger_age",
    ).agg(
        F.avg("ticket_price").alias("avg_ticket_price"),
        F.sum("ticket_price").alias("total_ticket_price"),
        F.count("passenger_name").alias("total_passengers"),
    )

    # Filter out groups where the total number of passengers is greater than 1
    # filtered_df = grouped_df.filter(grouped_df.total_passengers > 1)
    # Multiple filter conditions
    filtered_df = grouped_df.filter(
        (col("total_passengers") > 2) & (col("total_passengers") <= 7)
    )

    # Sort the DataFrame by passenger_nationality and passenger_age
    sorted_df = filtered_df.orderBy(
        "total_passengers", "passenger_nationality", "passenger_gender"
    )

    # Show the sorted DataFrame
    sorted_df.show(truncate=False)

    # Coalesce to a single partition and write the DataFrame as Parquet with timestamp
    maximum_parquet_files_per_batch = 3
    sorted_df.coalesce(maximum_parquet_files_per_batch).write.parquet(
        f"{directory_to_save_files}/microbatch_{epoch_id}_{timestamp_str}"
    )

    # Show the original DataFrame
    df.show()


def read_file_like_streaming(
    spark_session, customSchema, format, checkpoint_location, directory_to_save_files
):

    # Read the DataFrame as a continuous stream
    streaming_df = (
        spark_session.readStream.schema(customSchema)
        .format(format)
        .option("header", "true")
        .load(folder_files_path)
    )

    # Display the DataFrame in the console and count the records per microbatch
    # .trigger(processingTime='5 seconds') specifies that Spark Structured Streaming should process micro-batches of data from the specified directory every 5 seconds.
    query = (
        streaming_df.writeStream.outputMode("append")
        .trigger(processingTime="5 seconds")
        .option("checkpointLocation", checkpoint_location)
        .option("basePath", directory_to_save_files)
        .foreachBatch(
            lambda df, epoch_id: process_batch(directory_to_save_files, df, epoch_id)
        )
        .start()
    )

    # Wait for the streaming to complete
    # query.awaitTermination()


# Define the schema
customSchema = StructType(
    [
        StructField("id", IntegerType(), True),
        StructField("secure_code", StringType(), True),
        StructField("airline", StringType(), True),
        StructField("departure_city", StringType(), True),
        StructField("departure_date", StringType(), True),
        StructField("arrival_airport", StringType(), True),
        StructField("arrival_city", StringType(), True),
        StructField("arrival_time", StringType(), True),
        StructField("passenger_name", StringType(), True),
        StructField("passenger_gender", StringType(), True),
        StructField("seat_number", StringType(), True),
        StructField("currency", StringType(), True),
        StructField("departure_gate", StringType(), True),
        StructField("flight_status", StringType(), True),
        StructField("co_pilot_name", StringType(), True),
        StructField("aircraft_type", StringType(), True),
        StructField("fuel_consumption", DoubleType(), True),
        StructField("flight_id", IntegerType(), True),
        StructField("flight_number", IntegerType(), True),
        StructField("departure_airport", StringType(), True),
        StructField("departure_country", StringType(), True),
        StructField("departure_time", StringType(), True),
        StructField("arrival_country", StringType(), True),
        StructField("arrival_date", StringType(), True),
        StructField("flight_duration", DoubleType(), True),
        StructField("passenger_age", IntegerType(), True),
        StructField("passenger_nationality", StringType(), True),
        StructField("ticket_price", DoubleType(), True),
        StructField("baggage_weight", DoubleType(), True),
        StructField("arrival_gate", StringType(), True),
        StructField("pilot_name", StringType(), True),
        StructField("cabin_crew_count", IntegerType(), True),
        StructField("aircraft_registration", StringType(), True),
        StructField("flight_distance", DoubleType(), True),
    ]
)

format = "csv"
folder_files_path = "/notebooks"
directory_to_save_files = "/usr/local/kafka/data/files/batch"
shutil.rmtree(directory_to_save_files, ignore_errors=True)

# Delete the checkpoint directory
checkpoint_location = "/usr/local/kafka/data/batch"
shutil.rmtree(checkpoint_location, ignore_errors=True)

read_file_like_streaming(
    spark_session=spark_session,
    customSchema=customSchema,
    format=format,
    checkpoint_location=checkpoint_location,
    directory_to_save_files=directory_to_save_files,
)

24/05/05 04:03:38 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/05/05 04:03:38 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Processing microbatch 0 at 2024_05_05_04_03_38

24/05/05 04:03:39 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb
24/05/05 04:03:39 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Confluence-Batch-Streaming-MlLib%20(2).ipynb

+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+
|batch_id|timestamp          |passenger_nationality|passenger_gender|passenger_age|avg_ticket_price|total_ticket_price|total_passengers|
+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+
|0       |2024_05_05_04_03_38|null                 | \"arachnid\")  |null         |null            |null              |4               |
|0       |2024_05_05_04_03_38|null                 | \"cephalopod\")|null         |null            |null              |4               |
|0       |2024_05_05_04_03_38|null                 | \"echinoderm\")|null         |null            |null              |4               |
|0       |2024_05_05_04_03_38|null                 |null            |null         |null            |null              |6               |
+--------+-------------------+---------------------+----------------+-------------+----------------+------------------+----------------+

24/05/05 04:03:40 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb
24/05/05 04:03:40 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Confluence-Batch-Streaming-MlLib%20(2).ipynb
24/05/05 04:03:41 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Confluence-Batch-Streaming-MlLib%20(2).ipynb

+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|  id|secure_code|airline|departure_city|departure_date|arrival_airport|arrival_city|arrival_time|passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_05_05_04_03_38|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
only showing top 20 rows

Processing microbatch 1 at 2024_05_05_04_03_50
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|batch_id|timestamp          |passenger_nationality|passenger_gender|passenger_age|avg_ticket_price  |total_ticket_price|total_passengers|
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|1       |2024_05_05_04_03_50|Brazil               |Male            |56           |353.31333333333333|1059.94           |3               |
|1       |2024_05_05_04_03_50|Brazil               |Male            |53           |690.0966666666667 |2070.29           |3               |
|1       |2024_05_05_04_03_50|China                |Female          |47           |666.9266666666666 |2000.78           |3               |
|1       |2024_05_05_04_03_50|China                |Female          |68           |91.99333333333334 |275.98            |3               |
|1       |2024_05_05_04_03_50|China                |Male            |30           |450.3299999999999 |1350.9899999999998|3               |
|1       |2024_05_05_04_03_50|China                |Male            |45           |273.32666666666665|819.98            |3               |
|1       |2024_05_05_04_03_50|China                |Male            |57           |653.4266666666667 |1960.2800000000002|3               |
|1       |2024_05_05_04_03_50|China                |Male            |56           |479.7666666666667 |1439.3000000000002|3               |
|1       |2024_05_05_04_03_50|China                |Male            |35           |270.90000000000003|812.7             |3               |
|1       |2024_05_05_04_03_50|China                |Male            |21           |474.1233333333333 |1422.37           |3               |
|1       |2024_05_05_04_03_50|Indonesia            |Female          |82           |525.33            |1575.99           |3               |
|1       |2024_05_05_04_03_50|Indonesia            |Female          |20           |500.2833333333333 |1500.85           |3               |
|1       |2024_05_05_04_03_50|Indonesia            |Male            |41           |538.02            |1614.06           |3               |
|1       |2024_05_05_04_03_50|Philippines          |Female          |93           |460.9166666666667 |1382.75           |3               |
|1       |2024_05_05_04_03_50|China                |Female          |72           |511.3875          |2045.55           |4               |
|1       |2024_05_05_04_03_50|China                |Female          |87           |554.2025          |2216.81           |4               |
|1       |2024_05_05_04_03_50|China                |Female          |69           |347.235           |1388.94           |4               |
|1       |2024_05_05_04_03_50|China                |Male            |34           |414.83250000000004|1659.3300000000002|4               |
|1       |2024_05_05_04_03_50|Indonesia            |Male            |52           |560.5999999999999 |2242.3999999999996|4               |
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+

+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
| id|         secure_code| airline|     departure_city|departure_date|arrival_airport|     arrival_city|    arrival_time|      passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|       co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|          pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
|  1|01H4EEMGMG9VADVF0...| EasyFly|             Berlin|    25/12/2022|            PEI|          Pereira|27/12/2022 14:13|    Nathalie Cardona|          Female|         A1|     EUR|            B2|      On Time|       Hart Blunkett| Embraer E190|         7916.39|        1|         1978|              CFQ|          Germany|6/7/2023 04:42|       Colombia|  27/12/2022|          14.18|            0|             Colombia|      797.24|         43.85|          E5|           Sunny Few|               9|               N12345|        1400.24|       1|2024_05_05_04_03_50|
|  2|01H4EEMGMYP8GX4GR...|   Delta|Les Sables-d'Olonne|      4/1/2022|            YHU|         Westport|  6/7/2023 06:53|    Willie Childrens|          Female|         B2|     EUR|            A1|      Delayed|     Leanor Gribbins|  Airbus A320|         9666.36|        2|         2337|              ONG|           France|6/7/2023 17:31|    New Zealand|  23/12/2022|          13.54|           29|               Sweden|      383.63|         35.78|          D4|      Donielle Strut|               4|               N12345|         465.84|       1|2024_05_05_04_03_50|
|  3|01H4EEMGN3BZJ9RR7...|  United|                Oyo|      3/4/2022|            KWJ|            Jabon|  6/7/2023 03:44|        Fifine Luten|          Female|         B2|     NGN|            C3|      On Time|    Christie Wakeley|   Boeing 737|         8047.44|        3|         7588|              TEX|          Nigeria|6/7/2023 11:08|      Indonesia|   30/9/2022|           6.28|           34|            Argentina|      439.09|         47.81|          D4|   Shelly Paddefield|               3|               N67890|        3151.78|       1|2024_05_05_04_03_50|
|  4|01H4EEMGN9DFF5XJC...|   Delta|    Kuragaki-kosugi|     31/5/2022|            ANP|         Xianyuan|  6/7/2023 18:56|   Doll Sommerscales|          Female|         C3|     JPY|            A1|      Delayed|          Mia Vannah|  Airbus A320|         5156.19|        4|         7545|              ORB|            Japan|6/7/2023 11:11|          China|  14/10/2022|            5.6|           34|                China|      706.19|         25.79|          D4|   Babara Kretschmer|               6|               N12345|         264.64|       1|2024_05_05_04_03_50|

# COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDING

```python
import pandas as pd
import numpy as np
from time import sleep

for index in range(1,6):

    part_1 = index
    part_2 = index + 5

    file_name = 'flight_logs'
    final_file = f'{file_name}_{index}.csv'
    
    file_1 = f'{file_name}_part_1_{index}.csv'
    base_url1 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_1}'
    df1 = pd.read_csv(base_url1)
    
    file_2 = f'{file_name}_part_2_{index}.csv'
    base_url2 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_2}'
    df2 = pd.read_csv(base_url2)

    df3 = pd.merge(df1, df2, left_on='id', right_on='flight_id', how='inner')
    df3.to_csv(f'{final_file}',index=False)

    print(f'{final_file} saved Successfully!!')
    sleep(5)
```

# LOAD PARQUET FILES DIRECTORY ON DATAFRAME

In [12]:
import glob

import pandas as pd
import pyarrow.parquet as pq

def find_microbatch_file(directory):
    """
    Busca un archivo en el directorio especificado que contiene el trmino "microbatch" en su nombre.

    Args:
    - directory (str): La ruta del directorio donde se buscarn los archivos.

    Returns:
    - str: El nombre del archivo que contiene el trmino "microbatch" en su nombre, o una cadena vaca si no se encuentra.
    """
    # Listar todos los archivos en el directorio
    all_files = os.listdir(directory)

    # Inicializar la variable para almacenar el nombre del archivo microbatch
    microbatch_file_name = ''

    # Buscar el archivo que contiene el trmino "microbatch" en su nombre
    for file_name in all_files:
        if 'microbatch' in file_name:
            microbatch_file_name = file_name

    return microbatch_file_name
    
def read_parquet_directory_into_dataframe(directory_path):
    """
    Reads all Parquet files from a directory into a single pandas DataFrame.

    Parameters:
    - directory_path (str): Path to the directory containing Parquet files.

    Returns:
    - pd.DataFrame: Combined DataFrame containing data from all Parquet files.
    """
    # Use glob to get a list of all Parquet file paths in the specified directory
    parquet_files = glob.glob(f"{directory_path}/*.parquet")

    # Initialize an empty list to store individual DataFrames
    dfs = []

    # Loop through each Parquet file and read it into a DataFrame
    for parquet_file in parquet_files:
        # Read Parquet file into a DataFrame
        df = pq.read_table(parquet_file).to_pandas()

        # Append the DataFrame to the list
        dfs.append(df)

    # Concatenate all DataFrames into a single DataFrame
    all_data = pd.concat(dfs, ignore_index=True)

    return all_data


# Specify the directory where Parquet files are located
directory_to_save_files = "/usr/local/kafka/data/files/batch"
microbatch_parquet_directory_name = find_microbatch_file(directory=directory_to_save_files)
directory_path = f"{directory_to_save_files}/{microbatch_parquet_directory_name}/"

read_parquet_directory_into_dataframe(directory_path)

,batch_id,timestamp,passenger_nationality,passenger_gender,passenger_age,avg_ticket_price,total_ticket_price,total_passengers
0,4,2024_05_05_04_04_10,Indonesia,Female,72,379.443333,1138.33,3
1,4,2024_05_05_04_04_10,Indonesia,Male,18,484.026667,1452.08,3
2,4,2024_05_05_04_04_10,Poland,Male,85,826.870000,2480.61,3
3,4,2024_05_05_04_04_10,China,Male,79,514.655000,2058.62,4
4,4,2024_05_05_04_04_10,China,Male,91,636.292500,2545.17,4
5,4,2024_05_05_04_04_10,China,Male,18,452.027500,1808.11,4
6,4,2024_05_05_04_04_10,China,Male,58,704.322500,2817.29,4
7,4,2024_05_05_04_04_10,China,Female,40,405.810000,1217.43,3
8,4,2024_05_05_04_04_10,China,Female,88,689.810000,2069.43,3
9,4,2024_05_05_04_04_10,China,Male,81,455.770000,1367.31,3
10,4,2024_05_05_04_04_10,China,Male,67,543.413333,1630.24,3
11,4,2024_05_05_04_04_10,China,Male,74,182.436667,547.31,3
12,4,2024_05_05_04_04_10,China,Male,75,251.740000,755.22,3

Processing microbatch 5 at 2024_05_05_04_04_15
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|batch_id|timestamp          |passenger_nationality|passenger_gender|passenger_age|avg_ticket_price  |total_ticket_price|total_passengers|
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+
|5       |2024_05_05_04_04_15|China                |Female          |26           |243.08333333333334|729.25            |3               |
|5       |2024_05_05_04_04_15|China                |Female          |40           |310.0433333333333 |930.1299999999999 |3               |
|5       |2024_05_05_04_04_15|China                |Female          |88           |637.7766666666666 |1913.33           |3               |
|5       |2024_05_05_04_04_15|China                |Male            |26           |501.40333333333325|1504.2099999999998|3               |
|5       |2024_05_05_04_04_15|China                |Male            |86           |487.79            |1463.3700000000001|3               |
|5       |2024_05_05_04_04_15|China                |Male            |30           |702.2133333333335 |2106.6400000000003|3               |
|5       |2024_05_05_04_04_15|China                |Male            |57           |754.3233333333333 |2262.97           |3               |
|5       |2024_05_05_04_04_15|China                |Male            |99           |527.57            |1582.71           |3               |
|5       |2024_05_05_04_04_15|Indonesia            |Female          |57           |377.4433333333333 |1132.33           |3               |
|5       |2024_05_05_04_04_15|Indonesia            |Female          |89           |456.5866666666666 |1369.7599999999998|3               |
|5       |2024_05_05_04_04_15|Indonesia            |Male            |34           |408.89000000000004|1226.67           |3               |
|5       |2024_05_05_04_04_15|Indonesia            |Male            |36           |257.6266666666667 |772.8800000000001 |3               |
|5       |2024_05_05_04_04_15|Indonesia            |Male            |24           |650.1233333333333 |1950.37           |3               |
|5       |2024_05_05_04_04_15|Russia               |Male            |69           |435.7966666666666 |1307.3899999999999|3               |
|5       |2024_05_05_04_04_15|Indonesia            |Female          |85           |706.0025          |2824.01           |4               |
+--------+-------------------+---------------------+----------------+-------------+------------------+------------------+----------------+

+----+--------------------+--------+--------------+--------------+---------------+--------------------+--------------+----------------+----------------+-----------+--------+--------------+-------------+------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
|  id|         secure_code| airline|departure_city|departure_date|arrival_airport|        arrival_city|  arrival_time|  passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|     co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|          pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+----+--------------------+--------+--------------+--------------+---------------+--------------------+--------------+----------------+----------------+-----------+--------+--------------+-------------+------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
|4001|01H4EEMZ2SXKZAF4E...|  United|     Xiabaishi|     1/12/2022|            VPZ|         Saltsj-Boo|6/7/2023 07:38|    Erasmus Grim|     Genderqueer|         C3|     CNY|            A1|      On Time|       Brandy Epps| Embraer E190|         2394.39|     4001|         4693|              NTD|            China|6/7/2023 09:12|         Sweden|   16/5/2022|          11.36|           81|                China|      150.89|         29.04|          F6|     Karlik Clemetts|               8|               N12345|        3621.45|       5|2024_05_05_04_04_15|
|4002|01H4EEMZ2WS3WW5CZ...|  United|       M Linh|     12/8/2022|            MWD|              Sogati|6/7/2023 13:29|      Cam Aucock|            Male|         B2|     VND|            C3|    Cancelled|Stanleigh Pickring|   Boeing 737|         7216.32|     4002|         8158|              UNK|          Vietnam|6/7/2023 21:27|      Indonesia|  29/11/2022|          12.04|           21|                 Peru|      455.35|         48.34|          F6|    Bentley Liddyard|               6|               N12345|        1711.91|       5|2024_05_05_04_04_15|
|4003|01H4EEMZ2ZW67GYEM...|  United|  Buenos Aires|    25/12/2022|            WPK|       Weiwangzhuang|6/7/2023 16:50|   Finlay Wickes|            Male|         A1|     PEN|            B2|    Cancelled|      Fee Bilsford|   Boeing 737|         8360.83|     4003|         2466|              YPY|             Peru|6/7/2023 05:09|          China|  25/12/2022|          19.34|           66|               Brazil|      215.23|         11.09|          E5|  Garreth O'Doireidh|               2|               N12345|          296.9|       5|2024_05_05_04_04_15|
|4004|01H4EEMZ31684170Q...|  United|  Tosontsengel|     27/3/2022|            FXO|           Luozhuang|6/7/2023 21:10|     Hyman Bever|            Male|         B2|     MNT|            C3|      On Time|Jefferson McSorley|  Airbus A320|         5421.46|     4004|         4808|              OBI|         Mongolia|6/7/2023 13:19|          China|   19/7/2022|          13.39|           55|       Czech Republic|      943.96|          0.44|          F6|       Prent Durston|               5|               N67890|        3848.62|       5|2024_05_05_04_04_15|
|4005|01H4EEMZ34D4N4G1A...|American|       Lingion|    13/11/2022|            TUM|           Razumnoye|6/7/2023 18:32| Nicholas Shoute|         Agender|         C3|     PHP|            C3|      Delayed|   Munmro Shobrook|  Airbus A320|         4692.56|     4005|         7780|              WOW|      Philippines|6/7/2023 12:58|         Russia|   23/6/2022|           5.97|           50|            Guatemala|      800.65|         39.53|          E5|         Ilse Boleyn|               5|               N12345|        2686.87|       5|2024_05_05_04_04_15|
|4006|01H4EEMZ3715ATHW6...|  United|         Xian|     20/7/2022|            AGE|               Dadus|6/7/2023 17:31|    Anna Janusik|          Female|         B2|     CNY|            A1|    Cancelled|     Starr Muttitt|  Airbus A320|          9098.8|     4006|         3020|              CYX|            China|6/7/2023 19:06|    Philippines|  24/12/2022|           5.97|           65|             Thailand|        88.2|         14.71|          E5|     Chloris Clemson|               8|               NABCDE|        2550.13|       5|2024_05_05_04_04_15|
|4007|01H4EEMZ3A36BRPP7...|  United|    Louisville|     19/4/2022|            SBQ|             Pengshi|6/7/2023 16:22|    Galvan Conen|            Male|         A1|     USD|            A1|      Delayed|       Mick Yeeles|  Airbus A320|         7936.96|     4007|         9094|              APR|    United States|6/7/2023 08:16|          China|   28/8/2022|           1.25|           69|               Russia|      591.46|         30.86|          F6| Eziechiele Yanukhin|               6|               N12345|         508.38|       5|2024_05_05_04_04_15|
|4008|01H4EEMZ3DH0JP5ZW...|American|     Tianhekou|    18/12/2022|            FAN|             Byczyna|6/7/2023 02:07|  Elga Brittoner|     Genderqueer|         B2|     CNY|            B2|      On Time|   Merrilee Hepher|   Boeing 737|         6015.65|     4008|         3479|              NIA|            China|6/7/2023 16:06|         Poland|   29/4/2022|          16.78|           89|                China|      606.42|         37.33|          F6|L;urette Klemensi...|               9|               NABCDE|        2732.92|       5|2024_05_05_04_04_15|
|4009|01H4EEMZ3GA5ERHG2...|   Delta|       Palmira|    10/11/2022|            HOY|         Puente Alto|6/7/2023 05:35| Giulia Stanyard|          Female|         A1|     CUP|            C3|      On Time|     Kimberley Cox|  Airbus A320|          2313.6|     4009|         6575|              HAN|             Cuba|6/7/2023 06:49|          Chile|  21/10/2022|          18.92|           66|               Brazil|      510.82|         37.64|          D4|        Milka Phelip|              10|               N12345|        2244.74|       5|2024_05_05_04_04_15|
|4010|01H4EEMZ3JM7SVK45...|  United|       Saratov|      4/2/2022|            URC|                Erqu|6/7/2023 06:43|   Yorgo Crevagh|            Male|         A1|     RUB|            B2|      Delayed|      Tonnie Sugge|  Airbus A320|         4166.37|     4010|         7556|              COB|           Russia|6/7/2023 03:35|          China|    9/4/2022|           7.39|           27|                China|      352.64|         18.91|          E5|         Chuck Karle|               6|               N12345|        2054.21|       5|2024_05_05_04_04_15|
|4011|01H4EEMZ3NJXP2YQ6...|  United|        Wichit|     16/7/2022|            SWH|          Pindi Gheb|6/7/2023 18:38|   Zora Gransden|      Polygender|         C3|     THB|            C3|    Cancelled|      Olin Niblock|   Boeing 737|          7841.5|     4011|         7459|              ZUL|         Thailand|6/7/2023 20:04|       Pakistan|    7/4/2022|          23.35|           74|               Uganda|       752.9|          6.87|          D4|        Lilly Selman|               1|               N67890|         933.04|       5|2024_05_05_04_04_15|
|4012|01H4EEMZ3R8717JMW...|   Delta|        Siaton|     27/1/2022|            LID|           Liangting|6/7/2023 08:24|    Hadria Palek|          Female|         A1|     PHP|            A1|      On Time|    Evania Milmith|   Boeing 737|         2251.44|     4012|         4222|              STC|      Philippines|6/7/2023 23:14|          China|    6/8/2022|          20.64|           71|               Russia|      146.37|          28.4|          F6|        Calli Duffer|               9|               N67890|        3071.08|       5|2024_05_05_04_04_15|
|4013|01H4EEMZ3VN81QE2K...|  United|      Kengyuan|      1/3/2022|            BSW|               Lebak|6/7/2023 04:41| Tobias Madgwick|     Genderqueer|         B2|     CNY|            A1|    Cancelled|     Portie Armour|  Airbus A320|         9524.27|     4013|         9396|              TOC|            China|6/7/2023 02:58|      Indonesia|  12/10/2022|           6.23|           42|               Poland|      789.11|         40.11|          E5|   Gorden Biaggiotti|              10|               NABCDE|         4339.5|       5|2024_05_05_04_04_15|
|4014|01H4EEMZ3Y8X5GCPW...|  United|     Yuqunweng|    29/11/2022|            IGG|           Gujiadian|6/7/2023 20:58|  Adolph Authers|            Male|         B2|     CNY|            C3|      On Time|  Theodoric Winear|  Airbus A320|         2898.94|     4014|         1974|              VCF|            China|6/7/2023 21:41|          China|   15/8/2022|          20.56|           41|               Russia|      220.54|         34.67|          E5|        Brew Jerrems|               4|               NABCDE|        1593.54|       5|2024_05_05_04_04_15|
|4015|01H4EEMZ41ZW530RC...|  United|      Kianov|     13/7/2022|            CUU|            Diaofeng|6/7/2023 02:01|  Merrel Maroney|            Male|         A1|     CZK|            B2|      Delayed| Forrester Keohane|   Boeing 737|         3862.35|     4015|         8595|              PBP|   Czech Republic|6/7/2023 09:56|          China|   13/3/2022|          18.34|           21|               Serbia|      372.29|         44.18|          E5|        Arny Whatham|               5|               NABCDE|        4975.33|       5|2024_05_05_04_04_15|
|4016|01H4EEMZ43S0AWGF3...|American|         Panay|     29/5/2022|            MAX|              Huazhu|6/7/2023 01:04|Sebastian Allitt|            Male|         C3|     PHP|            B2|      Delayed|   Camey Barkhouse|  Airbus A320|         8720.71|     4016|         6493|              BOA|      Philippines|6/7/2023 21:23|          China|   15/6/2022|          16.61|           19|              Austria|      580.01|          4.57|          F6|      Riobard Skitch|               9|               NABCDE|        4069.38|       5|2024_05_05_04_04_15|
|4017|01H4EEMZ46GS5AYC8...|  United|       Canillo|    22/10/2022|            QGP|          Kryvyy Rih|6/7/2023 00:10|    Katti Surgen|          Female|         C3|     EUR|            A1|      Delayed|     Bobbye Scryne| Embraer E190|         3497.85|     4017|         2533|              TIP|          Andorra|6/7/2023 18:04|        Ukraine|  18/11/2022|          22.79|          100|               Russia|      291.34|          0.08|          E5|   Jocelin Jendrusch|               3|               N67890|        3745.24|       5|2024_05_05_04_04_15|
|4018|01H4EEMZ499STC5SE...|   Delta| Rio Brilhante|     21/9/2022|            YYM|                Hfu|6/7/2023 22:10|  Farley Iltchev|            Male|         C3|     BRL|            C3|      Delayed|  Earlie Chasemore|   Boeing 737|         6980.72|     4018|         8297|              RBT|           Brazil|6/7/2023 17:40|          Japan|   19/7/2022|          22.03|           68|            Indonesia|      549.51|          4.76|          E5|       Thatch Earley|              10|               N67890|        4776.57|       5|2024_05_05_04_04_15|
|4019|01H4EEMZ4CMYK6PEK...|  United|       Chapec|    30/11/2022|            TJC|         Montbliard|6/7/2023 21:10|   Rosene Chiles|          Female|         A1|     BRL|            B2|      Delayed|   April O' Timony|  Airbus A320|         7990.26|     4019|         1216|              RDG|           Brazil|6/7/2023 22:54|         France|   2/11/2022|           7.07|           30|              Senegal|      695.27|           7.1|          D4|   Gertrudis Marklew|               8|               N12345|        2954.73|       5|2024_05_05_04_04_15|
|4020|01H4EEMZ4FK7SXVVN...|American|      Lamalera|     17/3/2022|            IFA|Kedungbanteng Krajan|6/7/2023 16:41|  Fowler Leggitt|     Genderqueer|         B2|     IDR|            C3|    Cancelled|    Terrel Gowrich|  Airbus A320|         4548.78|     4020|         9387|              JVL|        Indonesia|6/7/2023 07:56|      Indonesia|   11/6/2022|          22.12|           30|              Ukraine|      722.77|         39.26|          F6|   Garreth Kornousek|               7|               NABCDE|        4409.26|       5|2024_05_05_04_04_15|
+----+--------------------+--------+--------------+--------------+---------------+--------------------+--------------+----------------+----------------+-----------+--------+--------------+-------------+------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
only showing top 20 rows

# SPARK MLLIB + SCIKIT LEARN
## LIBRARIES

In [1]:
from typing import Union
from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel
from pyspark.ml.evaluation import (
    BinaryClassificationEvaluator,
    MulticlassClassificationEvaluator,
    RegressionEvaluator,
)
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import col, format_number, udf
from pyspark.sql.types import FloatType, StringType, StructField, StructType
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

## FUNCTIONS

In [2]:
# Create Spark Session
def create_spark_session():
    spark_session = (
        SparkSession.builder
        .appName("scikit-learn-with-spark")
        .getOrCreate()
    )
    return spark_session

def load_dataset():
    
    # Load the Iris dataset
    iris = load_iris()
    data_features, target_classes = iris.data, iris.target

    return data_features, target_classes

def split_dataset_train_testing(data_features, target_classes):
    # Split the data into training and testing sets
    data_features_train_splitted, data_features_test_splitted, target_classes_train_splitted, target_classes_test_splitted = train_test_split(
        data_features, target_classes, test_size=0.2, random_state=42
    )
    
    return data_features_train_splitted, data_features_test_splitted, target_classes_train_splitted, target_classes_test_splitted


def get_fileterd_dataset(data_features_dataset, target_classes_dataset):

    # Convert numpy values to Python floats
    data_features_filtered = [Vectors.dense(features) for features in data_features_dataset]
    target_classes_filtered = [float(label) for label in target_classes_dataset]  # Convert to float
    
    return data_features_filtered, target_classes_filtered
    
def create_spark_dataframe(spark_ml_session, data_features_dataset, target_classes_dataset):
    # Create Spark DataFrames from training data
    data_set = list(zip(data_features_dataset, target_classes_dataset))
    schema = StructType(
        [
            StructField("features", VectorUDT(), True),
            StructField("label", FloatType(), True),
        ]
    )
    final_data_set = spark_ml_session.createDataFrame(data_set, schema=schema)

    return final_data_set

def create_ml_model(train_df):
    # Create and train a logistic regression model
    lr = LogisticRegression(
        featuresCol="features",
        labelCol="label",
        maxIter=10,
        regParam=0.3,
        elasticNetParam=0.8,
    )
    model = lr.fit(train_df)

    return model

def model_prediction(model, test_df):
    
    # Make predictions on the test data
    prediction_result = model.transform(test_df)
    # Format prediction column to display two decimal places
    prediction_result = prediction_result.withColumn(
        "formatted_prediction", format_number("prediction", 2)
    )

    # Map numeric labels back to target names
    target_names = ["setosa", "versicolor", "virginica"]
    label_to_name_udf = udf(lambda label: target_names[int(label)], StringType())
    
    # Create new columns with predicted and actual class names
    prediction_result = prediction_result.withColumn(
        "predicted_class_name", label_to_name_udf("prediction")
    )
    prediction_result = prediction_result.withColumn(
        "actual_class_name", label_to_name_udf("label")
    )

    # Display the results
    prediction_result.show()

    return prediction_result

def mse_rmse_mae_r2_avaluator(prediction_result):
    
    regression_evaluator_mse = RegressionEvaluator(
        predictionCol="prediction", labelCol="label", metricName="mse"
    )
    print(
        "Mean Squared Error (Regression):",
        regression_evaluator_mse.evaluate(prediction_result),
    )
    
    regression_evaluator_rmse = RegressionEvaluator(
        predictionCol="prediction", labelCol="label", metricName="rmse"
    )
    print(
        "Root Mean Squared Error (Regression):",
        regression_evaluator_rmse.evaluate(prediction_result),
    )
    
    regression_evaluator_mae = RegressionEvaluator(
        predictionCol="prediction", labelCol="label", metricName="mae"
    )
    print(
        "Mean Absolute Error (Regression):",
        regression_evaluator_mae.evaluate(prediction_result),
    )

    # R2 Score (Regression)
    r2_evaluator = RegressionEvaluator(
        predictionCol="prediction", labelCol="label", metricName="r2"
    )
    print("R2 Score (Regression):", r2_evaluator.evaluate(prediction_result))
    


def accuracy_f1Score_precision_recall_evaluator(prediction_result):
    # Evaluacin del rendimiento del modelo
    evaluator = MulticlassClassificationEvaluator(
        predictionCol="prediction", labelCol="label", metricName="accuracy"
    )
    accuracy = evaluator.evaluate(prediction_result)
    
    # Model performance evaluation
    evaluator = MulticlassClassificationEvaluator(
        predictionCol="prediction", labelCol="label", metricName="accuracy"
    )
    accuracy = evaluator.evaluate(prediction_result)
    print(f"Accuracy: {accuracy}")

    # F1 Score
    evaluator_f1 = MulticlassClassificationEvaluator(
        predictionCol="prediction", labelCol="label", metricName="f1"
    )
    f1_score = evaluator_f1.evaluate(prediction_result)
    print(f"F1 Score: {f1_score}")
    
    # Precision
    evaluator_precision = MulticlassClassificationEvaluator(
        predictionCol="prediction", labelCol="label", metricName="weightedPrecision"
    )
    precision = evaluator_precision.evaluate(prediction_result)
    print(f"Precision: {precision}")
    
    # Recall
    evaluator_recall = MulticlassClassificationEvaluator(
        predictionCol="prediction", labelCol="label", metricName="weightedRecall"
    )
    recall = evaluator_recall.evaluate(prediction_result)
    print(f"Recall: {recall}")

def area_under_curve_confusion_matrix_evaluator(prediction_result):
    
    # Binary Classification Evaluator for ROC
    binary_evaluator = BinaryClassificationEvaluator(
        rawPredictionCol="prediction", labelCol="label"
    )
    roc_auc = binary_evaluator.evaluate(
        prediction_result, {binary_evaluator.metricName: "areaUnderROC"}
    )
    print(f"Area Under ROC: {roc_auc}")

    # Extract predictions and labels as RDD
    prediction_and_label = prediction_result.select("prediction", "label").rdd.map(
        lambda row: (float(row["prediction"]), float(row["label"]))
    )

    # Create a MulticlassMetrics object
    metrics = MulticlassMetrics(prediction_and_label)
    
    # Output the confusion matrix
    confusion_matrix = metrics.confusionMatrix().toArray()
    print("Confusion Matrix:")
    print(confusion_matrix)

def export_spark_model(model, model_path, overwrite=False):
    """
    Export a trained Spark model to the specified path.

    Args:
    - model (pyspark.ml.Model): The trained Spark model to export.
    - model_path (str): The path where the model will be saved.
    - overwrite (bool, optional): Whether to overwrite the model if it already exists. Default is False.

    Returns:
    - None
    """
    # Save the model to the specified path
    if overwrite:
        model.write().overwrite().save(model_path)
    else:
        model.write().save(model_path)
    
    print(f"Model saved successfully at: {model_path}")

def load_spark_model(model_path: str) -> Union[LogisticRegressionModel, None]:
    """
    Load a trained Spark model from the specified path.

    Args:
    - model_path (str): The path from where the model will be loaded.

    Returns:
    - Union[LogisticRegressionModel, None]: The loaded Spark model or None if loading fails.
    """
    try:
        # Load the model from the specified path
        loaded_model = LogisticRegressionModel.load(model_path)
        print(f"Model loaded successfully from: {model_path}")
        return loaded_model
    except Exception as e:
        print(f"Error loading model: {e}")
        return None
        
def create_pandas_dataframe(spark_dataframe):

    # Display the results like a pandas DataFrame
    df_pandas = spark_dataframe.toPandas()
    display(df_pandas)
    return df_pandas

# RUNNING ML PROCCESS

In [4]:
# Step 1: Create a Spark ML session
spark_ml_session = create_spark_session()

# Step 2: Load the dataset
data_features, target_classes = load_dataset()

# Step 3: Split the dataset into training and testing sets
(data_features_train_splitted, data_features_test_splitted, target_classes_train_splitted, target_classes_test_splitted) = split_dataset_train_testing(data_features, target_classes)

# Step 4: Filter the split datasets
data_features_train, target_classes_train = get_fileterd_dataset(data_features_train_splitted, target_classes_train_splitted)
data_features_test, target_classes_test = get_fileterd_dataset(data_features_test_splitted, target_classes_test_splitted)

# Step 5: Create Spark dataframes from the filtered datasets
train_df = create_spark_dataframe(spark_ml_session, data_features_train, target_classes_train)
test_df = create_spark_dataframe(spark_ml_session, data_features_test, target_classes_test)

# Step 6: Train a machine learning model
model_trained = create_ml_model(train_df)

# Step 7: Export the trained model to a specified location
model_path = "/notebooks/spark_ml_model/dataset_iris"
export_spark_model(model_trained, model_path, overwrite=True)

# Step 8: Load the trained model from the specified location
model = load_spark_model(model_path)

# Step 9: Make predictions using the loaded model
prediction_result = model_prediction(model, test_df)

# Step 10: Evaluate the model's performance on specified evaluation metrics
mse_rmse_mae_r2_avaluator(prediction_result)
accuracy_f1Score_precision_recall_evaluator(prediction_result)
area_under_curve_confusion_matrix_evaluator(prediction_result)

# Step 11: Create a Pandas dataframe from the resulting Spark dataframe of predictions
create_pandas_dataframe(spark_dataframe=prediction_result)

# Step 12: Close the Spark ML session
spark_ml_session.stop()

Model saved successfully at: /notebooks/spark_ml_model/dataset_iris
Model loaded successfully from: /notebooks/spark_ml_model/dataset_iris
+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
|         features|label|       rawPrediction|         probability|prediction|formatted_prediction|predicted_class_name|actual_class_name|
+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
|[6.1,2.8,4.7,1.2]|  1.0|[-0.7015267998759...|[0.25821627409246...|       1.0|                1.00|          versicolor|       versicolor|
|[5.7,3.8,1.7,0.3]|  0.0|[0.39468553474413...|[0.53313412218413...|       0.0|                0.00|              setosa|           setosa|
|[7.7,2.6,6.9,2.3]|  2.0|[-1.6418662900049...|[0.10701004791222...|       2.0|                2.00|           virginica|        virginica|
|[6.0,2.9,4.5,1.5]|  1.0|[-0.7400872505378...|[0.24477418451260...|       1.0|                1.00|          versicolor|       versicolor|
|[6.8,2.8,4.8,1.4]|  1.0|[-0.7907867010435...|[0.23752437379748...|       1.0|                1.00|          versicolor|       versicolor|
|[5.4,3.4,1.5,0.4]|  0.0|[0.41814801350997...|[0.53655869343644...|       0.0|                0.00|              setosa|           setosa|
|[5.6,2.9,3.6,1.3]|  1.0|[-0.4329315754514...|[0.31056229162774...|       1.0|                1.00|          versicolor|       versicolor|
|[6.9,3.1,5.1,2.3]|  2.0|[-1.1516007986877...|[0.16364043077100...|       2.0|                2.00|           virginica|        virginica|
|[6.2,2.2,4.5,1.5]|  1.0|[-0.7400872505378...|[0.24477418451260...|       1.0|                1.00|          versicolor|       versicolor|
|[5.8,2.7,3.9,1.2]|  1.0|[-0.4836310259571...|[0.30209015213590...|       1.0|                1.00|          versicolor|       versicolor|
|[6.5,3.2,5.1,2.0]|  2.0|[-1.0585664045461...|[0.18205925590527...|       2.0|                2.00|           virginica|        virginica|
|[4.8,3.0,1.4,0.1]|  0.0|[0.53841937939137...|[0.57333912331738...|       0.0|                0.00|              setosa|           setosa|
|[5.5,3.5,1.3,0.2]|  0.0|[0.53464488641737...|[0.57010110284129...|       0.0|                0.00|              setosa|           setosa|
|[4.9,3.1,1.5,0.1]|  0.0|[0.51118240765153...|[0.56666345570205...|       0.0|                0.00|              setosa|           setosa|
|[5.1,3.8,1.5,0.3]|  0.0|[0.44915947822382...|[0.54666503435754...|       0.0|                0.00|              setosa|           setosa|
|[6.3,3.3,4.7,1.6]|  1.0|[-0.8255726587313...|[0.22734348699623...|       2.0|                2.00|           virginica|       versicolor|
|[6.5,3.0,5.8,2.2]|  2.0|[-1.3112481361527...|[0.14443365473320...|       2.0|                2.00|           virginica|        virginica|
|[5.6,2.5,3.9,1.1]|  1.0|[-0.4526195612433...|[0.31095626181188...|       1.0|                1.00|          versicolor|       versicolor|
|[5.7,2.8,4.5,1.3]|  1.0|[-0.6780643211101...|[0.26064389367033...|       1.0|                1.00|          versicolor|       versicolor|
|[6.4,2.8,5.6,2.2]|  2.0|[-1.2567741926731...|[0.15129636777650...|       2.0|                2.00|           virginica|        virginica|
+-----------------+-----+--------------------+--------------------+----------+--------------------+--------------------+-----------------+
only showing top 20 rows

Mean Squared Error (Regression): 0.03333333333333333
Root Mean Squared Error (Regression): 0.18257418583505536
Mean Absolute Error (Regression): 0.03333333333333333
R2 Score (Regression): 0.9523052464228935
Accuracy: 0.9666666666666667
F1 Score: 0.9664109121909634
Precision: 0.9694444444444443
Recall: 0.9666666666666666
Area Under ROC: 1.0

/usr/local/lib/python3.11/site-packages/pyspark/sql/context.py:157: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Confusion Matrix:
[[10.  0.  0.]
 [ 0.  8.  1.]
 [ 0.  0. 11.]]

,features,label,rawPrediction,probability,prediction,formatted_prediction,predicted_class_name,actual_class_name
0,"[6.1, 2.8, 4.7, 1.2]",1.0,"[-0.7015267998759565, -0.29696087223267364, -0...","[0.258216274092469, 0.3869762931285481, 0.3548...",1.0,1.00,versicolor,versicolor
1,"[5.7, 3.8, 1.7, 0.3]",0.0,"[0.39468553474413304, -0.29696087223267364, -0...","[0.5331341221841368, 0.26696741824306386, 0.19...",0.0,0.00,setosa,setosa
2,"[7.7, 2.6, 6.9, 2.3]",2.0,"[-1.64186629000497, -0.29696087223267364, -0.1...","[0.10701004791222134, 0.4106856802021103, 0.48...",2.0,2.00,virginica,virginica
3,"[6.0, 2.9, 4.5, 1.5]",1.0,"[-0.7400872505378173, -0.29696087223267364, -0...","[0.24477418451260877, 0.38125272214940753, 0.3...",1.0,1.00,versicolor,versicolor
4,"[6.8, 2.8, 4.8, 1.4]",1.0,"[-0.7907867010435075, -0.29696087223267364, -0...","[0.23752437379748553, 0.3892010598800946, 0.37...",1.0,1.00,versicolor,versicolor
5,"[5.4, 3.4, 1.5, 0.4]",0.0,"[0.4181480135099759, -0.29696087223267364, -0....","[0.5365586934364455, 0.26245170154053943, 0.20...",0.0,0.00,setosa,setosa
6,"[5.6, 2.9, 3.6, 1.3]",1.0,"[-0.43293157545148686, -0.29696087223267364, -...","[0.31056229162774074, 0.35579517054527965, 0.3...",1.0,1.00,versicolor,versicolor
7,"[6.9, 3.1, 5.1, 2.3]",2.0,"[-1.1516007986877166, -0.29696087223267364, -0...","[0.16364043077100965, 0.3846413924135493, 0.45...",2.0,2.00,virginica,virginica
8,"[6.2, 2.2, 4.5, 1.5]",1.0,"[-0.7400872505378173, -0.29696087223267364, -0...","[0.24477418451260877, 0.38125272214940753, 0.3...",1.0,1.00,versicolor,versicolor
9,"[5.8, 2.7, 3.9, 1.2]",1.0,"[-0.483631025957177, -0.29696087223267364, -0....","[0.30209015213590523, 0.3640880170752401, 0.33...",1.0,1.00,versicolor,versicolor
10,"[6.5, 3.2, 5.1, 2.0]",2.0,"[-1.058566404546161, -0.29696087223267364, -0....","[0.1820592559052746, 0.3899185020940875, 0.428...",2.0,2.00,virginica,virginica
11,"[4.8, 3.0, 1.4, 0.1]",0.0,"[0.538419379391379, -0.29696087223267364, -0.6...","[0.5733391233173853, 0.24866264246143313, 0.17...",0.0,0.00,setosa,setosa
12,"[5.5, 3.5, 1.3, 0.2]",0.0,"[0.5346448864173745, -0.29696087223267364, -0....","[0.5701011028412917, 0.24819332030438568, 0.18...",0.0,0.00,setosa,setosa
13,"[4.9, 3.1, 1.5, 0.1]",0.0,"[0.5111824076515317, -0.29696087223267364, -0....","[0.5666634557020507, 0.2525532948276171, 0.180...",0.0,0.00,setosa,setosa
14,"[5.1, 3.8, 1.5, 0.3]",0.0,"[0.44915947822382785, -0.29696087223267364, -0...","[0.5466650343575438, 0.2592300511296061, 0.194...",0.0,0.00,setosa,setosa
15,"[6.3, 3.3, 4.7, 1.6]",1.0,"[-0.8255726587313641, -0.29696087223267364, -0...","[0.22734348699623796, 0.3857053819675937, 0.38...",2.0,2.00,virginica,versicolor
16,"[6.5, 3.0, 5.8, 2.2]",2.0,"[-1.311248136152797, -0.29696087223267364, -0....","[0.1444336547332054, 0.3982609840666618, 0.457...",2.0,2.00,virginica,virginica
17,"[5.6, 2.5, 3.9, 1.1]",1.0,"[-0.45261956124332503, -0.29696087223267364, -...","[0.3109562618118809, 0.36332979720292513, 0.32...",1.0,1.00,versicolor,versicolor
18,"[5.7, 2.8, 4.5, 1.3]",1.0,"[-0.6780643211101136, -0.29696087223267364, -0...","[0.2606438936703336, 0.3815563447585894, 0.357...",1.0,1.00,versicolor,versicolor
19,"[6.4, 2.8, 5.6, 2.2]",2.0,"[-1.256774192673102, -0.29696087223267364, -0....","[0.15129636777650052, 0.3950664324516874, 0.45...",2.0,2.00,virginica,virginica
20,"[4.7, 3.2, 1.6, 0.2]",0.0,"[0.4529339711978323, -0.29696087223267364, -0....","[0.5499708071208743, 0.2598151340996304, 0.190...",0.0,0.00,setosa,setosa
21,"[6.1, 3.0, 4.9, 1.8]",2.0,"[-0.9420695316387626, -0.29696087223267364, -0...","[0.20380798334682532, 0.3884975843445125, 0.40...",2.0,2.00,virginica,virginica
22,"[5.0, 3.4, 1.6, 0.4]",0.0,"[0.3909110417701285, -0.29696087223267364, -0....","[0.5297795224947266, 0.26629081756988343, 0.20...",0.0,0.00,setosa,setosa
23,"[6.4, 2.8, 5.6, 2.1]",2.0,"[-1.2257627279592502, -0.29696087223267364, -0...","[0.15689788571535648, 0.3971829635992355, 0.44...",2.0,2.00,virginica,virginica
24,"[7.9, 3.8, 6.4, 2.0]",2.0,"[-1.4126470371641773, -0.29696087223267364, -0...","[0.1351070504959579, 0.41230097140545185, 0.45...",2.0,2.00,virginica,virginica
25,"[6.7, 3.0, 5.2, 2.3]",2.0,"[-1.178837770427564, -0.29696087223267364, -0....","[0.15994678516920555, 0.3863400983764282, 0.45...",2.0,2.00,virginica,virginica
26,"[6.7, 2.5, 5.8, 1.8]",2.0,"[-1.1872022772973891, -0.29696087223267364, -0...","[0.16689499660714122, 0.4065090763958766, 0.42...",2.0,2.00,virginica,virginica
27,"[6.8, 3.2, 5.9, 2.3]",2.0,"[-1.3694965726064963, -0.29696087223267364, -0...","[0.13595711759425308, 0.39737293578160593, 0.4...",2.0,2.00,virginica,virginica
28,"[4.8, 3.0, 1.4, 0.3]",0.0,"[0.4763964499636752, -0.29696087223267364, -0....","[0.5534059808041103, 0.2553753828943224, 0.191...",0.0,0.00,setosa,setosa
29,"[4.8, 3.1, 1.6, 0.2]",0.0,"[0.4529339711978323, -0.29696087223267364, -0....","[0.5499708071208743, 0.2598151340996304, 0.190...",0.0,0.00,setosa,setosa

# STOP ZOOKEEPER AND BROKER

In [17]:
commands = [
     # Delete Topics
    "/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch,animals-topic-streaming",
    # Stop Zookeeper
    "/usr/local/kafka/bin/zookeeper-server-stop.sh",
    # Stop Broker
    "/usr/local/kafka/bin/kafka-server-stop.sh"  
]
execute_commands(commands=commands)

Executing: /usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-batch,animals-topic-streaming

Executing: /usr/local/kafka/bin/zookeeper-server-stop.sh

Executing: /usr/local/kafka/bin/kafka-server-stop.sh

[2024-05-05 04:05:42,894] INFO Terminating process due to signal SIGTERM (org.apache.kafka.common.utils.LoggingSignalHandler)
[2024-05-05 04:05:42,895] INFO [KafkaServer id=2] shutting down (kafka.server.KafkaServer)
[2024-05-05 04:05:42,896] INFO [KafkaServer id=2] Starting controlled shutdown (kafka.server.KafkaServer)
[2024-05-05 04:05:42,906] INFO [KafkaServer id=2] Controlled shutdown request returned successfully after 6ms (kafka.server.KafkaServer)
[2024-05-05 04:05:42,908] INFO [/config/changes-event-process-thread]: Shutting down (kafka.common.ZkNodeChangeNotificationListener$ChangeEventProcessThread)
[2024-05-05 04:05:42,908] INFO [/config/changes-event-process-thread]: Stopped (kafka.common.ZkNodeChangeNotificationListener$ChangeEventProcessThread)
[2024-05-05 04:05:42,908] INFO [/config/changes-event-process-thread]: Shutdown completed (kafka.common.ZkNodeChangeNotificationListener$ChangeEventProcessThread)
[2024-05-05 04:05:42,909] INFO [SocketServer listenerType=ZK_BROKER, nodeId=2] Stopping socket server request processors (kafka.network.SocketServer)
[2024-05-05 04:05:42,910] INFO [BrokerToControllerChannelManager id=2 name=forwarding] Node 2 disconnected. (org.apache.kafka.clients.NetworkClient)
[2024-05-05 04:05:42,915] INFO [SocketServer listenerType=ZK_BROKER, nodeId=2] Stopped socket server request processors (kafka.network.SocketServer)
[2024-05-05 04:05:42,915] INFO [data-plane Kafka Request Handler on Broker 2], shutting down (kafka.server.KafkaRequestHandlerPool)
[2024-05-05 04:05:42,916] INFO [data-plane Kafka Request Handler on Broker 2], shut down completely (kafka.server.KafkaRequestHandlerPool)
[2024-05-05 04:05:42,918] INFO [ExpirationReaper-2-AlterAcls]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,919] INFO [ExpirationReaper-2-AlterAcls]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,919] INFO [ExpirationReaper-2-AlterAcls]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,920] INFO [KafkaApi-2] Shutdown complete. (kafka.server.KafkaApis)
[2024-05-05 04:05:42,921] INFO [ExpirationReaper-2-topic]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,921] INFO [ExpirationReaper-2-topic]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,921] INFO [ExpirationReaper-2-topic]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,923] INFO [TransactionCoordinator id=2] Shutting down. (kafka.coordinator.transaction.TransactionCoordinator)
[2024-05-05 04:05:42,924] INFO [Transaction State Manager 2]: Shutdown complete (kafka.coordinator.transaction.TransactionStateManager)
[2024-05-05 04:05:42,924] INFO [TxnMarkerSenderThread-2]: Shutting down (kafka.coordinator.transaction.TransactionMarkerChannelManager)
[2024-05-05 04:05:42,924] INFO [TxnMarkerSenderThread-2]: Stopped (kafka.coordinator.transaction.TransactionMarkerChannelManager)
[2024-05-05 04:05:42,924] INFO [TxnMarkerSenderThread-2]: Shutdown completed (kafka.coordinator.transaction.TransactionMarkerChannelManager)
[2024-05-05 04:05:42,925] INFO [TransactionCoordinator id=2] Shutdown complete. (kafka.coordinator.transaction.TransactionCoordinator)
[2024-05-05 04:05:42,925] INFO [GroupCoordinator 2]: Shutting down. (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:05:42,926] INFO [ExpirationReaper-2-Heartbeat]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,926] INFO [ExpirationReaper-2-Heartbeat]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,926] INFO [ExpirationReaper-2-Heartbeat]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,927] INFO [ExpirationReaper-2-Rebalance]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,927] INFO [ExpirationReaper-2-Rebalance]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,927] INFO [ExpirationReaper-2-Rebalance]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,927] INFO [GroupCoordinator 2]: Shutdown complete. (kafka.coordinator.group.GroupCoordinator)
[2024-05-05 04:05:42,929] INFO [ReplicaManager broker=2] Shutting down (kafka.server.ReplicaManager)
[2024-05-05 04:05:42,930] INFO [LogDirFailureHandler]: Shutting down (kafka.server.ReplicaManager$LogDirFailureHandler)
[2024-05-05 04:05:42,931] INFO [LogDirFailureHandler]: Stopped (kafka.server.ReplicaManager$LogDirFailureHandler)
[2024-05-05 04:05:42,931] INFO [LogDirFailureHandler]: Shutdown completed (kafka.server.ReplicaManager$LogDirFailureHandler)
[2024-05-05 04:05:42,931] INFO [ReplicaFetcherManager on broker 2] shutting down (kafka.server.ReplicaFetcherManager)
[2024-05-05 04:05:42,932] INFO [ReplicaFetcherManager on broker 2] shutdown completed (kafka.server.ReplicaFetcherManager)
[2024-05-05 04:05:42,933] INFO [ReplicaAlterLogDirsManager on broker 2] shutting down (kafka.server.ReplicaAlterLogDirsManager)
[2024-05-05 04:05:42,933] INFO [ReplicaAlterLogDirsManager on broker 2] shutdown completed (kafka.server.ReplicaAlterLogDirsManager)
[2024-05-05 04:05:42,933] INFO [ExpirationReaper-2-Fetch]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,933] INFO [ExpirationReaper-2-Fetch]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,933] INFO [ExpirationReaper-2-Fetch]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,934] INFO [ExpirationReaper-2-RemoteFetch]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-RemoteFetch]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-RemoteFetch]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-Produce]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-Produce]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-Produce]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,935] INFO [ExpirationReaper-2-DeleteRecords]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,936] INFO [ExpirationReaper-2-DeleteRecords]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,936] INFO [ExpirationReaper-2-DeleteRecords]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,936] INFO [ExpirationReaper-2-ElectLeader]: Shutting down (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,937] INFO [ExpirationReaper-2-ElectLeader]: Stopped (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,937] INFO [ExpirationReaper-2-ElectLeader]: Shutdown completed (kafka.server.DelayedOperationPurgatory$ExpiredOperationReaper)
[2024-05-05 04:05:42,953] INFO [AddPartitionsToTxnSenderThread-2]: Shutting down (kafka.server.AddPartitionsToTxnManager)
[2024-05-05 04:05:42,953] INFO [AddPartitionsToTxnSenderThread-2]: Stopped (kafka.server.AddPartitionsToTxnManager)
[2024-05-05 04:05:42,953] INFO [AddPartitionsToTxnSenderThread-2]: Shutdown completed (kafka.server.AddPartitionsToTxnManager)
[2024-05-05 04:05:42,954] INFO [ReplicaManager broker=2] Shut down completely (kafka.server.ReplicaManager)
[2024-05-05 04:05:42,954] INFO [zk-broker-2-to-controller-alter-partition-channel-manager]: Shutting down (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,954] INFO [zk-broker-2-to-controller-alter-partition-channel-manager]: Stopped (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,954] INFO [zk-broker-2-to-controller-alter-partition-channel-manager]: Shutdown completed (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,956] INFO Broker to controller channel manager for alter-partition shutdown (kafka.server.BrokerToControllerChannelManagerImpl)
[2024-05-05 04:05:42,957] INFO [zk-broker-2-to-controller-forwarding-channel-manager]: Shutting down (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,957] INFO [zk-broker-2-to-controller-forwarding-channel-manager]: Stopped (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,957] INFO [zk-broker-2-to-controller-forwarding-channel-manager]: Shutdown completed (kafka.server.BrokerToControllerRequestThread)
[2024-05-05 04:05:42,957] INFO Broker to controller channel manager for forwarding shutdown (kafka.server.BrokerToControllerChannelManagerImpl)
[2024-05-05 04:05:42,958] INFO Shutting down. (kafka.log.LogManager)
[2024-05-05 04:05:42,959] INFO [kafka-log-cleaner-thread-0]: Shutting down (kafka.log.LogCleaner$CleanerThread)
[2024-05-05 04:05:42,959] INFO [kafka-log-cleaner-thread-0]: Stopped (kafka.log.LogCleaner$CleanerThread)
[2024-05-05 04:05:42,959] INFO [kafka-log-cleaner-thread-0]: Shutdown completed (kafka.log.LogCleaner$CleanerThread)
[2024-05-05 04:05:42,996] INFO [ProducerStateManager partition=__consumer_offsets-35]Wrote producer snapshot at offset 7 with 0 producer ids in 3 ms. (org.apache.kafka.storage.internals.log.ProducerStateManager)

24/05/05 04:05:43 WARN NetworkClient: [AdminClient clientId=adminclient-2] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
24/05/05 04:05:43 WARN NetworkClient: [Producer clientId=producer-1] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
24/05/05 04:05:43 WARN NetworkClient: [AdminClient clientId=adminclient-2] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.

[2024-05-05 04:05:43,109] INFO [ProducerStateManager partition=animals-topic-batch-0]Wrote producer snapshot at offset 600 with 1 producer ids in 3 ms. (org.apache.kafka.storage.internals.log.ProducerStateManager)
[2024-05-05 04:05:43,174] INFO Shutdown complete. (kafka.log.LogManager)
[2024-05-05 04:05:43,178] INFO [feature-zk-node-event-process-thread]: Shutting down (kafka.server.FinalizedFeatureChangeListener$ChangeNotificationProcessorThread)
[2024-05-05 04:05:43,178] INFO [feature-zk-node-event-process-thread]: Stopped (kafka.server.FinalizedFeatureChangeListener$ChangeNotificationProcessorThread)
[2024-05-05 04:05:43,178] INFO [feature-zk-node-event-process-thread]: Shutdown completed (kafka.server.FinalizedFeatureChangeListener$ChangeNotificationProcessorThread)
[2024-05-05 04:05:43,178] INFO [ZooKeeperClient Kafka server] Closing. (kafka.zookeeper.ZooKeeperClient)

24/05/05 04:05:43 WARN NetworkClient: [Producer clientId=producer-1] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
24/05/05 04:05:43 WARN NetworkClient: [AdminClient clientId=adminclient-2] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.

[2024-05-05 04:05:43,316] INFO Session: 0x100011a5f900000 closed (org.apache.zookeeper.ZooKeeper)
[2024-05-05 04:05:43,316] INFO EventThread shut down for session: 0x100011a5f900000 (org.apache.zookeeper.ClientCnxn)
[2024-05-05 04:05:43,317] INFO [ZooKeeperClient Kafka server] Closed. (kafka.zookeeper.ZooKeeperClient)
[2024-05-05 04:05:43,317] INFO [ThrottledChannelReaper-Fetch]: Shutting down (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Fetch]: Stopped (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Fetch]: Shutdown completed (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Produce]: Shutting down (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Produce]: Stopped (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Produce]: Shutdown completed (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Request]: Shutting down (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Request]: Stopped (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,318] INFO [ThrottledChannelReaper-Request]: Shutdown completed (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,319] INFO [ThrottledChannelReaper-ControllerMutation]: Shutting down (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,319] INFO [ThrottledChannelReaper-ControllerMutation]: Stopped (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,319] INFO [ThrottledChannelReaper-ControllerMutation]: Shutdown completed (kafka.server.ClientQuotaManager$ThrottledChannelReaper)
[2024-05-05 04:05:43,319] INFO [SocketServer listenerType=ZK_BROKER, nodeId=2] Shutting down socket server (kafka.network.SocketServer)
[2024-05-05 04:05:43,328] INFO [SocketServer listenerType=ZK_BROKER, nodeId=2] Shutdown completed (kafka.network.SocketServer)
[2024-05-05 04:05:43,329] INFO Metrics scheduler closed (org.apache.kafka.common.metrics.Metrics)
[2024-05-05 04:05:43,329] INFO Closing reporter org.apache.kafka.common.metrics.JmxReporter (org.apache.kafka.common.metrics.Metrics)
[2024-05-05 04:05:43,329] INFO Metrics reporters closed (org.apache.kafka.common.metrics.Metrics)
[2024-05-05 04:05:43,330] INFO Broker and topic stats closed (kafka.server.BrokerTopicStats)
[2024-05-05 04:05:43,330] INFO App info kafka.server for 2 unregistered (org.apache.kafka.common.utils.AppInfoParser)
[2024-05-05 04:05:43,330] INFO [KafkaServer id=2] shut down completed (kafka.server.KafkaServer)

24/05/05 04:05:43 WARN NetworkClient: [Producer clientId=producer-1] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
[2024-05-05 04:05:43,658] WARN [AdminClient clientId=adminclient-1] Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
24/05/05 04:05:43 WARN NetworkClient: [AdminClient clientId=adminclient-2] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
[2024-05-05 04:05:43,762] WARN [AdminClient clientId=adminclient-1] Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
24/05/05 04:05:43 WARN NetworkClient: [Producer clientId=producer-1] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
[2024-05-05 04:05:43,963] WARN [AdminClient clientId=adminclient-1] Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
[2024-05-05 04:05:44,165] WARN [AdminClient clientId=adminclient-1] Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
24/05/05 04:05:44 WARN NetworkClient: [AdminClient clientId=adminclient-2] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.
[2024-05-05 04:05:44,668] WARN [AdminClient clientId=adminclient-1] Connection to node -1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
24/05/05 04:05:44 WARN NetworkClient: [Producer clientId=producer-1] Connection to node 2 (bbfe1a753e52/172.17.0.2:9092) could not be established. Node may not be available.

# CLOSE SPARK SESSION

In [7]:
spark_session.stop()