#

# START ZOOKEPER SERVICE
### RUN THIS COMMAND IN A TERMINAL
```
/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties

```
# START KAFKA BROKERS
### RUN THIS COMMAND ON A DIFFERENT TERMINAL FOR EACH LINE
```
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server1.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server2.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server3.properties
/usr/local/kafka/bin/kafka-server-start.sh /usr/local/kafka/config/server4.properties
```
# LIST AVALABLE BROKERS
```
/usr/local/kafka/bin/zookeeper-shell.sh localhost:2181 ls /brokers/ids
```
# DELETE TOPICS
```
/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --delete --topic animals-topic-streaming
```

# LISTS TOPICS
```
/usr/local/kafka/bin/kafka-topics.sh --list --bootstrap-server localhost:9092
```

# DEPENDENCIES

In [1]:
import os
from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.11.1.jar",
    "kafka-clients-3.3.2.jar",
    "spark-sql-kafka-0-10_2.12-3.4.1.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.1.jar"
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"

# Create Spark session and add JARs
spark_session = SparkSession.builder \
    .appName("WriteKafkaAnimals") \
    .config("spark.jars", dependencies) \
    .getOrCreate()

24/01/04 03:28:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# BATCH WRITING

In [2]:
def save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=1, empty=0):

    # Create a sample DataFrame with animal data
    data = [("zebra", "mammal"), ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),
            ("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"), 
            ("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"), 
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), 
            ("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), 
            ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]

    values =  data if empty == 0 else [('', '')]
    
    columns = ["name", "type"]
    
    df_animals = spark_session.createDataFrame(values, columns)

    for iteration in range(iterations):
        # Write the DataFrame to Kafka topic
        df_animals.selectExpr("name as key", "type as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
    
    # Print a message indicating that the data has been written to the Kafka topic
    print(f"{iterations} Iterations, Data written to Kafka topic ({topic}).")

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"
save_batch_data(spark_session, kafka_bootstrap_servers, topic)

topic = "animals-topic-streaming"
save_batch_data(spark_session=spark_session, kafka_bootstrap_servers=kafka_bootstrap_servers, topic=topic, empty=1)

1 Iterations, Data written to Kafka topic (animals-topic-batch).
1 Iterations, Data written to Kafka topic (animals-topic-streaming).

# BATCH READING

In [3]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Define the hexadecimal decoding function
@udf(returnType=StringType())
def decode_hex(value):
    try:
        if isinstance(value, str):
            return bytes.fromhex(value).decode('utf-8')
        elif isinstance(value, bytearray):
            return bytes(value).decode('utf-8')
        else:
            return str(value)
    except (ValueError, UnicodeDecodeError):
        return str(value)
            
def read_batch_data(spark_session, kafka_bootstrap_servers, topic):

    # Try to read data from Kafka
    try:
        # Read data from Kafka
        df_kafka = spark_session \
            .read \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("subscribe", topic) \
            .load()
    
        # Decode hexadecimal values
        df_decoded = df_kafka \
            .withColumn('key', decode_hex('key')) \
            .withColumn('value', decode_hex('value'))
    
        # Show the DataFrame with decoded data
        df_decoded.show(truncate=False)
    
    except Exception as e:
        if "UnknownTopicOrPartitionException" in str(e):
            print(f"The topic '{topic}' does not exist in the Kafka cluster.")
        else:
            print(f"Unexpected error: {e}")
    
    finally:
        # Stop the Spark session
        None

topic = "animals-topic-batch"
read_batch_data(spark_session, kafka_bootstrap_servers, topic)

24/01/04 03:28:20 WARN AdminClientConfig: These configurations '[key.deserializer, value.deserializer, enable.auto.commit, max.poll.records, auto.offset.reset]' were supplied but are not used yet.
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894
24/01/04 03:28:21 WARN KafkaDataConsumer: KafkaDataConsumer is not running in UninterruptibleThread. It may hang when KafkaDataConsumer's methods are interrupted because of KAFKA-1894

+----------+---------+-------------------+---------+------+-----------------------+-------------+
|key       |value    |topic              |partition|offset|timestamp              |timestampType|
+----------+---------+-------------------+---------+------+-----------------------+-------------+
|snake     |reptile  |animals-topic-batch|0        |0     |2024-01-04 01:26:40.099|0            |
|jaguar    |feline   |animals-topic-batch|0        |1     |2024-01-04 01:26:40.099|0            |
|dolphin   |mammal   |animals-topic-batch|0        |2     |2024-01-04 01:26:40.099|0            |
|kangaroo  |marsupial|animals-topic-batch|0        |3     |2024-01-04 01:26:40.099|0            |
|bear      |mammal   |animals-topic-batch|0        |4     |2024-01-04 01:26:40.099|0            |
|polar bear|mammal   |animals-topic-batch|0        |5     |2024-01-04 01:26:40.099|0            |
|fox       |mammal   |animals-topic-batch|0        |6     |2024-01-04 01:26:40.099|0            |
|koala     |marsupial|animals-topic-batch|0        |7     |2024-01-04 01:26:40.099|0            |
|zebra     |mammal   |animals-topic-batch|0        |8     |2024-01-04 01:26:40.099|0            |
|hippo     |mammal   |animals-topic-batch|0        |9     |2024-01-04 01:26:40.099|0            |
|cheetah   |feline   |animals-topic-batch|0        |10    |2024-01-04 01:26:40.111|0            |
|chimpanzee|primate  |animals-topic-batch|0        |11    |2024-01-04 01:26:40.099|0            |
|eagle     |bird     |animals-topic-batch|0        |12    |2024-01-04 01:26:40.111|0            |
|parrot    |bird     |animals-topic-batch|0        |13    |2024-01-04 01:26:40.099|0            |
|orangutan |primate  |animals-topic-batch|0        |14    |2024-01-04 01:26:40.099|0            |
|turtle    |reptile  |animals-topic-batch|0        |15    |2024-01-04 01:26:40.099|0            |
|panda     |mammal   |animals-topic-batch|0        |16    |2024-01-04 01:26:40.099|0            |
|seagull   |bird     |animals-topic-batch|0        |17    |2024-01-04 01:26:40.099|0            |
|swan      |bird     |animals-topic-batch|0        |18    |2024-01-04 01:26:40.112|0            |
|owl       |bird     |animals-topic-batch|0        |19    |2024-01-04 01:26:40.111|0            |
+----------+---------+-------------------+---------+------+-----------------------+-------------+
only showing top 20 rows

# STREAMING WRITING
## IT WILL BE LISTENING TO THE "animals-topic-batch" TOPIC
## WHEN NEW DATA ARRIVES, IT READS AND STORES THEM IN THE "animals-topic-streaming" TOPIC
## MAKE THE TRANSFORMATIONS

In [4]:
from pyspark.sql.functions import expr

def read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory):

    #spark_session.sparkContext.setLogLevel("DEBUG")    
    # Read from Kafka in streaming mode
    kafkaStream = spark_session \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", input_topic) \
        .option("startingOffsets", "earliest") \
        .load()
    
    # Perform some transformation on the data (here we are simply renaming the columns and uppercase the values)
    transformedStream = kafkaStream.selectExpr( "CAST(key AS STRING) as key","UPPER(CAST(value AS STRING)) as value")

    # save into parquet file
    query_parquet = transformedStream \
      .writeStream \
      .outputMode("append") \
      .format("parquet") \
      .option("path", files_directory) \
      .option("checkpointLocation", checkpoint_location) \
      .trigger(processingTime="1 minute") \
      .start()

    query = transformedStream \
        .writeStream \
        .option("failOnDataLoss", "false") \
        .outputMode("append") \
        .format("kafka") \
        .option("truncate", "false") \
        .option("checkpointLocation", checkpoint_location) \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("topic", output_topic) \
        .start()

    print('kafkaStream', type(kafkaStream))
    print('transformedStream', type(transformedStream))
    print('query', type(query))

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
input_topic = "animals-topic-batch"
output_topic = "animals-topic-streaming"
# Checkpoint directory within the Kafka directory
checkpoint_location = "/usr/local/kafka/data/checkpoint"
files_directory = "/usr/local/kafka/data/files"

read_streaming_data(spark_session, kafka_bootstrap_servers, input_topic, output_topic, checkpoint_location, files_directory)

kafkaStream <class 'pyspark.sql.dataframe.DataFrame'>
transformedStream <class 'pyspark.sql.dataframe.DataFrame'>
query <class 'pyspark.sql.streaming.query.StreamingQuery'>

24/01/04 03:28:21 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/01/04 03:28:21 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/01/04 03:28:21 WARN StreamingQueryManager: Stopping existing streaming query [id=ae0c5d8c-a9e8-48d5-8a25-09d7ba314974, runId=c05f85b9-a9d9-4b8d-8edf-f4c7f80ccfbd], as a new run is being started.

## MASSIVE DATA INSERTION TO KAFKA FOR STREAMING READ
### COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDIN

```python
import os
from pyspark.sql import SparkSession
from time import sleep

# Directory where JARs are located
jars_directory = "/usr/local/spark/jars/"

# List of JAR filenames
jar_files = [
    "commons-pool2-2.11.1.jar",
    "kafka-clients-3.3.2.jar",
    "spark-sql-kafka-0-10_2.12-3.4.1.jar",
    "spark-token-provider-kafka-0-10_2.12-3.4.1.jar"
]

dependencies = ",".join([os.path.join(jars_directory, jar) for jar in jar_files])

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-batch"


# Create Spark session and add JARs
spark_session = SparkSession.builder \
    .appName("WriteKafkaAnimals") \
    .config("spark.jars", dependencies) \
    .getOrCreate()


def save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=1):

    # Create a sample DataFrame with animal data
    data = [("zebra", "mammal"), ("koala", "marsupial"), ("cheetah", "feline"),("dolphin", "mammal"),
            ("parrot", "bird"), ("rhino", "mammal"), ("panda", "mammal"), ("kangaroo", "marsupial"), 
            ("panther", "feline"), ("chimpanzee", "primate"), ("hippo", "mammal"), ("eagle", "bird"), 
            ("orangutan", "primate"), ("bear", "mammal"), ("owl", "bird"), ("polar bear", "mammal"), 
            ("snake", "reptile"), ("hawk", "bird"), ("fox", "mammal"), ("turtle", "reptile"), 
            ("swan", "bird"), ("jaguar", "feline"), ("seagull", "bird"), ("gazelle", "mammal")]
    
    columns = ["name", "type"]
    
    df_animals = spark_session.createDataFrame(data, columns)

    for iteration in range(iterations):
        sleep(0.2)
        # Write the DataFrame to Kafka topic
        df_animals.selectExpr("name as key", "type as value") \
            .write \
            .format("kafka") \
            .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
            .option("topic", topic) \
            .save()
        print (f'Iteration {iteration}, completed!!!')
    
    # Print a message indicating that the data has been written to the Kafka topic
    print(f"{iterations} Iterations, Data written to Kafka topic ({topic}).")

     # Finally, stop the Spark session
    spark_session.stop()

save_batch_data(spark_session, kafka_bootstrap_servers, topic, iterations=13)
```

# STREAMING READING

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Configure Kafka connection
kafka_bootstrap_servers = "localhost:9092"
topic = "animals-topic-streaming"

def read_streaming_data(spark_session,kafka_bootstrap_servers, topic):
   
    # Read from Kafka in streaming mode
    kafkaStream = spark_session.readStream.format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", topic) \
        .option("startingOffsets", "earliest") \
        .load()
    
    # Show the read content
    query = kafkaStream.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)") \
        .writeStream \
        .outputMode("append") \
        .format("console") \
        .start() \
    
    # Wait for the stream to finish (adjust as needed)
    #query.awaitTermination()
    
    # Finally, stop the Spark session (you can stop it after the stream finishes)
    #spark_session.stop()

read_streaming_data(spark_session, kafka_bootstrap_servers, topic)

24/01/04 03:28:21 WARN AdminClientConfig: These configurations '[key.deserializer, value.deserializer, enable.auto.commit, max.poll.records, auto.offset.reset]' were supplied but are not used yet.
24/01/04 03:28:21 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-4c0af553-e8a0-4683-9093-44353aa1711b. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/01/04 03:28:21 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/01/04 03:28:21 WARN AdminClientConfig: These configurations '[key.deserializer, value.deserializer, enable.auto.commit, max.poll.records, auto.offset.reset]' were supplied but are not used yet.

-------------------------------------------
Batch: 0
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|          |         |
|          |         |
|          |         |
|     snake|  REPTILE|
|    jaguar|   FELINE|
|   dolphin|   MAMMAL|
|  kangaroo|MARSUPIAL|
|      bear|   MAMMAL|
|polar bear|   MAMMAL|
|       fox|   MAMMAL|
|     koala|MARSUPIAL|
|     zebra|   MAMMAL|
|     hippo|   MAMMAL|
|   cheetah|   FELINE|
|chimpanzee|  PRIMATE|
|     eagle|     BIRD|
|    parrot|     BIRD|
| orangutan|  PRIMATE|
|    turtle|  REPTILE|
|     panda|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|chimpanzee|  PRIMATE|
|    jaguar|   FELINE|
|     snake|  REPTILE|
|      hawk|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
|polar bear|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
| orangutan|  PRIMATE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|       fox|   MAMMAL|
|   dolphin|   MAMMAL|
|     hippo|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     panda|   MAMMAL|
| orangutan|  PRIMATE|
|  kangaroo|MARSUPIAL|
|polar bear|   MAMMAL|
|   panther|   FELINE|
+----------+---------+

-------------------------------------------
Batch: 3
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    jaguar|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     zebra|   MAMMAL|
|    parrot|     BIRD|
|chimpanzee|  PRIMATE|
|     rhino|   MAMMAL|
|   dolphin|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|       fox|   MAMMAL|
|    turtle|  REPTILE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 4
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|     zebra|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     snake|  REPTILE|
|   dolphin|   MAMMAL|
|     hippo|   MAMMAL|
|      hawk|     BIRD|
|     eagle|     BIRD|
|polar bear|   MAMMAL|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
| orangutan|  PRIMATE|
|    jaguar|   FELINE|
+----------+---------+

-------------------------------------------
Batch: 5
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    jaguar|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     zebra|   MAMMAL|
|     panda|   MAMMAL|
|polar bear|   MAMMAL|
| orangutan|  PRIMATE|
|     snake|  REPTILE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 6
-------------------------------------------
+-------+---------+
|    key|    value|
+-------+---------+
|  koala|MARSUPIAL|
|cheetah|   FELINE|
+-------+---------+

-------------------------------------------
Batch: 7
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    jaguar|   FELINE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|   dolphin|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|       fox|   MAMMAL|
|polar bear|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|chimpanzee|  PRIMATE|
| orangutan|  PRIMATE|
|     panda|   MAMMAL|
+----------+---------+

-------------------------------------------
Batch: 8
-------------------------------------------
+------+-------+
|   key|  value|
+------+-------+
| zebra| MAMMAL|
|turtle|REPTILE|
|  swan|   BIRD|
|parrot|   BIRD|
| rhino| MAMMAL|
+------+-------+

-------------------------------------------
Batch: 9
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    jaguar|   FELINE|
|   dolphin|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
| orangutan|  PRIMATE|
|chimpanzee|  PRIMATE|
|     zebra|   MAMMAL|
|polar bear|   MAMMAL|
|   seagull|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|   gazelle|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|     panda|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     koala|MARSUPIAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 10
-------------------------------------------
+------+------+
|   key| value|
+------+------+
|parrot|  BIRD|
| rhino|MAMMAL|
+------+------+

-------------------------------------------
Batch: 11
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|polar bear|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|   dolphin|   MAMMAL|
| orangutan|  PRIMATE|
|     zebra|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|     panda|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|chimpanzee|  PRIMATE|
+----------+---------+

-------------------------------------------
Batch: 12
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|       fox|   MAMMAL|
|    jaguar|   FELINE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
| orangutan|  PRIMATE|
|     panda|   MAMMAL|
|     zebra|   MAMMAL|
|    jaguar|   FELINE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|polar bear|   MAMMAL|
|   dolphin|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 13
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   dolphin|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|chimpanzee|  PRIMATE|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|polar bear|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
| orangutan|  PRIMATE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 14
-------------------------------------------
+-----+------+
|  key| value|
+-----+------+
|panda|MAMMAL|
+-----+------+

-------------------------------------------
Batch: 15
-------------------------------------------
+---------+-------+
|      key|  value|
+---------+-------+
|    zebra| MAMMAL|
|orangutan|PRIMATE|
+---------+-------+

-------------------------------------------
Batch: 16
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|   dolphin|   MAMMAL|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|     panda|   MAMMAL|
|     snake|  REPTILE|
|      hawk|     BIRD|
|    jaguar|   FELINE|
|polar bear|   MAMMAL|
|       fox|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|chimpanzee|  PRIMATE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 17
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|      bear|   MAMMAL|
|       owl|     BIRD|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|     koala|MARSUPIAL|
|    jaguar|   FELINE|
|   dolphin|   MAMMAL|
|   cheetah|   FELINE|
| orangutan|  PRIMATE|
|  kangaroo|MARSUPIAL|
|     snake|  REPTILE|
|   panther|   FELINE|
|      hawk|     BIRD|
|polar bear|   MAMMAL|
|       fox|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     panda|   MAMMAL|
|     zebra|   MAMMAL|
|chimpanzee|  PRIMATE|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 18
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|    jaguar|   FELINE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|chimpanzee|  PRIMATE|
|       fox|   MAMMAL|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|   dolphin|   MAMMAL|
|polar bear|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
| orangutan|  PRIMATE|
|    turtle|  REPTILE|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|      swan|     BIRD|
|     zebra|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 19
-------------------------------------------
+---+------+
|key| value|
+---+------+
|fox|MAMMAL|
+---+------+

-------------------------------------------
Batch: 20
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|chimpanzee|  PRIMATE|
|     snake|  REPTILE|
|      hawk|     BIRD|
|  kangaroo|MARSUPIAL|
|   panther|   FELINE|
|polar bear|   MAMMAL|
|      bear|   MAMMAL|
|       owl|     BIRD|
|    turtle|  REPTILE|
|      swan|     BIRD|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
| orangutan|  PRIMATE|
|    jaguar|   FELINE|
|     koala|MARSUPIAL|
|     zebra|   MAMMAL|
|   cheetah|   FELINE|
|     panda|   MAMMAL|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
+----------+---------+

-------------------------------------------
Batch: 21
-------------------------------------------
+----------+---------+
|       key|    value|
+----------+---------+
|   dolphin|   MAMMAL|
|   seagull|     BIRD|
|   gazelle|   MAMMAL|
|polar bear|   MAMMAL|
|  kangaroo|MARSUPIAL|
|    jaguar|   FELINE|
|   panther|   FELINE|
|     koala|MARSUPIAL|
|   cheetah|   FELINE|
|    parrot|     BIRD|
|     rhino|   MAMMAL|
|     hippo|   MAMMAL|
|     eagle|     BIRD|
|      bear|   MAMMAL|
|    turtle|  REPTILE|
|      swan|     BIRD|
|       owl|     BIRD|
|     snake|  REPTILE|
|      hawk|     BIRD|
|     panda|   MAMMAL|
+----------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 22
-------------------------------------------
+---+------+
|key| value|
+---+------+
|fox|MAMMAL|
+---+------+

# STREAMING FILES USING FROM DIRECTORIES

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
from pyspark.sql.functions import expr
import shutil
from pyspark.sql import functions as F
from datetime import datetime
from pyspark.sql.functions import lit

def process_batch(directory_to_save_files, df, epoch_id):
    
    # Generate a timestamp
    timestamp_str = datetime.now().strftime("%Y_%m_%d_%H_%M_%S")

    # Add epoch_id and timestamp_str as new columns
    df = df.withColumn("batch_id", lit(epoch_id)) \
           .withColumn("timestamp", lit(timestamp_str))

    # Print information about the new batch
    print(f"Processing microbatch {epoch_id} at {timestamp_str}")

    # Group by specified columns and calculate the average ticket price
    grouped_df = df.groupBy(
        "passenger_nationality",
        "passenger_gender",
        "passenger_age",
        "batch_id",
        "timestamp" 
    ).agg(
        F.avg("ticket_price").alias("avg_ticket_price"),
        F.sum("ticket_price").alias("total_ticket_price"),
        F.count("passenger_name").alias("total_passengers")
    )

    # Filter out groups where the total number of passengers is greater than 1
    filtered_df = grouped_df.filter(grouped_df.total_passengers > 1)

    # Sort the DataFrame by passenger_nationality and passenger_age
    sorted_df = filtered_df.orderBy("passenger_nationality", "passenger_gender")

    # Show the sorted DataFrame
    sorted_df.show(truncate=False)

    # Coalesce to a single partition and write the DataFrame as Parquet with timestamp
    maximum_parquet_files_per_batch  = 3
    sorted_df.coalesce(maximum_parquet_files_per_batch ).write.parquet(f"{directory_to_save_files}/microbatch_{epoch_id}_{timestamp_str}")

    # Show the original DataFrame
    df.show()

def read_file_like_streaming(spark_session, customSchema, format, checkpoint_location, directory_to_save_files):
    
    # Read the DataFrame as a continuous stream
    streaming_df = spark_session \
                    .readStream \
                    .schema(customSchema) \
                    .format(format) \
                    .option("header", "true") \
                    .load(folder_files_path)

    # Display the DataFrame in the console and count the records per microbatch
    # .trigger(processingTime='5 seconds') specifies that Spark Structured Streaming should process micro-batches of data from the specified directory every 5 seconds.
    query = streaming_df \
        .writeStream \
        .outputMode("append") \
        .trigger(processingTime='5 seconds') \
        .option("checkpointLocation", checkpoint_location) \
        .option("basePath", directory_to_save_files) \
        .foreachBatch(lambda df, epoch_id: process_batch(directory_to_save_files, df, epoch_id)) \
        .start()
    
    # Wait for the streaming to complete
    #query.awaitTermination()

format = 'csv'
folder_files_path = "/notebooks"
base_path = "/usr/local/kafka/data/files/batch"
shutil.rmtree(base_path, ignore_errors=True)

# Delete the checkpoint directory
checkpoint_location = "/usr/local/kafka/data/batch"
shutil.rmtree(checkpoint_location, ignore_errors=True)

# Define the schema
customSchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("secure_code", StringType(), True),
    StructField("airline", StringType(), True),
    StructField("departure_city", StringType(), True),
    StructField("departure_date", StringType(), True),
    StructField("arrival_airport", StringType(), True),
    StructField("arrival_city", StringType(), True),
    StructField("arrival_time", StringType(), True),
    StructField("passenger_name", StringType(), True),
    StructField("passenger_gender", StringType(), True),
    StructField("seat_number", StringType(), True),
    StructField("currency", StringType(), True),
    StructField("departure_gate", StringType(), True),
    StructField("flight_status", StringType(), True),
    StructField("co_pilot_name", StringType(), True),
    StructField("aircraft_type", StringType(), True),
    StructField("fuel_consumption", DoubleType(), True),
    StructField("flight_id", IntegerType(), True),
    StructField("flight_number", IntegerType(), True),
    StructField("departure_airport", StringType(), True),
    StructField("departure_country", StringType(), True),
    StructField("departure_time", StringType(), True),
    StructField("arrival_country", StringType(), True),
    StructField("arrival_date", StringType(), True),
    StructField("flight_duration", DoubleType(), True),
    StructField("passenger_age", IntegerType(), True),
    StructField("passenger_nationality", StringType(), True),
    StructField("ticket_price", DoubleType(), True),
    StructField("baggage_weight", DoubleType(), True),
    StructField("arrival_gate", StringType(), True),
    StructField("pilot_name", StringType(), True),
    StructField("cabin_crew_count", IntegerType(), True),
    StructField("aircraft_registration", StringType(), True),
    StructField("flight_distance", DoubleType(), True)
])


directory_to_save_files = "/notebooks"

read_file_like_streaming(spark_session=spark_session, customSchema=customSchema, format=format, checkpoint_location=checkpoint_location, directory_to_save_files=directory_to_save_files)

24/01/04 03:28:49 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
24/01/04 03:28:49 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Processing microbatch 0 at 2024_01_04_03_28_49

24/01/04 03:28:50 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming.ipynb
24/01/04 03:28:50 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb

+---------------------+----------------+-------------+--------+-------------------+----------------+------------------+----------------+
|passenger_nationality|passenger_gender|passenger_age|batch_id|timestamp          |avg_ticket_price|total_ticket_price|total_passengers|
+---------------------+----------------+-------------+--------+-------------------+----------------+------------------+----------------+
|null                 |null            |null         |0       |2024_01_04_03_28_49|null            |null              |10              |
+---------------------+----------------+-------------+--------+-------------------+----------------+------------------+----------------+

24/01/04 03:28:51 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Untitled.ipynb
24/01/04 03:28:51 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming.ipynb
24/01/04 03:28:52 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 34
CSV file: file:///notebooks/Spark-Kafka-Batch-Streaming.ipynb

+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|  id|secure_code|airline|departure_city|departure_date|arrival_airport|arrival_city|arrival_time|passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
|null|       null|   null|          null|          null|           null|        null|        null|          null|            null|       null|    null|          null|         null|         null|         null|            null|     null|         null|             null|             null|          null|           null|        null|           null|         null|                 null|        null|          null|        null|      null|            null|                 null|           null|       0|2024_01_04_03_28_49|
+----+-----------+-------+--------------+--------------+---------------+------------+------------+--------------+----------------+-----------+--------+--------------+-------------+-------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+----------+----------------+---------------------+---------------+--------+-------------------+
only showing top 20 rows

Processing microbatch 1 at 2024_01_04_03_29_05
+---------------------+----------------+-------------+--------+-------------------+------------------+------------------+----------------+
|passenger_nationality|passenger_gender|passenger_age|batch_id|timestamp          |avg_ticket_price  |total_ticket_price|total_passengers|
+---------------------+----------------+-------------+--------+-------------------+------------------+------------------+----------------+
|Argentina            |Female          |100          |1       |2024_01_04_03_29_05|530.8             |1061.6            |2               |
|Brazil               |Female          |48           |1       |2024_01_04_03_29_05|285.97            |571.94            |2               |
|Brazil               |Male            |56           |1       |2024_01_04_03_29_05|353.31333333333333|1059.94           |3               |
|Brazil               |Male            |53           |1       |2024_01_04_03_29_05|690.0966666666667 |2070.29           |3               |
|Brazil               |Male            |65           |1       |2024_01_04_03_29_05|307.49            |614.98            |2               |
|China                |Female          |21           |1       |2024_01_04_03_29_05|223.88            |447.76            |2               |
|China                |Female          |69           |1       |2024_01_04_03_29_05|347.235           |1388.94           |4               |
|China                |Female          |68           |1       |2024_01_04_03_29_05|91.99333333333334 |275.98            |3               |
|China                |Female          |73           |1       |2024_01_04_03_29_05|153.275           |306.55            |2               |
|China                |Female          |55           |1       |2024_01_04_03_29_05|727.105           |1454.21           |2               |
|China                |Female          |94           |1       |2024_01_04_03_29_05|600.095           |1200.19           |2               |
|China                |Female          |37           |1       |2024_01_04_03_29_05|818.61            |1637.22           |2               |
|China                |Female          |47           |1       |2024_01_04_03_29_05|666.9266666666666 |2000.78           |3               |
|China                |Female          |89           |1       |2024_01_04_03_29_05|590.495           |1180.99           |2               |
|China                |Female          |81           |1       |2024_01_04_03_29_05|760.235           |1520.47           |2               |
|China                |Female          |35           |1       |2024_01_04_03_29_05|658.0600000000001 |1316.1200000000001|2               |
|China                |Female          |83           |1       |2024_01_04_03_29_05|567.55            |1135.1            |2               |
|China                |Female          |70           |1       |2024_01_04_03_29_05|562.5350000000001 |1125.0700000000002|2               |
|China                |Female          |76           |1       |2024_01_04_03_29_05|338.925           |677.85            |2               |
|China                |Female          |27           |1       |2024_01_04_03_29_05|384.8             |769.6             |2               |
+---------------------+----------------+-------------+--------+-------------------+------------------+------------------+----------------+
only showing top 20 rows

+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
| id|         secure_code| airline|     departure_city|departure_date|arrival_airport|     arrival_city|    arrival_time|      passenger_name|passenger_gender|seat_number|currency|departure_gate|flight_status|       co_pilot_name|aircraft_type|fuel_consumption|flight_id|flight_number|departure_airport|departure_country|departure_time|arrival_country|arrival_date|flight_duration|passenger_age|passenger_nationality|ticket_price|baggage_weight|arrival_gate|          pilot_name|cabin_crew_count|aircraft_registration|flight_distance|batch_id|          timestamp|
+---+--------------------+--------+-------------------+--------------+---------------+-----------------+----------------+--------------------+----------------+-----------+--------+--------------+-------------+--------------------+-------------+----------------+---------+-------------+-----------------+-----------------+--------------+---------------+------------+---------------+-------------+---------------------+------------+--------------+------------+--------------------+----------------+---------------------+---------------+--------+-------------------+
|  1|01H4EEMGMG9VADVF0...| EasyFly|             Berlin|    25/12/2022|            PEI|          Pereira|27/12/2022 14:13|    Nathalie Cardona|          Female|         A1|     EUR|            B2|      On Time|       Hart Blunkett| Embraer E190|         7916.39|        1|         1978|              CFQ|          Germany|6/7/2023 04:42|       Colombia|  27/12/2022|          14.18|            0|             Colombia|      797.24|         43.85|          E5|           Sunny Few|               9|               N12345|        1400.24|       1|2024_01_04_03_29_05|
|  2|01H4EEMGMYP8GX4GR...|   Delta|Les Sables-d'Olonne|      4/1/2022|            YHU|         Westport|  6/7/2023 06:53|    Willie Childrens|          Female|         B2|     EUR|            A1|      Delayed|     Leanor Gribbins|  Airbus A320|         9666.36|        2|         2337|              ONG|           France|6/7/2023 17:31|    New Zealand|  23/12/2022|          13.54|           29|               Sweden|      383.63|         35.78|          D4|      Donielle Strut|               4|               N12345|         465.84|       1|2024_01_04_03_29_05|
|  3|01H4EEMGN3BZJ9RR7...|  United|                Oyo|      3/4/2022|            KWJ|            Jabon|  6/7/2023 03:44|        Fifine Luten|          Female|         B2|     NGN|            C3|      On Time|    Christie Wakeley|   Boeing 737|         8047.44|        3|         7588|              TEX|          Nigeria|6/7/2023 11:08|      Indonesia|   30/9/2022|           6.28|           34|            Argentina|      439.09|         47.81|          D4|   Shelly Paddefield|               3|               N67890|        3151.78|       1|2024_01_04_03_29_05|
|  4|01H4EEMGN9DFF5XJC...|   Delta|    Kuragaki-kosugi|     31/5/2022|            ANP|         Xianyuan|  6/7/2023 18:56|   Doll Sommerscales|          Female|         C3|     JPY|            A1|      Delayed|          Mia Vannah|  Airbus A320|         5156.19|        4|         7545|              ORB|            Japan|6/7/2023 11:11|          China|  14/10/2022|            5.6|           34|                China|      706.19|         25.79|          D4|   Babara Kretschmer|               6|               N12345|         264.64|       1|2024_01_04_03_29_05|

# COPY, PASTE, AND RUN THE FOLLOWING CODE IN ANOTHER NOTEBOOK TO OBSERVE STREAMING REDING

```python
import pandas as pd
import numpy as np
from time import sleep

for index in range(1,6):

    part_1 = index
    part_2 = index + 5

    file_name = 'flight_logs'
    final_file = f'{file_name}_{index}.csv'
    
    file_1 = f'{file_name}_part_1_{index}.csv'
    base_url1 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_1}'
    df1 = pd.read_csv(base_url1)
    
    file_2 = f'{file_name}_part_2_{index}.csv'
    base_url2 = f'https://raw.githubusercontent.com/JorgeCardona/recursos/main/datasets/{file_2}'
    df2 = pd.read_csv(base_url2)

    df3 = pd.merge(df1, df2, left_on='id', right_on='flight_id', how='inner')
    df3.to_csv(f'{final_file}',index=False)

    print(f'{final_file} saved Successfully!!')
    sleep(10)
```

# LOAD PARQUET FILES DIRECTORY ON DATAFRAME

In [7]:
import pandas as pd
import pyarrow.parquet as pq
import glob

def read_parquet_directory_into_dataframe(directory_path):
    """
    Reads all Parquet files from a directory into a single pandas DataFrame.

    Parameters:
    - directory_path (str): Path to the directory containing Parquet files.

    Returns:
    - pd.DataFrame: Combined DataFrame containing data from all Parquet files.
    """
    # Use glob to get a list of all Parquet file paths in the specified directory
    parquet_files = glob.glob(f'{directory_path}/*.parquet')
    
    # Initialize an empty list to store individual DataFrames
    dfs = []
    
    # Loop through each Parquet file and read it into a DataFrame
    for parquet_file in parquet_files:
        # Read Parquet file into a DataFrame
        df = pq.read_table(parquet_file).to_pandas()
        
        # Append the DataFrame to the list
        dfs.append(df)
    
    # Concatenate all DataFrames into a single DataFrame
    all_data = pd.concat(dfs, ignore_index=True)
    
    return all_data

# Specify the directory where Parquet files are located
directory_path = 'microbatch_5_2024_01_04_03_29_45/'

read_parquet_directory_into_dataframe(directory_path)

,passenger_nationality,passenger_gender,passenger_age,batch_id,timestamp,avg_ticket_price,total_ticket_price,total_passengers
0,Poland,Female,21,5,2024_01_04_03_29_45,202.870,405.74,2
1,Poland,Male,90,5,2024_01_04_03_29_45,438.330,876.66,2
2,Poland,Male,80,5,2024_01_04_03_29_45,741.635,1483.27,2
3,Portugal,Female,47,5,2024_01_04_03_29_45,428.000,856.00,2
4,Portugal,Female,79,5,2024_01_04_03_29_45,740.210,1480.42,2
...,...,...,...,...,...,...,...,...
76,China,Male,95,5,2024_01_04_03_29_45,402.975,805.95,2
77,China,Male,76,5,2024_01_04_03_29_45,475.855,951.71,2
78,Colombia,Female,83,5,2024_01_04_03_29_45,679.375,1358.75,2
79,France,Male,45,5,2024_01_04_03_29_45,710.710,1421.42,2
80,Greece,Male,21,5,2024_01_04_03_29_45,629.510,1259.02,2

# CLOSE SPARK SESSION

In [8]:
spark_session.stop()