# EXCEPTIONS

In [1]:
import logging
import os
import pandas as pd

# Set up logging configuration
logging.basicConfig(level=logging.INFO)

class IncompatibleActionError(Exception):
    """Exception raised when the action is not supported."""
    def __init__(self, action_type: str):
        super().__init__(f"Action '{action_type}' is not supported.")

class IncompatibleFormatError(Exception):
    """Exception raised when the file format is not supported."""
    def __init__(self, file_format: str):
        super().__init__(f"Format '{file_format}' is not supported.")

class IncompatibleProcessingError(Exception):
    """Exception raised when the processing is not supported."""
    def __init__(self):
        super().__init__("Processing is not supported. The file was neither saved nor processed.")

class SaveDatasetError(Exception):
    """
    Custom exception for errors when saving a DataFrame in a specific format.
    """
    def __init__(self, file_format, original_exception):
        super().__init__(f"Error saving the file in format '{file_format}': {original_exception}")
        self.file_format = file_format
        self.original_exception = original_exception

class LoadDatasetError(Exception):
    """
    Custom exception for errors when loading a file in a specific format.
    """
    def __init__(self, file_path, file_format, original_exception):
        super().__init__(f"Error loading the file '{file_path}' with format '{file_format}': {original_exception}")
        self.file_path = file_path
        self.file_format = file_format
        self.original_exception = original_exception

# MAIN CLASS

In [2]:
class PandasDatasetProcessor:

    @staticmethod
    def create_directory_if_not_exists(path: str) -> None:
        """
        Checks if the specified directory exists. If not, creates it.

        Args:
            path (str): Directory path to check.

        Returns:
            None
        """
        if not os.path.exists(path):
            os.makedirs(path)
            print(f"Directorio '{path}' creado.")

    @staticmethod
    def compatible_formats(action_type: str, file_format: str, dataset: pd.DataFrame = None):
        """
        Returns compatible methods for reading or writing data based on the action type and format.
    
        Parameters:
        - action_type (str): The action type, either 'write' or 'read'.
        - file_format (str): The file format, such as 'csv', 'json', 'xml', etc.
        - dataset (pd.DataFrame, optional): The DataFrame to process (required for write actions).
    
        Returns:
        - dict: A dictionary with compatible actions for the specified action type.
        - callable or None: A callable function for the specified format or None if not supported.
        """
        compatible_formats = {
            'write': {
                'orc': lambda filename: dataset.to_orc(filename) if dataset is not None else None,
                'parquet': lambda filename: dataset.to_parquet(filename) if dataset is not None else None,
                'xml': lambda filename: dataset.to_xml(filename, index=False) if dataset is not None else None,
                'json': lambda filename: dataset.to_json(filename, orient='records', lines=False, indent=4) if dataset is not None else None,
                'html': lambda filename: dataset.to_html(filename, index=False, border=1) if dataset is not None else None,
                'hdf5': lambda filename: dataset.to_hdf(filename, key='df', mode='w') if dataset is not None else None,
                'csv': lambda filename: dataset.to_csv(filename, encoding='utf-8', index=False) if dataset is not None else None,
                'xlsx': lambda filename: dataset.to_excel(filename, engine='openpyxl', index=False) if dataset is not None else None
            },
            'read': {
                'orc': pd.read_orc,
                'parquet': pd.read_parquet,
                'xml': pd.read_xml,
                'json': pd.read_json,
                'html': pd.read_html,
                'csv': pd.read_csv,
                'hdf5': pd.read_hdf,
                'xlsx': pd.read_excel
            }
        }
    
        compatible_action_type = compatible_formats.get(action_type, {})
        compatible_file_format = compatible_action_type.get(file_format.lower(), None)
    
        return compatible_action_type, compatible_file_format

    @staticmethod
    def save_dataset(dataset: pd.DataFrame, action_type: str, file_format: str, path: str = '.', base_filename: str = 'output_file') -> None:
        """
        Saves a DataFrame in the specified file format.
    
        Parameters:
        - dataset (pd.DataFrame): The DataFrame to save.
        - action_type (str): The type of action ('write' to save).
        - file_format (str): The file format, such as 'csv', 'json', 'xml', etc.
        - path (str): The directory path where the file will be saved (default is the current directory).
        - base_filename (str): The base name for the file (default is 'output_file').
    
        Raises:
        - SaveDatasetError: If an error occurs while saving the file.
        - IncompatibleProcessingError: If neither the action nor the format is supported.
        - IncompatibleActionError: If the action type is not supported.
        - IncompatibleFormatError: If the file format is not supported.
        """
        compatible_action_type, compatible_file_format = PandasDatasetProcessor.compatible_formats(action_type, file_format, dataset)
    
        if compatible_action_type and compatible_file_format:
            PandasDatasetProcessor.create_directory_if_not_exists(path)
            file_name = os.path.join(path, f'{base_filename}.{file_format.lower()}')
    
            try:
                compatible_file_format(file_name) # Save the file in the specified format
                print(f"File Saved as {file_name}")
            except Exception as e:
                raise SaveDatasetError(file_format, e)
        else:
            if not compatible_action_type and not compatible_file_format:
                raise IncompatibleProcessingError()
            elif not compatible_action_type:
                raise IncompatibleActionError(action_type)
            elif not compatible_file_format:
                raise IncompatibleFormatError(file_format)


    @staticmethod
    def load_dataset(file_path: str) -> pd.DataFrame:
        """
        Loads a dataset from a file, automatically determining the format based on the file extension.
    
        Args:
            file_path (str): The full path of the file to load.
    
        Returns:
            pd.DataFrame: The loaded dataset as a DataFrame.
    
        Raises:
            LoadDatasetError: If an error occurs while attempting to load the file.
            IncompatibleFormatError: If the file format is not compatible.
        """
        file_format = file_path.split('.')[-1]  # Get the file extension
        compatible_action_type, compatible_file_format = PandasDatasetProcessor.compatible_formats('read', file_format)
    
        if compatible_file_format:
            try:
                # Read the file using the corresponding method
                dataset = compatible_file_format(file_path)
                print(f"File '{file_path}' successfully loaded as {file_format}.")
                return dataset
            except Exception as e:
                # Raise a custom exception if an error occurs during loading
                raise LoadDatasetError(file_path, file_format, e)
        else:
            # Raise a custom exception if the format is not compatible
            raise IncompatibleFormatError(file_format)

        
    @staticmethod
    def generate_partitioned_datasets(dataset: pd.DataFrame, num_parts: int) -> list:
        """
        Divides a DataFrame into 'n' partitions evenly. If an exact division is not possible, 
        the last partition will contain the remaining records, with the remainder distributed as 
        evenly as possible among the earlier partitions.
    
        Parameters:
        dataset (pd.DataFrame): The DataFrame to be divided.
        num_parts (int): The number of partitions to divide the DataFrame into.
    
        Returns:
        list: A list of DataFrames generated from the partitioning of the original DataFrame.
        """
    
        # dataset total records
        total_rows = len(dataset)
        
        # Calculate the base size of the partitions and the remaining records
        base_partition_size = total_rows // num_parts
        remainder = total_rows % num_parts
        
        partitions = []
        start_idx = 0
        
        # Create the partitions, distributing the remaining records evenly
        for i in range(num_parts):
            # The partition size will be base_partition_size + 1 for the first 'remainder' partitions
            partition_size = base_partition_size + (1 if i < remainder else 0)
            end_idx = start_idx + partition_size
            partitions.append(dataset.iloc[start_idx:end_idx])
            start_idx = end_idx
        
        return partitions

# TEST

## CREATE FILES FROM DATAFRAME

In [3]:
file_locations = list()

dataset_1 = pd.read_csv('https://raw.githubusercontent.com/JorgeCardona/data-collection-json-csv-sql/refs/heads/main/csv/flight_logs_part_1.csv')
dataset_2 = pd.read_csv('https://raw.githubusercontent.com/JorgeCardona/data-collection-json-csv-sql/refs/heads/main/csv/flight_logs_part_2.csv')

# Example usage
# Make sure you have a DataFrame called 'dataset_1' before running this code.
file_formats = ['orc', 'parquet', 'xml', 'json', 'html', 'csv', 'hdf5', 'xlsx']
datasets = [dataset_1, dataset_2]

# In this example, the DataFrame is saved in 'csv' format.
action_type = 'write'
for index_dataset, dataset in enumerate(datasets):
    for index_file, file_format in enumerate(file_formats):
        # Save dataset to multiples formats
        path = f'./data/dataset_{index_dataset+1}'
        base_filename=f'sample_dataset_{index_file+1}'
        
        file_location = f"{path}/{base_filename}.{file_format}"
        
        file_locations.append(file_location)
        
        PandasDatasetProcessor.save_dataset(dataset=dataset_1, action_type='write', file_format=file_format, path=path, base_filename=base_filename)

File Saved as ./data/dataset_1/sample_dataset_1.orc
File Saved as ./data/dataset_1/sample_dataset_2.parquet
File Saved as ./data/dataset_1/sample_dataset_3.xml
File Saved as ./data/dataset_1/sample_dataset_4.json
File Saved as ./data/dataset_1/sample_dataset_5.html
File Saved as ./data/dataset_1/sample_dataset_6.csv
File Saved as ./data/dataset_1/sample_dataset_7.hdf5
File Saved as ./data/dataset_1/sample_dataset_8.xlsx
File Saved as ./data/dataset_2/sample_dataset_1.orc
File Saved as ./data/dataset_2/sample_dataset_2.parquet
File Saved as ./data/dataset_2/sample_dataset_3.xml
File Saved as ./data/dataset_2/sample_dataset_4.json
File Saved as ./data/dataset_2/sample_dataset_5.html
File Saved as ./data/dataset_2/sample_dataset_6.csv
File Saved as ./data/dataset_2/sample_dataset_7.hdf5
File Saved as ./data/dataset_2/sample_dataset_8.xlsx

## CREATE DATAFRAMES FROM FILES

In [4]:
for file_location in file_locations:
    # Call the function to save the file in 'csv' format in the './output' folder.
    PandasDatasetProcessor.load_dataset(file_location)

File './data/dataset_1/sample_dataset_1.orc' successfully loaded as orc.
File './data/dataset_1/sample_dataset_2.parquet' successfully loaded as parquet.
File './data/dataset_1/sample_dataset_3.xml' successfully loaded as xml.
File './data/dataset_1/sample_dataset_4.json' successfully loaded as json.
File './data/dataset_1/sample_dataset_5.html' successfully loaded as html.
File './data/dataset_1/sample_dataset_6.csv' successfully loaded as csv.
File './data/dataset_1/sample_dataset_7.hdf5' successfully loaded as hdf5.
File './data/dataset_1/sample_dataset_8.xlsx' successfully loaded as xlsx.
File './data/dataset_2/sample_dataset_1.orc' successfully loaded as orc.
File './data/dataset_2/sample_dataset_2.parquet' successfully loaded as parquet.
File './data/dataset_2/sample_dataset_3.xml' successfully loaded as xml.
File './data/dataset_2/sample_dataset_4.json' successfully loaded as json.
File './data/dataset_2/sample_dataset_5.html' successfully loaded as html.
File './data/dataset_2/sample_dataset_6.csv' successfully loaded as csv.
File './data/dataset_2/sample_dataset_7.hdf5' successfully loaded as hdf5.
File './data/dataset_2/sample_dataset_8.xlsx' successfully loaded as xlsx.

# SPLIT DATAFRAME INTO MULTIPLE DATAFRAMES

In [5]:
PandasDatasetProcessor.generate_partitioned_datasets(dataset_2, 7)

[     flight_id  flight_number departure_airport departure_country  \
 0            1           1978               CFQ           Germany
 1            2           2337               ONG            France
 2            3           7588               TEX           Nigeria
 3            4           7545               ORB             Japan
 4            5           4553               WEW          Thailand
 ..         ...            ...               ...               ...
 710        711           9736               KUC              Peru
 711        712           8381               AML             China
 712        713           5505               LIO             China
 713        714           9372               LOT            Mexico
 714        715           1258               LVA           Finland

      departure_time arrival_country arrival_date  flight_duration  \
 0    6/7/2023 04:42        Colombia   27/12/2022            14.18
 1    6/7/2023 17:31     New Zealand   23/12/2022            13.54
 2    6/7/2023 11:08       Indonesia    30/9/2022             6.28
 3    6/7/2023 11:11           China   14/10/2022             5.60
 4    6/7/2023 10:40          Russia   13/10/2022            14.71
 ..              ...             ...          ...              ...
 710  6/7/2023 22:46           China    23/7/2022            13.06
 711  6/7/2023 04:52           China     2/6/2022             7.29
 712  6/7/2023 22:58      Uzbekistan    23/5/2022            23.87
 713  6/7/2023 02:57          Poland   18/12/2022            12.32
 714  6/7/2023 06:24           China   11/12/2022             4.33

      passenger_age passenger_nationality  ticket_price  baggage_weight  \
 0                0              Colombia        797.24           43.85
 1               29                Sweden        383.63           35.78
 2               34             Argentina        439.09           47.81
 3               34                 China        706.19           25.79
 4               40               Uruguay        906.66           11.60
 ..             ...                   ...           ...             ...
 710             57                Brazil        336.81           41.06
 711             51               Belarus        315.37           20.53
 712             26                 China        885.64           33.34
 713             43                 China        477.17           14.52
 714             48                Serbia        676.81           24.06

     arrival_gate         pilot_name  cabin_crew_count aircraft_registration  \
 0             E5          Sunny Few                 9                N12345
 1             D4     Donielle Strut                 4                N12345
 2             D4  Shelly Paddefield                 3                N67890
 3             D4  Babara Kretschmer                 6                N12345
 4             E5      Bert Mathison                 5                N67890
 ..           ...                ...               ...                   ...
 710           E5      Crista Autrie                 7                N12345
 711           D4       Bobbee Richt                 4                NABCDE
 712           F6      Meg Northeast                10                N67890
 713           D4     Jeannie Currin                 3                N67890
 714           F6      Kizzee Ronald                 6                NABCDE

      flight_distance
 0            1400.24
 1             465.84
 2            3151.78
 3             264.64
 4            2158.97
 ..               ...
 710          3856.26
 711          2999.64
 712          3046.93
 713          2363.77
 714          2520.19

 [715 rows x 17 columns],
       flight_id  flight_number departure_airport departure_country  \
 715         716           8366               NOM            Poland
 716         717           8327               DYL           Eritrea
 717         718           9362               KMC            Poland
 718         719           8146               MKB       Philippines
 719         720           4606               KSI          Pakistan
 ...         ...            ...               ...               ...
 1425       1426           1999               CTO             China
 1426       1427           4949               MAW           Finland
 1427       1428           2620               VAK          Portugal
 1428       1429           5847               NKS             China
 1429       1430           3851               AYW             China

       departure_time arrival_country arrival_date  flight_duration  \
 715   6/7/2023 15:28      Madagascar    23/7/2022            11.39
 716   6/7/2023 06:21     South Korea    27/4/2022            15.93
 717   6/7/2023 02:10           Japan     9/4/2022            14.30
 718   6/7/2023 08:25           Japan    12/4/2022            16.96
 719   6/7/2023 18:40      East Timor    31/5/2022            10.96
 ...              ...             ...          ...              ...
 1425  6/7/2023 01:27        Thailand    1/10/2022            17.08
 1426  6/7/2023 03:09           China    3/12/2022            10.41
 1427  6/7/2023 14:20       Indonesia    12/2/2022            15.11
 1428  6/7/2023 23:22     Philippines    25/7/2022            20.05
 1429  6/7/2023 15:43       Indonesia    5/11/2022             7.35

       passenger_age passenger_nationality  ticket_price  baggage_weight  \
 715              83                Mexico        867.70           17.89
 716              23                Israel        949.41           40.32
 717              72         United States        347.23           34.00
 718              24                Malawi        892.13           41.04
 719              78                 China        427.91            5.60
 ...             ...                   ...           ...             ...
 1425             33              Mongolia        335.33           21.30
 1426            100              Ethiopia        564.56            6.48
 1427             86                Poland        518.40           49.25
 1428             86                 China        310.91           44.76
 1429             85                Russia        408.01            5.57

      arrival_gate        pilot_name  cabin_crew_count aircraft_registration  \
 715            D4   Ancell Peasnone                 3                N12345
 716            E5  Winfield Brehaut                 4                N12345
 717            F6       Woodie Yaus                 3                N67890
 718            F6   Dulcy Hendrikse                 5                N67890
 719            D4      Murray Noone                 9                N12345
 ...           ...               ...               ...                   ...
 1425           D4   Marijo McGeneay                 8                NABCDE
 1426           D4     Herta Bindley                 3                NABCDE
 1427           D4    Udall Kneafsey                 1                N67890
 1428           E5         Ara Fridd                 1                N12345
 1429           F6  Gretchen Colquit                 3                N12345

       flight_distance
 715           2377.46
 716           4265.66
 717           3294.19
 718           3300.09
 719           2924.75
 ...               ...
 1425           933.54
 1426           745.55
 1427          2543.27
 1428          4702.66
 1429          4427.92

 [715 rows x 17 columns],
       flight_id  flight_number departure_airport       departure_country  \
 1430       1431           6847               DQA  Bosnia and Herzegovina
 1431       1432           2113               CZW                  Russia
 1432       1433            731               SZT               Indonesia
 1433       1434           7559               MWN                   China
 1434       1435           6284               KSO                  Greece
 ...         ...            ...               ...                     ...
 2139       2140            984               ZHY                Portugal
 2140       2141           8821               CCK                  Sweden
 2141       2142           6649               ULZ                  Russia
 2142       2143           1293               MTI                  Sweden
 2143       2144           6905               HSH               Argentina

       departure_time arrival_country arrival_date  flight_duration  \
 1430  6/7/2023 02:53        Malaysia    26/8/2022            21.11
 1431  6/7/2023 05:45           China   23/12/2022             2.48
 1432  6/7/2023 20:30     Philippines    5/10/2022            21.66
 1433  6/7/2023 08:46       Guatemala     4/9/2022            23.10
 1434  6/7/2023 15:12  Czech Republic    20/2/2022            19.92
 ...              ...             ...          ...              ...
 2139  6/7/2023 07:46          Russia   14/10/2022            12.16
 2140  6/7/2023 15:53          Brazil     1/3/2022            11.01
 2141  6/7/2023 07:27         Vietnam     3/6/2022            13.09
 2142  6/7/2023 14:03           China   29/11/2022            17.85
 2143  6/7/2023 09:49           China     2/6/2022            23.69

       passenger_age passenger_nationality  ticket_price  baggage_weight  \
 1430             95                 Japan        365.23            3.22
 1431             42              Thailand        243.07           26.53
 1432             46                France        872.65            9.18
 1433             73                Russia        132.63           20.08
 1434             50              Cameroon        789.55           31.51
 ...             ...                   ...           ...             ...
 2139             33                 China        286.11           48.30
 2140             76              Portugal        126.85           18.95
 2141             47             Indonesia        905.31           43.20
 2142             92               Ukraine        352.76           18.52
 2143             35                 China        580.64           47.03

      arrival_gate         pilot_name  cabin_crew_count aircraft_registration  \
 1430           D4       Liesa Orsman                 2                N67890
 1431           D4    Sharona Szymoni                 4                NABCDE
 1432           D4   Modesta Wheeldon                 2                NABCDE
 1433           E5      Rosana Seager                 7                N67890
 1434           F6    Link Fernihough                 5                NABCDE
 ...           ...                ...               ...                   ...
 2139           F6          Des Wands                 1                N67890
 2140           D4      Buddie MacGow                 8                N12345
 2141           E5  Thomasina Jatczak                 1                NABCDE
 2142           D4   Constantin Sline                10                NABCDE
 2143           F6      Davidde Armin                10                N12345

       flight_distance
 1430          2790.15
 1431          2047.56
 1432          4067.52
 1433          4627.08
 1434          4606.97
 ...               ...
 2139          2703.89
 2140          4799.70
 2141          2407.15
 2142          3916.93
 2143           748.36

 [714 rows x 17 columns],
       flight_id  flight_number departure_airport      departure_country  \
 2144       2145           2898               KIK                 Brazil
 2145       2146           4012               CAA                Armenia
 2146       2147           4963               SNZ              Indonesia
 2147       2148           7238               CHS                 Brazil
 2148       2149           7403               YGX                Finland
 ...         ...            ...               ...                    ...
 2853       2854           5009               CIR              Sri Lanka
 2854       2855           7396               ZEC                Ukraine
 2855       2856           5536               FUJ                 Brazil
 2856       2857           7119               NBO                 Poland
 2857       2858           3283               NEJ  Palestinian Territory

       departure_time arrival_country arrival_date  flight_duration  \
 2144  6/7/2023 22:44           China     6/8/2022            17.28
 2145  6/7/2023 04:23        Thailand    18/9/2022             2.76
 2146  6/7/2023 02:14           China    4/11/2022             2.92
 2147  6/7/2023 08:57         Ukraine   25/12/2022             6.54
 2148  6/7/2023 21:21          Poland    12/7/2022            13.27
 ...              ...             ...          ...              ...
 2853  6/7/2023 16:52       Guatemala    12/8/2022             3.82
 2854  6/7/2023 22:45          Poland   21/10/2022             2.43
 2855  6/7/2023 04:18       Indonesia    18/8/2022             3.95
 2856  6/7/2023 17:38          Mexico     1/1/2022             3.81
 2857  6/7/2023 20:28    South Africa   13/11/2022             6.96

       passenger_age passenger_nationality  ticket_price  baggage_weight  \
 2144             75                 China         60.62           37.77
 2145             66             Venezuela        694.61            3.42
 2146             40               Nigeria        135.73           35.84
 2147             54                  Peru        226.64            0.90
 2148             67                 China        186.13           46.04
 ...             ...                   ...           ...             ...
 2853             60                 China        261.84           25.64
 2854             29             Indonesia        200.76           40.67
 2855             37                 China        104.54           23.68
 2856             95                Poland        568.91           11.01
 2857             49              Cameroon        657.95           44.24

      arrival_gate         pilot_name  cabin_crew_count aircraft_registration  \
 2144           E5   Cameron Burtwell                 3                NABCDE
 2145           E5     Zarla Bashford                 3                N12345
 2146           F6      Gianna Szanto                 3                NABCDE
 2147           F6  Benjamin Cockrill                10                N12345
 2148           D4      Dalia Bencher                10                N12345
 ...           ...                ...               ...                   ...
 2853           F6     Trever Dewdney                 7                N12345
 2854           F6      Karylin Abels                 2                NABCDE
 2855           D4  Boniface Hedditch                 4                N12345
 2856           F6   Steve Twinberrow                10                NABCDE
 2857           E5   Kessiah Ettridge                 7                N12345

       flight_distance
 2144           690.37
 2145          2750.04
 2146           703.87
 2147          3580.76
 2148          3872.70
 ...               ...
 2853          2966.50
 2854           590.17
 2855          1644.17
 2856          2488.09
 2857          3179.73

 [714 rows x 17 columns],
       flight_id  flight_number departure_airport departure_country  \
 2858       2859           2192               BSK          Colombia
 2859       2860           2662               RBR            Russia
 2860       2861           6411               TMH             China
 2861       2862           8481               IAL            Brazil
 2862       2863           5835               POU         Indonesia
 ...         ...            ...               ...               ...
 3567       3568           2071               GOO             China
 3568       3569           5646               LAC           Croatia
 3569       3570           5722               BMH            Brazil
 3570       3571           9369               AQB         Indonesia
 3571       3572           2675               HCA            Sweden

       departure_time arrival_country arrival_date  flight_duration  \
 2858  6/7/2023 21:45           China    10/3/2022            22.45
 2859  6/7/2023 01:14          Rwanda    22/5/2022             2.35
 2860  6/7/2023 14:20           China     6/5/2022             7.57
 2861  6/7/2023 15:29        Thailand     3/6/2022            20.27
 2862  6/7/2023 18:23          Russia   29/11/2022             4.71
 ...              ...             ...          ...              ...
 3567  6/7/2023 14:46     New Zealand    27/7/2022             6.38
 3568  6/7/2023 00:10    South Africa     5/6/2022             8.62
 3569  6/7/2023 17:17       Argentina   30/12/2022             1.31
 3570  6/7/2023 22:05          Russia    13/5/2022             1.73
 3571  6/7/2023 07:27           China   23/12/2022            13.07

       passenger_age passenger_nationality  ticket_price  baggage_weight  \
 2858             93                Poland        213.20           11.23
 2859             60                France        302.24           19.94
 2860             64           North Korea         61.51            5.04
 2861             19                France        463.25           43.85
 2862             37           Philippines        918.94            9.10
 ...             ...                   ...           ...             ...
 3567             82                Russia        204.63           33.54
 3568             95                Poland        397.40           10.74
 3569             95                 China        648.87           26.76
 3570             87             Indonesia        455.99           45.34
 3571             33                 China        937.22           36.12

      arrival_gate            pilot_name  cabin_crew_count  \
 2858           E5       Evania Eversley                 9
 2859           E5         Tracey Tolmie                 5
 2860           D4         Petunia Mohun                 3
 2861           D4          Marten Robez                 6
 2862           F6         Fifine Aspall                10
 ...           ...                   ...               ...
 3567           F6        Dorita Dimelow                 2
 3568           D4         Guthry Deaves                 4
 3569           D4        Hurley Braisby                 2
 3570           E5           Teena Adess                 6
 3571           F6  Alexander Messruther                10

      aircraft_registration  flight_distance
 2858                N67890          2260.12
 2859                N12345          4777.36
 2860                N67890          2824.24
 2861                N12345          4479.21
 2862                NABCDE          3170.13
 ...                    ...              ...
 3567                NABCDE          2851.90
 3568                N67890          4672.31
 3569                N12345           970.89
 3570                N12345          3349.96
 3571                NABCDE          2860.19

 [714 rows x 17 columns],
       flight_id  flight_number departure_airport departure_country  \
 3572       3573           5772               LUM           Nigeria
 3573       3574           8719               BFT            Mexico
 3574       3575           6653               LZN            Brazil
 3575       3576           5896               ADY           Ukraine
 3576       3577           9815               MZS             China
 ...         ...            ...               ...               ...
 4281       4282           1018               GOV            Brazil
 4282       4283           8112               PJM             China
 4283       4284           6176               CXI            Poland
 4284       4285           1509               BSJ         Indonesia
 4285       4286           8364               BFX         Indonesia

       departure_time arrival_country arrival_date  flight_duration  \
 3572  6/7/2023 11:51          France    20/6/2022             2.32
 3573  6/7/2023 17:19          Greece    26/9/2022             4.55